In [1]:
import pandas as pd

In [3]:
df_utilities = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/ToDatabase/TotalUtilities.csv')

/anaconda3/envs/cds_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_junction_table = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/ToDatabase/addr_db.csv')

In [5]:
pd.options.display.max_columns = 15

In [6]:
df_junction_table.columns = ['PrimaryID', 'Address', 'Xcoord', 'Ycoord', 'Tract', 'BlockGroup']

In [7]:
df_junction_table.head()

   PrimaryID               Address     Xcoord     Ycoord    Tract  BlockGroup
0          0  1486 US HIGHWAY 19 S  31.732116 -84.170742  20300.0      1037.0
1          1  1064 US HIGHWAY 19 S  31.665719 -84.173577  20402.0      3003.0
2          2   905 US HIGHWAY 19 S  31.676679 -84.172067  20402.0      1001.0
3          3      501 S MADISON ST  31.570488 -84.162164   1500.0      1013.0
4          4       525 LINCOLN AVE  31.569466 -84.161175   1500.0      1012.0

In [8]:
s_junction_table = df_junction_table['Address']

In [9]:
s_utilities = df_utilities['Premise Address']

In [10]:
x = s_utilities.shape[0] # 14748395

In [11]:
x // 4

3687098

## Ranges:
#### Billy: 0 - 3687098
#### Olivia: 3687098 - 7374196
#### David: 7374196 - 11061294
#### Mirabel: 11061294 - 14748395 (mirabel needs to change size of primary list to 3687101

In [ ]:
primaryid_list1 = [None] * 14748395
notfound_list1 = []
counter = 0
for i in range(3687098, 7374196):
    if counter % 10000 == 0:
        print(str(counter))
    try:
        index_ = s_junction_table[s_junction_table == s_utilities[i]].index[0] #get index of where addresses match
        primaryid_list1[i] = index_
    except:
        primaryid_list1[i] = "NA"
        notfound_list1.append(s_utilities[i])
    counter += 1
primaryID1 = pd.Series(primaryid_list1)
notFound1 = pd.Series(notfound_list1)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000