In [3]:
import pandas as pd

In [7]:
path = '~/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/UtilitiesReformattedYears/'

In [9]:
df = pd.read_csv(path+'Total.csv')

/anaconda3/envs/cds/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (3,5,6,7,8,9,10,11,12,13,14,16,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df.head()

,ChargeID,Unnamed: 0,ChargeID.1,Premise,Premise Address,City,State,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month,Day,PrimaryID
0,0,0,0,10002,212 ACORN ST,ALBANY,GA,10002,DELC,100,216,340,30,KWH,79.85,2012-01-09,2012,1.0,9,28073
1,1,1,1,10002,212 ACORN ST,ALBANY,GA,10002,NaN,150,NaN,NaN,NaN,NaN,17.12,2012-01-09,2012,1.0,9,28073
2,2,2,2,10002,212 ACORN ST,ALBANY,GA,10002,CGAS,200,220,37,30,CCF,47.13,2012-01-09,2012,1.0,9,28073
3,3,3,3,10002,212 ACORN ST,ALBANY,GA,10002,CWTR,300,230,1,30,TGAL,9.67,2012-01-09,2012,1.0,9,28073
4,4,4,4,10002,212 ACORN ST,ALBANY,GA,10002,CSWR,400,250,1,30,NONE,10.93,2012-01-09,2012,1.0,9,28073

In [ ]:
df[df['Charge Year']==]

In [11]:
df_2 = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/ToDatabase/TestDB/Ship/Utility_v03.csv')

/anaconda3/envs/cds/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,4,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
df_2[df_2['YearMonth']=="2012_5"]

Empty DataFrame
Columns: [ChargeID, Premise, PremiseAddress, Customer, ServiceType, ServiceNumber, ServiceRate, Consumption, DaysOfService, UnitOfMeasure, ChargeAmount, ChargeDate, Year, Month, Day, AddressID, YearMonth, WeatherID]
Index: []