In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.options.display.max_columns = 100

In [3]:
path = '/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/'

In [10]:
df_test = pd.read_csv(path + 'Utilities_Add/2008Jan.csv', delimiter=';')

In [43]:
def read_earlier():
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    sup_path = path + 'Utilities_Add/'
    df_by_month = []
    for year in range(2008, 2012):
        for month in months:
            try:
                file_name = str(year) + month + '.csv'
                df = pd.read_csv(sup_path+file_name, delimiter=';')
                df['Year'] = year
                df['Month'] = month
                df_by_month.append(df)
            except:
                print(file_name + "not found!")
    return df_by_month

In [44]:
df_by_month = read_earlier()

2008Dec.csvnot found!

In [45]:
df = df_by_month[0]
for i in range(1, len(df_by_month)):
    df = pd.concat([df, df_by_month[i]], ignore_index=True)

In [46]:
df.head()

,Premise,Premise Address,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month
0,10001,"300 ACORN ST ALBANY, GA 31705-2304",58370,NaN,NaN,LATE,NaN,NaN,NaN,4.00,02-JAN-2008 ...,2008,Jan
1,10001,"300 ACORN ST ALBANY, GA 31705-2304",58370,RELC,100.0,110W,1124.0,30.0,KWH,89.33,08-JAN-2008 ...,2008,Jan
2,10001,"300 ACORN ST ALBANY, GA 31705-2304",58370,RGAS,200.0,120,53.0,30.0,CCF,74.22,08-JAN-2008 ...,2008,Jan
3,10001,"300 ACORN ST ALBANY, GA 31705-2304",58370,RWTR,300.0,130,6.0,30.0,TGAL,13.17,08-JAN-2008 ...,2008,Jan
4,10001,"300 ACORN ST ALBANY, GA 31705-2304",58370,RSWR,400.0,UNKN,6.0,30.0,NONE,22.00,08-JAN-2008 ...,2008,Jan

In [48]:
rep = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6,
      'Jul':7, 'Aug':8, 'Sep':9, 'Oct':10, 'Nov':11, 'Dec':12}
df['Month'] = df['Month'].replace(rep)

In [50]:
df.head()

,Premise,Premise Address,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month
0,10001,"300 ACORN ST ALBANY, GA 31705-2304",58370,NaN,NaN,LATE,NaN,NaN,NaN,4.00,02-JAN-2008 ...,2008,1
1,10001,"300 ACORN ST ALBANY, GA 31705-2304",58370,RELC,100.0,110W,1124.0,30.0,KWH,89.33,08-JAN-2008 ...,2008,1
2,10001,"300 ACORN ST ALBANY, GA 31705-2304",58370,RGAS,200.0,120,53.0,30.0,CCF,74.22,08-JAN-2008 ...,2008,1
3,10001,"300 ACORN ST ALBANY, GA 31705-2304",58370,RWTR,300.0,130,6.0,30.0,TGAL,13.17,08-JAN-2008 ...,2008,1
4,10001,"300 ACORN ST ALBANY, GA 31705-2304",58370,RSWR,400.0,UNKN,6.0,30.0,NONE,22.00,08-JAN-2008 ...,2008,1

In [51]:
addresses = df['Premise Address']
addresses = addresses.str.upper()

In [52]:
df[~addresses.str.contains("ALBANY, GA")]

,Premise,Premise Address,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month
160145,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,2130.0,31.0,CCF,2703.39,08-JAN-2008 ...,2008,1
327673,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,6730.0,31.0,CCF,8466.53,07-FEB-2008 ...,2008,2
495832,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,5270.0,29.0,CCF,6816.50,07-MAR-2008 ...,2008,3
665145,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,5050.0,31.0,CCF,6910.45,07-APR-2008 ...,2008,4
833664,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,1070.0,30.0,CCF,1588.45,07-MAY-2008 ...,2008,5
1000839,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,180.0,31.0,CCF,294.18,06-JUN-2008 ...,2008,6
1169447,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,240.0,30.0,CCF,433.45,08-JUL-2008 ...,2008,7
1339344,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,190.0,31.0,CCF,359.98,07-AUG-2008 ...,2008,8
1509792,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,110.0,31.0,CCF,230.19,08-SEP-2008 ...,2008,9
1682318,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,120.0,30.0,CCF,195.89,07-OCT-2008 ...,2008,10
1849654,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,140.0,31.0,CCF,212.22,06-NOV-2008 ...,2008,11
2014969,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,5630.0,31.0,CCF,7272.72,08-JAN-2009 ...,2009,1
2182687,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,4670.0,31.0,CCF,5353.67,06-FEB-2009 ...,2009,2
2350803,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,5340.0,28.0,CCF,5930.32,06-MAR-2009 ...,2009,3
2519849,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,3360.0,31.0,CCF,3569.48,07-APR-2009 ...,2009,4
2687214,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,950.0,30.0,CCF,1014.96,07-MAY-2009 ...,2009,5
2854807,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,100.0,31.0,CCF,97.72,05-JUN-2009 ...,2009,6
3023370,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,200.0,30.0,CCF,194.48,08-JUL-2009 ...,2009,7
3193485,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,140.0,31.0,CCF,154.41,07-AUG-2009 ...,2009,8
3361039,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,180.0,31.0,CCF,195.67,08-SEP-2009 ...,2009,9
3530177,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,230.0,30.0,CCF,245.72,07-OCT-2009 ...,2009,10
3698848,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,80.0,31.0,CCF,88.72,05-NOV-2009 ...,2009,11
3864555,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,280.0,30.0,CCF,294.12,07-DEC-2009 ...,2009,12
4029868,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,4600.0,31.0,CCF,4926.11,07-JAN-2010 ...,2010,1
4198944,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,6660.0,31.0,CCF,7094.75,05-FEB-2010 ...,2010,2
4368879,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,6870.0,29.0,CCF,7760.32,05-MAR-2010 ...,2010,3
4537613,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,5850.0,29.0,CCF,6606.99,07-APR-2010 ...,2010,4
4703364,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,330.0,31.0,CCF,391.64,07-MAY-2010 ...,2010,5
4871241,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,310.0,32.0,CCF,353.18,07-JUN-2010 ...,2010,6
5038306,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,220.0,30.0,CCF,254.75,08-JUL-2010 ...,2010,7
5208630,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,130.0,30.0,CCF,154.71,06-AUG-2010 ...,2010,8
5377508,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,10.0,31.0,CCF,20.72,08-SEP-2010 ...,2010,9
5546448,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,30.0,30.0,CCF,44.66,07-OCT-2010 ...,2010,10
5713957,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,200.0,31.0,CCF,221.31,05-NOV-2010 ...,2010,11
5881449,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,250.0,30.0,CCF,275.77,07-DEC-2010 ...,2010,12
6048013,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,7990.0,31.0,CCF,7714.56,07-JAN-2011 ...,2011,1
6218482,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,UNKN,9250.0,31.0,CCF,9914.32,07-FEB-2011 ...,2011,2
6388545,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,228,7270.0,28.0,CCF,7822.38,07-MAR-2011 ...,2011,3
6555501,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,228,1550.0,31.0,CCF,1675.57,07-APR-2011 ...,2011,4
6722711,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,228,2140.0,30.0,CCF,2201.27,06-MAY-2011 ...,2011,5
6889303,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,228,2170.0,31.0,CCF,2344.90,07-JUN-2011 ...,2011,6
7058001,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,228,1280.0,30.0,CCF,1414.08,08-JUL-2011 ...,2011,7
7227465,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,228,1500.0,31.0,CCF,1643.04,05-AUG-2011 ...,2011,8
7394739,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,228,2230.0,29.0,CCF,2437.07,08-SEP-2011 ...,2011,9
7562496,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,228,2040.0,31.0,CCF,2233.98,07-OCT-2011 ...,2011,10
7730584,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,228,3350.0,32.0,CCF,3448.08,07-NOV-2011 ...,2011,11
7896955,8469,"471 W US HWY 82 LEESBURG, GA 31763",8469,CGAS,200.0,228,5790.0,30.0,CCF,5870.84,07-DEC-2011 ...,2011,12

In [53]:
lis = []
for i in range(len(addresses)):
    address = addresses.iloc[i]
    ind = address.find(" ALBANY")
    if ind != -1:
        address = address[:ind]
    lis.append(address)
addresses = pd.Series(lis)

In [54]:
addresses.iloc[0]

'300  ACORN  ST'

In [55]:
df['Premise Address'] = addresses

In [56]:
df.head()

,Premise,Premise Address,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month
0,10001,300 ACORN ST,58370,NaN,NaN,LATE,NaN,NaN,NaN,4.00,02-JAN-2008 ...,2008,1
1,10001,300 ACORN ST,58370,RELC,100.0,110W,1124.0,30.0,KWH,89.33,08-JAN-2008 ...,2008,1
2,10001,300 ACORN ST,58370,RGAS,200.0,120,53.0,30.0,CCF,74.22,08-JAN-2008 ...,2008,1
3,10001,300 ACORN ST,58370,RWTR,300.0,130,6.0,30.0,TGAL,13.17,08-JAN-2008 ...,2008,1
4,10001,300 ACORN ST,58370,RSWR,400.0,UNKN,6.0,30.0,NONE,22.00,08-JAN-2008 ...,2008,1

In [57]:
df['ChargeID'] = [i for i in range(1, len(df)+1)]

In [58]:
cols = list(df)
cols = cols[-1:] + cols[:-1]

In [59]:
df = df[cols]

In [60]:
df.head()

,ChargeID,Premise,Premise Address,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month
0,1,10001,300 ACORN ST,58370,NaN,NaN,LATE,NaN,NaN,NaN,4.00,02-JAN-2008 ...,2008,1
1,2,10001,300 ACORN ST,58370,RELC,100.0,110W,1124.0,30.0,KWH,89.33,08-JAN-2008 ...,2008,1
2,3,10001,300 ACORN ST,58370,RGAS,200.0,120,53.0,30.0,CCF,74.22,08-JAN-2008 ...,2008,1
3,4,10001,300 ACORN ST,58370,RWTR,300.0,130,6.0,30.0,TGAL,13.17,08-JAN-2008 ...,2008,1
4,5,10001,300 ACORN ST,58370,RSWR,400.0,UNKN,6.0,30.0,NONE,22.00,08-JAN-2008 ...,2008,1

In [61]:
df.to_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/EarlyUtility_v01.csv', index=False)

In [36]:
### not yet done....

In [23]:
df_test = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/ToDatabase/TestDB/Ship/Utility_v03.csv')

/anaconda3/envs/cds/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (2,5,7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [62]:
df_test.tail()

,Unnamed: 0,ChargeID,Premise,PremiseAddress,Customer,ServiceType,ServiceNumber,ServiceRate,Consumption,DaysOfService,UnitOfMeasure,ChargeAmount,ChargeDate,Year,Month,Day,AddressID,YearMonth,WeatherID
14394885,14394885,14394886,9998,308 ACORN ST,53527,RSWR,400.0,150,7.2,36.0,NONE,35.40,2019-02-06,2019,2,6,1398,2019_2,218
14394886,14394886,14394887,9998,308 ACORN ST,53527,NaN,700.0,NaN,NaN,NaN,NaN,4.75,2019-02-06,2019,2,6,1398,2019_2,218
14394887,14394887,14394888,9998,308 ACORN ST,50820,NaN,NaN,NSC,NaN,NaN,NaN,25.00,2019-02-06,2019,2,6,1398,2019_2,218
14394888,14394888,14394889,9998,308 ACORN ST,50820,RELC,100.0,110W,0.0,0.0,KWH,0.00,2019-02-07,2019,2,7,1398,2019_2,218
14394889,14394889,14394890,9998,308 ACORN ST,50820,RGAS,200.0,120,0.0,0.0,CCF,0.00,2019-02-07,2019,2,7,1398,2019_2,218

In [7]:
df.head()

,ChargeID,Unnamed: 0,ChargeID.1,Premise,Premise Address,City,State,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month,Day,PrimaryID
0,0,0,0,10002,212 ACORN ST,ALBANY,GA,10002,DELC,100,216,340,30,KWH,79.85,2012-01-09,2012,1.0,9,28073
1,1,1,1,10002,212 ACORN ST,ALBANY,GA,10002,NaN,150,NaN,NaN,NaN,NaN,17.12,2012-01-09,2012,1.0,9,28073
2,2,2,2,10002,212 ACORN ST,ALBANY,GA,10002,CGAS,200,220,37,30,CCF,47.13,2012-01-09,2012,1.0,9,28073
3,3,3,3,10002,212 ACORN ST,ALBANY,GA,10002,CWTR,300,230,1,30,TGAL,9.67,2012-01-09,2012,1.0,9,28073
4,4,4,4,10002,212 ACORN ST,ALBANY,GA,10002,CSWR,400,250,1,30,NONE,10.93,2012-01-09,2012,1.0,9,28073

In [28]:
df.shape

(182668, 13)

In [30]:
df.columns = ["Premise", "Premise Address", "City", "State", "Customer", "Service Type", "Service Number", "Service Rate", "Consumption", "Days of Service", "Unit of Measure", "Charge Amount", "Charge Date"]

In [31]:
df.head()

,Premise,Premise Address,City,State,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date
0,225,225 W Broad AVE,ALBANY,GA,47897,NaN,800,NaN,NaN,NaN,NaN,249.95,2018-12-05 00:00:00
1,1001,636 JEFFERIES AVE,ALBANY,GA,101320,RELC,100,110W,466,34,KWH,62.96,2018-12-03 00:00:00
2,1001,636 JEFFERIES AVE,ALBANY,GA,101320,RGAS,200,120,25,34,CCF,39.98,2018-12-03 00:00:00
3,1001,636 JEFFERIES AVE,ALBANY,GA,101320,RWTR,300,130,6,34,TGAL,19.53,2018-12-03 00:00:00
4,1001,636 JEFFERIES AVE,ALBANY,GA,101320,RSWR,400,150,6.667,34,NONE,31.65,2018-12-03 00:00:00

In [38]:
df = pd.concat([df.iloc[25892:182668], df.iloc[0:25892]])

In [43]:
df.index = range(df.shape[0])

In [45]:
df.to_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/Reformatted/2018/2018Dec.csv')

In [53]:
def readexcel(year):
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    if year == "2019":
        months = ["Jan", "Feb"]
    year_list = []
    for month in months:
        path = '/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/Reformatted/' + str(year) + '/' + str(year) + month + '.xlsx'
        df = pd.read_excel(path)
        df.columns = [col.strip() for col in df.columns]
        if "City" not in df.columns:
            df.insert(2, "City", "ALBANY")
            df.insert(3, "State", "GA")
        df['Charge Date'] = df['Charge Date'].astype(str)
        parts = df['Charge Date'].str.split("-", expand=True)
        df['Year'] = parts[0]
        df['Month'] = parts[1]
        df['Day'] = parts[2]
        year_list.append(df)
        print(month)
    return year_list

In [28]:
def writedf(year_list, year):
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    df = year_list[0]
    for i in range(1, len(year_list)):
        df = pd.concat([df, year_list[i]], ignore_index=True)
        print(months[i])
    path = '/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/ReformattedYears/Totals'+str(year)+'.csv'
    df.to_csv(path)

In [7]:
df2 = pd.read_excel("/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/Reformatted/2017/2017Dec.xlsx")

In [12]:
df2.tail(100)

,Premise,Premise Address,City,State,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date
180493,9928,2021 LEONARD AVE,NaN,NaN,28146,RWTR,300.0,130,4.000,33.0,TGAL,14.12,2017-12-07
180494,9928,2021 LEONARD AVE,NaN,NaN,28146,RSWR,400.0,150,6.000,33.0,NONE,27.83,2017-12-07
180495,9929,2021 LEONARD AVE,NaN,NaN,54377,RELC,100.0,110W,721.000,33.0,KWH,87.66,2017-12-07
180496,9929,2021 LEONARD AVE,NaN,NaN,54377,RWTR,300.0,130,4.000,33.0,TGAL,14.12,2017-12-07
180497,9929,2021 LEONARD AVE,NaN,NaN,54377,RSWR,400.0,150,6.333,33.0,NONE,28.84,2017-12-07
180498,9929,2021 LEONARD AVE,NaN,NaN,54377,NaN,500.0,NaN,NaN,NaN,NaN,31.46,2017-12-07
180499,9930,2021 LEONARD AVE,NaN,NaN,28146,RELC,100.0,110W,0.000,15.0,KWH,5.48,2017-12-07
180500,9930,2021 LEONARD AVE,NaN,NaN,28146,RWTR,300.0,130,0.000,15.0,TGAL,5.81,2017-12-07
180501,9930,2021 LEONARD AVE,NaN,NaN,28146,RSWR,400.0,150,3.000,15.0,NONE,13.91,2017-12-07
180502,9930,2021 LEONARD AVE,NaN,NaN,28146,NaN,500.0,NaN,NaN,NaN,NaN,15.73,2017-12-07
180503,9933,2021 LEONARD AVE,NaN,NaN,111609,RELC,100.0,110W,1292.000,33.0,KWH,144.44,2017-12-07
180504,9933,2021 LEONARD AVE,NaN,NaN,111609,RWTR,300.0,130,56.000,33.0,TGAL,110.83,2017-12-07
180505,9933,2021 LEONARD AVE,NaN,NaN,111609,RSWR,400.0,150,6.000,33.0,NONE,27.83,2017-12-07
180506,9933,2021 LEONARD AVE,NaN,NaN,111609,NaN,500.0,NaN,NaN,NaN,NaN,31.46,2017-12-07
180507,9934,205 ACORN ST,NaN,NaN,9934,RELC,100.0,110W,1535.000,33.0,KWH,168.63,2017-12-07
180508,9934,205 ACORN ST,NaN,NaN,9934,RWTR,300.0,139,2.000,33.0,TGAL,11.61,2017-12-07
180509,9934,205 ACORN ST,NaN,NaN,9934,NaN,700.0,NaN,NaN,NaN,NaN,4.75,2017-12-07
180510,9940,211 ACORN ST,NaN,NaN,6018,RELC,100.0,110W,1381.000,33.0,KWH,153.31,2017-12-07
180511,9940,211 ACORN ST,NaN,NaN,6018,RGAS,200.0,120,0.000,33.0,CCF,5.20,2017-12-07
180512,9940,211 ACORN ST,NaN,NaN,6018,RWTR,300.0,130,7.000,33.0,TGAL,21.65,2017-12-07
180513,9940,211 ACORN ST,NaN,NaN,6018,RSWR,400.0,150,6.333,33.0,NONE,28.84,2017-12-07
180514,9940,211 ACORN ST,NaN,NaN,6018,NaN,500.0,NaN,NaN,NaN,NaN,31.46,2017-12-07
180515,9940,211 ACORN ST,NaN,NaN,6018,NaN,700.0,NaN,NaN,NaN,NaN,4.75,2017-12-07
180516,9941,2012 HUBERT AVE,NaN,NaN,5896,RELC,100.0,110W,0.000,33.0,KWH,10.97,2017-12-07
180517,9941,2012 HUBERT AVE,NaN,NaN,5896,RWTR,300.0,130,0.000,33.0,TGAL,11.61,2017-12-07
180518,9941,2012 HUBERT AVE,NaN,NaN,5896,RSWR,400.0,388,0.000,33.0,NONE,9.71,2017-12-07
180519,9941,2012 HUBERT AVE,NaN,NaN,5896,NaN,700.0,NaN,NaN,NaN,NaN,4.75,2017-12-07
180520,9945,2008 HUBERT AVE,NaN,NaN,9945,RELC,100.0,110W,1308.000,33.0,KWH,146.04,2017-12-07
180521,9945,2008 HUBERT AVE,NaN,NaN,9945,NaN,150.0,NaN,NaN,NaN,NaN,10.70,2017-12-07
180522,9945,2008 HUBERT AVE,NaN,NaN,9945,RWTR,300.0,130,1.000,33.0,TGAL,11.61,2017-12-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
180563,9974,2000 CLARK AVE,NaN,NaN,8984,RSWR,400.0,150,1.000,33.0,NONE,12.73,2017-12-07
180564,9974,2000 CLARK AVE,NaN,NaN,8984,NaN,500.0,NaN,NaN,NaN,NaN,31.46,2017-12-07
180565,9977,2000 CLARK AVE,NaN,NaN,213120,RELC,100.0,110W,514.000,33.0,KWH,66.04,2017-12-07
180566,9977,2000 CLARK AVE,NaN,NaN,213120,RWTR,300.0,130,4.000,33.0,TGAL,14.12,2017-12-07
180567,9977,2000 CLARK AVE,NaN,NaN,213120,RSWR,400.0,150,2.000,33.0,NONE,15.75,2017-12-07
180568,9977,2000 CLARK AVE,NaN,NaN,213120,NaN,500.0,NaN,NaN,NaN,NaN,31.46,2017-12-07
180569,9977,2000 CLARK AVE,NaN,NaN,213120,NaN,NaN,LATE,NaN,NaN,NaN,15.00,2017-12-12
180570,9978,2000 CLARK AVE,NaN,NaN,219363,RELC,100.0,110W,1281.000,33.0,KWH,143.36,2017-12-07
180571,9978,2000 CLARK AVE,NaN,NaN,219363,RWTR,300.0,130,4.000,33.0,TGAL,14.12,2017-12-07
180572,9978,2000 CLARK AVE,NaN,NaN,219363,RSWR,400.0,150,6.000,33.0,NONE,27.83,2017-12-07
180573,9978,2000 CLARK AVE,NaN,NaN,219363,NaN,500.0,NaN,NaN,NaN,NaN,31.46,2017-12-07
180574,9978,2000 CLARK AVE,NaN,NaN,219363,NaN,NaN,LATE,NaN,NaN,NaN,15.00,2017-12-12
180575,9981,2000 CLARK AVE,NaN,NaN,9981,RELC,100.0,110W,2529.000,33.0,KWH,267.48,2017-12-07
180576,9981,2000 CLARK AVE,NaN,NaN,9981,RWTR,300.0,130,6.000,33.0,TGAL,19.14,2017-12-07
180577,9981,2000 CLARK AVE,NaN,NaN,9981,RSWR,400.0,150,12.000,33.0,NONE,45.95,2017-12-07
180578,9981,2000 CLARK AVE,NaN,NaN,9981,NaN,500.0,NaN,NaN,NaN,NaN,31.46,2017-12-07
180579,9997,310 ACORN ST,NaN,NaN,218027,RELC,100.0,110W,1151.000,33.0,KWH,130.44,2017-12-07
180580,9997,310 ACORN ST,NaN,NaN,218027,RGAS,200.0,120,0.000,33.0,CCF,5.20,2017-12-07
180581,9997,310 ACORN ST,NaN,NaN,218027,RWTR,300.0,130,4.000,33.0,TGAL,14.12,2017-12-07
180582,9997,310 ACORN ST,NaN,NaN,218027,RSWR,400.0,150,6.000,33.0,NONE,27.83,2017-12-07
180583,9997,310 ACORN ST,NaN,NaN,218027,NaN,500.0,NaN,NaN,NaN,NaN,31.46,2017-12-07
180584,9997,310 ACORN ST,NaN,NaN,218027,NaN,700.0,NaN,NaN,NaN,NaN,4.75,2017-12-07
180585,9997,310 ACORN ST,NaN,NaN,218027,NaN,NaN,LATE,NaN,NaN,NaN,15.00,2017-12-12
180586,9998,308 ACORN ST,NaN,NaN,60902,RELC,100.0,110W,1661.000,33.0,KWH,181.16,2017-12-07
180587,9998,308 ACORN ST,NaN,NaN,60902,RGAS,200.0,120,59.000,33.0,CCF,88.07,2017-12-07
180588,9998,308 ACORN ST,NaN,NaN,60902,RWTR,300.0,130,47.000,33.0,TGAL,94.45,2017-12-07
180589,9998,308 ACORN ST,NaN,NaN,60902,RSWR,400.0,150,19.667,33.0,NONE,69.10,2017-12-07
180590,9998,308 ACORN ST,NaN,NaN,60902,NaN,500.0,NaN,NaN,NaN,NaN,31.46,2017-12-07
180591,9998,308 ACORN ST,NaN,NaN,60902,NaN,700.0,NaN,NaN,NaN,NaN,4.75,2017-12-07
180592,9998,308 ACORN ST,NaN,NaN,60902,NaN,NaN,LATE,NaN,NaN,NaN,15.00,2017-12-12

In [11]:
df.head(100)

,225,225 W Broad AVE,ALBANY,GA,47897,Unnamed: 5,800,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,249.95,2018-12-05 00:00:00
0,1001,636 JEFFERIES AVE,ALBANY,GA,101320,RELC,100,110W,466,34,KWH,62.96,2018-12-03 00:00:00
1,1001,636 JEFFERIES AVE,ALBANY,GA,101320,RGAS,200,120,25,34,CCF,39.98,2018-12-03 00:00:00
2,1001,636 JEFFERIES AVE,ALBANY,GA,101320,RWTR,300,130,6,34,TGAL,19.53,2018-12-03 00:00:00
3,1001,636 JEFFERIES AVE,ALBANY,GA,101320,RSWR,400,150,6.667,34,NONE,31.65,2018-12-03 00:00:00
4,1001,636 JEFFERIES AVE,ALBANY,GA,101320,NaN,500,NaN,NaN,NaN,NaN,32.12,2018-12-03 00:00:00
5,1001,636 JEFFERIES AVE,ALBANY,GA,101320,NaN,NaN,LATE,NaN,NaN,NaN,15,2018-12-06 00:00:00
6,1002,640 JEFFERIES AVE,ALBANY,GA,56600,RGAS,200,120,37,34,CCF,57.43,2018-12-03 00:00:00
7,1002,640 JEFFERIES AVE,ALBANY,GA,56600,RWTR,300,130,2,34,TGAL,11.85,2018-12-03 00:00:00
8,1002,640 JEFFERIES AVE,ALBANY,GA,56600,RSWR,400,150,2,34,NONE,16.58,2018-12-03 00:00:00
9,1002,640 JEFFERIES AVE,ALBANY,GA,56600,NaN,500,NaN,NaN,NaN,NaN,32.12,2018-12-03 00:00:00
10,1003,1504 NEWTON RD,ALBANY,GA,7599,RELC,100,110W,97,34,KWH,22.23,2018-12-03 00:00:00
11,1003,1504 NEWTON RD,ALBANY,GA,7599,RGAS,200,120,24,34,CCF,38.53,2018-12-03 00:00:00
12,1003,1504 NEWTON RD,ALBANY,GA,7599,RWTR,300,130,2,34,TGAL,11.85,2018-12-03 00:00:00
13,1003,1504 NEWTON RD,ALBANY,GA,7599,RSWR,400,150,6,34,NONE,29.5,2018-12-03 00:00:00
14,1003,1504 NEWTON RD,ALBANY,GA,7599,NaN,500,NaN,NaN,NaN,NaN,32.12,2018-12-03 00:00:00
15,1004,1506 NEWTON RD,ALBANY,GA,105782,RELC,100,110W,137,34,KWH,26.65,2018-12-03 00:00:00
16,1004,1506 NEWTON RD,ALBANY,GA,105782,RGAS,200,120,26,34,CCF,41.42,2018-12-03 00:00:00
17,1004,1506 NEWTON RD,ALBANY,GA,105782,RWTR,300,130,2,34,TGAL,11.85,2018-12-03 00:00:00
18,1004,1506 NEWTON RD,ALBANY,GA,105782,RSWR,400,150,2,34,NONE,16.58,2018-12-03 00:00:00
19,1004,1506 NEWTON RD,ALBANY,GA,105782,NaN,500,NaN,NaN,NaN,NaN,32.12,2018-12-03 00:00:00
20,1006,1508 NEWTON RD,ALBANY,GA,22703,RELC,100,110W,0,0,KWH,0,2018-12-03 00:00:00
21,1006,1508 NEWTON RD,ALBANY,GA,22703,RGAS,200,120,0,0,CCF,0,2018-12-03 00:00:00
22,1007,1600 GADSDEN DR,ALBANY,GA,200489,RELC,100,110W,600,34,KWH,77.75,2018-12-03 00:00:00
23,1007,1600 GADSDEN DR,ALBANY,GA,200489,RWTR,300,130,3,34,TGAL,11.85,2018-12-03 00:00:00
24,1007,1600 GADSDEN DR,ALBANY,GA,200489,RSWR,400,150,6,34,NONE,29.5,2018-12-03 00:00:00
25,1007,1600 GADSDEN DR,ALBANY,GA,200489,NaN,500,NaN,NaN,NaN,NaN,32.12,2018-12-03 00:00:00
26,1008,1602 GADSDEN DR,ALBANY,GA,1008,RELC,100,110W,238,34,KWH,37.78,2018-12-03 00:00:00
27,1008,1602 GADSDEN DR,ALBANY,GA,1008,RGAS,200,120,30,34,CCF,47.24,2018-12-03 00:00:00
28,1008,1602 GADSDEN DR,ALBANY,GA,1008,RWTR,300,130,3,34,TGAL,11.85,2018-12-03 00:00:00
29,1008,1602 GADSDEN DR,ALBANY,GA,1008,RSWR,400,150,1.667,34,NONE,15.5,2018-12-03 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1017,1620 GADSDEN DR,ALBANY,GA,222477,RSWR,400,150,6,32,NONE,29.5,2018-12-03 00:00:00
71,1017,1620 GADSDEN DR,ALBANY,GA,222477,NaN,500,NaN,NaN,NaN,NaN,32.12,2018-12-03 00:00:00
72,1019,1624 GADSDEN DR,ALBANY,GA,6699,RELC,100,110W,357,34,KWH,50.94,2018-12-03 00:00:00
73,1019,1624 GADSDEN DR,ALBANY,GA,6699,RGAS,200,120,33,34,CCF,51.61,2018-12-03 00:00:00
74,1019,1624 GADSDEN DR,ALBANY,GA,6699,RWTR,300,130,12,34,TGAL,31.39,2018-12-03 00:00:00
75,1019,1624 GADSDEN DR,ALBANY,GA,6699,RSWR,400,150,10,34,NONE,42.42,2018-12-03 00:00:00
76,1019,1624 GADSDEN DR,ALBANY,GA,6699,NaN,500,NaN,NaN,NaN,NaN,32.12,2018-12-03 00:00:00
77,1020,1626 GADSDEN DR,ALBANY,GA,44333,RELC,100,110W,191,34,KWH,32.6,2018-12-03 00:00:00
78,1020,1626 GADSDEN DR,ALBANY,GA,44333,RGAS,200,120,28,34,CCF,44.34,2018-12-03 00:00:00
79,1020,1626 GADSDEN DR,ALBANY,GA,44333,RWTR,300,130,0,34,TGAL,11.85,2018-12-03 00:00:00
80,1020,1626 GADSDEN DR,ALBANY,GA,44333,RSWR,400,150,2,34,NONE,16.58,2018-12-03 00:00:00
81,1020,1626 GADSDEN DR,ALBANY,GA,44333,NaN,500,NaN,NaN,NaN,NaN,32.12,2018-12-03 00:00:00
82,1021,1628 GADSDEN DR,ALBANY,GA,50508,RELC,100,110W,198,34,KWH,33.37,2018-12-03 00:00:00
83,1021,1628 GADSDEN DR,ALBANY,GA,50508,RGAS,200,120,22,34,CCF,35.6,2018-12-03 00:00:00
84,1021,1628 GADSDEN DR,ALBANY,GA,50508,RWTR,300,130,4,34,TGAL,14.41,2018-12-03 00:00:00
85,1021,1628 GADSDEN DR,ALBANY,GA,50508,RSWR,400,150,2.333,34,NONE,17.66,2018-12-03 00:00:00
86,1021,1628 GADSDEN DR,ALBANY,GA,50508,NaN,500,NaN,NaN,NaN,NaN,32.12,2018-12-03 00:00:00
87,1022,1630 GADSDEN DR,ALBANY,GA,61627,RELC,100,110W,107,34,KWH,23.35,2018-12-03 00:00:00
88,1022,1630 GADSDEN DR,ALBANY,GA,61627,RGAS,200,120,23,34,CCF,37.05,2018-12-03 00:00:00
89,1022,1630 GADSDEN DR,ALBANY,GA,61627,RWTR,300,130,2,34,TGAL,11.85,2018-12-03 00:00:00
90,1022,1630 GADSDEN DR,ALBANY,GA,61627,RSWR,400,150,1.667,34,NONE,15.5,2018-12-03 00:00:00
91,1022,1630 GADSDEN DR,ALBANY,GA,61627,NaN,500,NaN,NaN,NaN,NaN,32.12,2018-12-03 00:00:00
92,1023,1632 GADSDEN DR,ALBANY,GA,112442,RELC,100,110W,140,34,KWH,26.98,2018-12-03 00:00:00
93,1023,1632 GADSDEN DR,ALBANY,GA,112442,RGAS,200,120,29,34,CCF,45.78,2018-12-03 00:00:00
94,1023,1632 GADSDEN DR,ALBANY,GA,112442,RWTR,300,130,2,34,TGAL,11.85,2018-12-03 00:00:00
95,1023,1632 GADSDEN DR,ALBANY,GA,112442,RSWR,400,150,6,34,NONE,29.5,2018-12-03 00:00:00
96,1023,1632 GADSDEN DR,ALBANY,GA,112442,NaN,500,NaN,NaN,NaN,NaN,32.12,2018-12-03 00:00:00
97,1024,1634 GADSDEN DR,ALBANY,GA,4319,RELC,100,110W,168,34,KWH,30.06,2018-12-03 00:00:00
98,1024,1634 GADSDEN DR,ALBANY,GA,4319,RGAS,200,120,23,34,CCF,37.05,2018-12-03 00:00:00
99,1024,1634 GADSDEN DR,ALBANY,GA,4319,RWTR,300,130,4,34,TGAL,14.41,2018-12-03 00:00:00

In [96]:
df2012 = readexcel("2012")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [56]:
df2013 = readexcel("2013")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [60]:
df2013[3].head()

,Premise,Premise Address,City,State,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month,Day
0,10001,300 ACORN ST,ALBANY,GA,118225,NaN,NaN,CDEP,NaN,NaN,NaN,100.00,2013-04-19,2013,04,19
1,10001,300 ACORN ST,ALBANY,GA,118225,NaN,NaN,NSC,NaN,NaN,NaN,25.00,2013-04-22,2013,04,22
2,10002,212 ACORN ST,ALBANY,GA,10002,DELC,100.0,216,294.0,28.0,KWH,78.87,2013-04-05,2013,04,05
3,10002,212 ACORN ST,ALBANY,GA,10002,NaN,150.0,NaN,NaN,NaN,NaN,17.12,2013-04-05,2013,04,05
4,10002,212 ACORN ST,ALBANY,GA,10002,CGAS,200.0,220,22.0,28.0,CCF,36.47,2013-04-05,2013,04,05

In [51]:
df2013[2].head()

,Premise,Premise Address,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month,Day
0,10002,212 ACORN ST,10002,DELC,100.0,216,339.0,29.0,KWH,83.68,2013-03-07,2013,03,07
1,10002,212 ACORN ST,10002,NaN,150.0,NaN,NaN,NaN,NaN,17.12,2013-03-07,2013,03,07
2,10002,212 ACORN ST,10002,CGAS,200.0,220,37.0,29.0,CCF,52.81,2013-03-07,2013,03,07
3,10002,212 ACORN ST,10002,CWTR,300.0,230,0.0,29.0,TGAL,10.15,2013-03-07,2013,03,07
4,10002,212 ACORN ST,10002,CSWR,400.0,250,0.0,29.0,NONE,8.59,2013-03-07,2013,03,07

In [64]:
df2014 = readexcel("2014")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [68]:
df2015 = readexcel("2015")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [70]:
df2016 = readexcel("2016")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [72]:
df2017 = readexcel("2017")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [48]:
df2018 = readexcel("2018")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [54]:
df2019 = readexcel("2019")

Jan
Feb

In [97]:
writedf(df2012, 2012)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [61]:
writedf(df2013, 2013)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [65]:
writedf(df2014, 2014)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [69]:
writedf(df2015, 2015)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [71]:
writedf(df2016, 2016)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [73]:
writedf(df2017, 2017)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [49]:
writedf(df2018, 2018)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [55]:
writedf(df2019, 2019)

Feb

In [66]:
df_test2014 = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/ReformattedYears/Totals2014.csv')

/anaconda3/envs/cds/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (3,4,6,8,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [67]:
df_test2014.head()

,Unnamed: 0,Premise,Premise Address,City,State,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month,Day
0,0,10002,212 ACORN ST,ALBANY,GA,10002,DELC,100.0,216,432.0,37.0,KWH,98.97,2014-01-08,2014,1,8
1,1,10002,212 ACORN ST,ALBANY,GA,10002,NaN,150.0,NaN,NaN,NaN,NaN,21.40,2014-01-08,2014,1,8
2,2,10002,212 ACORN ST,ALBANY,GA,10002,CGAS,200.0,220,27.0,37.0,CCF,40.58,2014-01-08,2014,1,8
3,3,10002,212 ACORN ST,ALBANY,GA,10002,CWTR,300.0,230,4.0,37.0,TGAL,12.78,2014-01-08,2014,1,8
4,4,10002,212 ACORN ST,ALBANY,GA,10002,CSWR,400.0,250,4.0,37.0,NONE,19.85,2014-01-08,2014,1,8

### run cleaning script after merging together

In [11]:
path = '/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/ReformattedYears/'

In [114]:
years = ["2013", "2014", "2015", "2016", "2017", "2018", "2019"]
df = pd.read_csv(path + "Totals2012.csv")
for year in years:
    df_test = pd.read_csv(path+ "Totals" + year + ".csv")
    df = pd.concat([df, df_test], ignore_index=True)

In [115]:
df.drop('Unnamed: 0', inplace=True, axis=1)

In [101]:
df.to_csv(path+"Total.csv")

In [110]:
df.head()

,Premise,Premise Address,City,State,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month,Day
0,10002,212 ACORN ST,ALBANY,GA,10002,DELC,100,216,340,30,KWH,79.85,2012-01-09,2012,1.0,9
1,10002,212 ACORN ST,ALBANY,GA,10002,NaN,150,NaN,NaN,NaN,NaN,17.12,2012-01-09,2012,1.0,9
2,10002,212 ACORN ST,ALBANY,GA,10002,CGAS,200,220,37,30,CCF,47.13,2012-01-09,2012,1.0,9
3,10002,212 ACORN ST,ALBANY,GA,10002,CWTR,300,230,1,30,TGAL,9.67,2012-01-09,2012,1.0,9
4,10002,212 ACORN ST,ALBANY,GA,10002,CSWR,400,250,1,30,NONE,10.93,2012-01-09,2012,1.0,9

In [66]:
df['Premise Address'].value_counts().index

Index(['2401  NOTTINGHAM  WAY', '539 N WESTOVER  BLVD',
       '525  DON CUTLER SR  DR', '2415  BRIERWOOD  DR',
       '4000  GILLIONVILLE  RD', '2415  DAWSON  RD', '320 S JACKSON  ST',
       '1200  KINGSTOWN  CT', '2507  NOTTINGHAM  WAY', '333 S MOCK  RD',
       ...
       '509 W Gordon  AVE', '130  TOWER PLACE  LN', '3102  WAR EAGLE  AVE',
       '9  PATRICIA  DR', '110 N DAVIS  ST', '511  Greenwood  DR',
       '3100  Crepe Myrtle  CT', '522 W RESIDENCE  AVE', '506 S DAVIS  ST',
       '2601  KINSEY  DR'],
      dtype='object', length=31504)

In [116]:
s_utilities = df['Premise Address']

In [122]:
s_utilities.shape

(15658523,)

In [93]:
df.iloc[1991952,:]

Premise                         7802
Premise Address    703  WHITNEY  AVE
City                          ALBANY
State                             GA
Customer                      129025
Service Type                     NaN
Service Number                   500
Service Rate                     NaN
Consumption                      NaN
Days of Service                  NaN
Unit of Measure                  NaN
Charge Amount                  27.95
Charge Date               2012-12-05
Year                            2012
Month                             12
Day                                5
Name: 1991952, dtype: object

In [105]:
df.iloc[1995503:1995507]

,Premise,Premise Address,City,State,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month,Day
1995503,9998,308 ACORN ST,ALBANY,GA,60902,RSWR,400,150,6,33,NONE,24.85,2012-12-06,2012,12.0,6
1995504,9998,308 ACORN ST,ALBANY,GA,60902,NaN,500,NaN,NaN,NaN,NaN,27.95,2012-12-06,2012,12.0,6
1995505,NaN,NaN,ALBANY,GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
1995506,NaN,NaN,ALBANY,GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN

In [118]:
s_utilities[s_utilities.isna()].head()

1995505    NaN
1995506    NaN
1995507    NaN
1995508    NaN
1995509    NaN
Name: Premise Address, dtype: object

In [81]:
df[(df['Month']==11) & (df['Year']==2012)]

,Premise,Premise Address,City,State,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month,Day
1667223,10001,300 ACORN ST,ALBANY,GA,195024,NaN,NaN,LATE,NaN,NaN,NaN,6,2012-11-01,2012,11.0,1
1667224,10001,300 ACORN ST,ALBANY,GA,195024,RELC,100,110W,323,31,KWH,41.46,2012-11-07,2012,11.0,7
1667225,10001,300 ACORN ST,ALBANY,GA,195024,RWTR,300,130,0,31,TGAL,10.15,2012-11-07,2012,11.0,7
1667226,10001,300 ACORN ST,ALBANY,GA,195024,RSWR,400,150,6,31,NONE,24.85,2012-11-07,2012,11.0,7
1667227,10001,300 ACORN ST,ALBANY,GA,195024,NaN,500,NaN,NaN,NaN,NaN,27.95,2012-11-07,2012,11.0,7
1667228,10001,300 ACORN ST,ALBANY,GA,195024,NaN,NaN,LATE,NaN,NaN,NaN,6,2012-11-30,2012,11.0,30
1667229,10002,212 ACORN ST,ALBANY,GA,10002,DELC,100,216,410,32,KWH,90.45,2012-11-07,2012,11.0,7
1667230,10002,212 ACORN ST,ALBANY,GA,10002,NaN,150,NaN,NaN,NaN,NaN,17.12,2012-11-07,2012,11.0,7
1667231,10002,212 ACORN ST,ALBANY,GA,10002,CGAS,200,220,3,14,CCF,9.94,2012-11-07,2012,11.0,7
1667232,10002,212 ACORN ST,ALBANY,GA,10002,CWTR,300,230,2,32,TGAL,10.15,2012-11-07,2012,11.0,7
1667233,10002,212 ACORN ST,ALBANY,GA,10002,CSWR,400,250,2,32,NONE,14.01,2012-11-07,2012,11.0,7
1667234,10002,212 ACORN ST,ALBANY,GA,10002,NaN,500,NaN,NaN,NaN,NaN,27.95,2012-11-07,2012,11.0,7
1667235,10002,212 ACORN ST,ALBANY,GA,10002,NaN,NaN,LATE,NaN,NaN,NaN,6,2012-11-30,2012,11.0,30
1667236,10006,2101 LEONARD AVE,ALBANY,GA,14099,NaN,NaN,LATE,NaN,NaN,NaN,6,2012-11-01,2012,11.0,1
1667237,10006,2101 LEONARD AVE,ALBANY,GA,14099,NaN,NaN,CUTO,NaN,NaN,NaN,30,2012-11-06,2012,11.0,6
1667238,10006,2101 LEONARD AVE,ALBANY,GA,14099,RELC,100,110W,2716,31,KWH,264.02,2012-11-07,2012,11.0,7
1667239,10006,2101 LEONARD AVE,ALBANY,GA,14099,RWTR,300,130,13,31,TGAL,28.45,2012-11-07,2012,11.0,7
1667240,10006,2101 LEONARD AVE,ALBANY,GA,14099,RSWR,400,150,2.25,31,NONE,14.69,2012-11-07,2012,11.0,7
1667241,10006,2101 LEONARD AVE,ALBANY,GA,14099,NaN,500,NaN,NaN,NaN,NaN,27.95,2012-11-07,2012,11.0,7
1667242,10006,2101 LEONARD AVE,ALBANY,GA,14099,NaN,NaN,LATE,NaN,NaN,NaN,6,2012-11-30,2012,11.0,30
1667243,10009,2103 LEONARD AVE,ALBANY,GA,52591,NaN,NaN,LATE,NaN,NaN,NaN,6,2012-11-01,2012,11.0,1
1667244,10009,2103 LEONARD AVE,ALBANY,GA,52591,NaN,NaN,CUTO,NaN,NaN,NaN,30,2012-11-06,2012,11.0,6
1667245,10009,2103 LEONARD AVE,ALBANY,GA,52591,CELC,100,212,2967,32,KWH,398.73,2012-11-07,2012,11.0,7
1667246,10009,2103 LEONARD AVE,ALBANY,GA,52591,CWTR,300,230,8,32,TGAL,20.5,2012-11-07,2012,11.0,7
1667247,10009,2103 LEONARD AVE,ALBANY,GA,52591,CSWR,400,250,8,32,NONE,30.27,2012-11-07,2012,11.0,7
1667248,10009,2103 LEONARD AVE,ALBANY,GA,52591,NaN,NaN,LATE,NaN,NaN,NaN,6,2012-11-30,2012,11.0,30
1667249,1001,636 JEFFERIES AVE,ALBANY,GA,5687,RELC,100,110W,760,33,KWH,83.83,2012-11-15,2012,11.0,15
1667250,1001,636 JEFFERIES AVE,ALBANY,GA,5687,RGAS,200,120,40,33,CCF,46.01,2012-11-15,2012,11.0,15
1667251,1001,636 JEFFERIES AVE,ALBANY,GA,5687,RWTR,300,130,8,33,TGAL,20.5,2012-11-15,2012,11.0,15
1667252,1001,636 JEFFERIES AVE,ALBANY,GA,5687,RSWR,400,150,6.333,33,NONE,25.75,2012-11-15,2012,11.0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1802210,52293,2709 GILLIONVILLE RD,ALBANY,GA,196375,CELC,100,212W,652,10,KWH,93.38,2012-11-27,2012,11.0,27
1802211,52293,2709 GILLIONVILLE RD,ALBANY,GA,196375,CWTR,300,230,0,10,TGAL,3.38,2012-11-27,2012,11.0,27
1802212,52293,2709 GILLIONVILLE RD,ALBANY,GA,196375,CSWR,400,250,0,10,NONE,2.86,2012-11-27,2012,11.0,27
1802213,5230,301 W OAKRIDGE DR,ALBANY,GA,5230,DELC,100,212,9028,30,KWH,876.08,2012-11-05,2012,11.0,5
1802214,5230,301 W OAKRIDGE DR,ALBANY,GA,5230,NaN,150,NaN,NaN,NaN,NaN,38.52,2012-11-05,2012,11.0,5
1802215,5230,301 W OAKRIDGE DR,ALBANY,GA,5230,CWTR,300,230,2,30,TGAL,10.15,2012-11-05,2012,11.0,5
1802216,5230,301 W OAKRIDGE DR,ALBANY,GA,5230,CSWR,400,250,2,30,NONE,14.01,2012-11-05,2012,11.0,5
1802217,5230,301 W OAKRIDGE DR,ALBANY,GA,5230,NaN,500,NaN,NaN,NaN,NaN,83.85,2012-11-05,2012,11.0,5
1802218,5231,1907 S JACKSON ST,ALBANY,GA,5231,DELC,100,216,226,30,KWH,59.03,2012-11-05,2012,11.0,5
1802219,5231,1907 S JACKSON ST,ALBANY,GA,5231,NaN,150,NaN,NaN,NaN,NaN,8.56,2012-11-05,2012,11.0,5
1802220,5231,1907 S JACKSON ST,ALBANY,GA,5231,CGAS,200,220,0,30,CCF,8.06,2012-11-05,2012,11.0,5
1802221,5231,1907 S JACKSON ST,ALBANY,GA,5231,CWTR,300,230,7,30,TGAL,18.91,2012-11-05,2012,11.0,5
1802222,5231,1907 S JACKSON ST,ALBANY,GA,5231,CSWR,400,250,7,30,NONE,27.56,2012-11-05,2012,11.0,5
1802223,5231,1907 S JACKSON ST,ALBANY,GA,5231,NaN,500,NaN,NaN,NaN,NaN,27.95,2012-11-05,2012,11.0,5
1802224,52319,5111 DOWER AVE,ALBANY,GA,54684,NaN,NaN,LATE,NaN,NaN,NaN,6,2012-11-02,2012,11.0,2
1802225,52319,5111 DOWER AVE,ALBANY,GA,54684,NaN,NaN,CUTO,NaN,NaN,NaN,30,2012-11-07,2012,11.0,7
1802226,52319,5111 DOWER AVE,ALBANY,GA,54684,RWTR,300,140,7,33,TGAL,18.91,2012-11-08,2012,11.0,8
1802227,52320,1700 CORDELL AVE,ALBANY,GA,46640,CELC,103,315,64160,30,KWH,6838.26,2012-11-09,2012,11.0,9
1802228,52320,1700 CORDELL AVE,ALBANY,GA,46640,CGAS,200,220,210,30,CCF,212.53,2012-11-09,2012,11.0,9
1802229,52320,1700 CORDELL AVE,ALBANY,GA,46640,CWTR,301,234,83,30,TGAL,133.48,2012-11-09,2012,11.0,9
1802230,52320,1700 CORDELL AVE,ALBANY,GA,46640,CSWR,400,260,83,30,NONE,229.93,2012-11-09,2012,11.0,9
1802231,52321,2000 SCHILLING AVE,ALBANY,GA,103486,CWTR,300,233,12,29,TGAL,26.86,2012-11-09,2012,11.0,9
1802232,52321,2000 SCHILLING AVE,ALBANY,GA,103486,CSWR,400,252,12,29,NONE,41.11,2012-11-09,2012,11.0,9
1802233,52322,2000 SCHILLING AVE,ALBANY,GA,103486,CGAS,200,220,41,33,CCF,48.56,2012-11-09,2012,11.0,9
1802234,52322,2000 SCHILLING AVE,ALBANY,GA,103486,CWTR,300,230,24,33,TGAL,45.94,2012-11-09,2012,11.0,9
1802235,52322,2000 SCHILLING AVE,ALBANY,GA,103486,CSWR,400,251,24,33,NONE,73.63,2012-11-09,2012,11.0,9
1802236,52350,2421 STUART AVE,ALBANY,GA,81722,CELC,100,212W,673,32,KWH,95.92,2012-11-26,2012,11.0,26
1802237,52380,2412 CLARK AVE,ALBANY,GA,83939,CELC,100,212W,183,32,KWH,36.93,2012-11-07,2012,11.0,7
1802238,52410,2911 FIREFLY LN,ALBANY,GA,72042,RELC,100,110W,1403,30,KWH,143.51,2012-11-27,2012,11.0,27
1802239,52410,2911 FIREFLY LN,ALBANY,GA,72042,RWTR,300,130,5,30,TGAL,14.53,2012-11-27,2012,11.0,27

In [120]:
df = df.dropna(subset=['Premise Address'])

In [136]:
df.head()

,Premise,Premise Address,City,State,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month,Day
0,10002,212 ACORN ST,ALBANY,GA,10002,DELC,100,216,340,30,KWH,79.85,2012-01-09,2012,1.0,9
1,10002,212 ACORN ST,ALBANY,GA,10002,NaN,150,NaN,NaN,NaN,NaN,17.12,2012-01-09,2012,1.0,9
2,10002,212 ACORN ST,ALBANY,GA,10002,CGAS,200,220,37,30,CCF,47.13,2012-01-09,2012,1.0,9
3,10002,212 ACORN ST,ALBANY,GA,10002,CWTR,300,230,1,30,TGAL,9.67,2012-01-09,2012,1.0,9
4,10002,212 ACORN ST,ALBANY,GA,10002,CSWR,400,250,1,30,NONE,10.93,2012-01-09,2012,1.0,9

In [2]:
df = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/ReformattedYears/Total.csv')

/anaconda3/envs/cds/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (3,5,6,7,8,9,10,11,12,13,14,16,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
s_utilities = df['Premise Address'].str.strip()

In [4]:
tmp = s_utilities.str.split(expand=True)

In [5]:
tmp.head()

     0      1   2     3     4     5
0  212  ACORN  ST  None  None  None
1  212  ACORN  ST  None  None  None
2  212  ACORN  ST  None  None  None
3  212  ACORN  ST  None  None  None
4  212  ACORN  ST  None  None  None

In [6]:
tmp.iloc[3]

0      212
1    ACORN
2       ST
3     None
4     None
5     None
Name: 3, dtype: object

In [18]:
lis = [None] * len(tmp)
for i in range(len(tmp)):
    if i % 1000000 == 0:
        print(str(i))
    addr = ""
    for word in tmp.iloc[i]:
        if word != None:
            addr += word + " "
    addr = addr.strip()
    lis[i] = addr

0
1000000
2000000
3000000
4000000
5000000
6000000
7000000
8000000
9000000
10000000
11000000
12000000
13000000
14000000
15000000

In [20]:
fixed_util = pd.Series(lis)

In [23]:
fixed_util.tail()

15637764    308 ACORN ST
15637765    308 ACORN ST
15637766    308 ACORN ST
15637767    308 ACORN ST
15637768    308 ACORN ST
dtype: object

In [24]:
fixed_util.to_csv(path+"fixed_addr.csv")

/anaconda3/envs/cds/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [25]:
fixed_util.shape

(15637769,)

In [27]:
df = df.drop(['ChargeID.1', 'Unnamed: 0'], axis=1)

In [30]:
df = df.drop(['PrimaryID'], axis=1)

(15637769,)

In [39]:
df['Premise Address'] = fixed_util.str.upper()

In [40]:
df.to_csv(path+"Total.csv")

In [41]:
dftestutilities = pd.read_csv(path+'utilities_notfound.csv')

In [47]:
dftestutilities.iloc[300:400]

                         addr      loc
300  1401 WATER HYDRANT METER  1471605
301  1401 WATER HYDRANT METER  1471606
302  1401 WATER HYDRANT METER  1471607
303  1401 WATER HYDRANT METER  1471608
304  1401 WATER HYDRANT METER  1471609
305  1401 WATER HYDRANT METER  1471610
306  1401 WATER HYDRANT METER  1471611
307  1401 WATER HYDRANT METER  1471612
308  1401 WATER HYDRANT METER  1471613
309  1401 WATER HYDRANT METER  1471614
310  1401 WATER HYDRANT METER  1471615
311  1401 WATER HYDRANT METER  1471616
312  1401 WATER HYDRANT METER  1471617
313  1401 WATER HYDRANT METER  1471618
314  1401 WATER HYDRANT METER  1471619
315  1401 WATER HYDRANT METER  1471620
316  1401 WATER HYDRANT METER  1471621
317  1401 WATER HYDRANT METER  1471622
318  1401 WATER HYDRANT METER  1471623
319  1401 WATER HYDRANT METER  1471624
320  1401 WATER HYDRANT METER  1471625
321  1401 WATER HYDRANT METER  1471626
322  1401 WATER HYDRANT METER  1471627
323  1401 WATER HYDRANT METER  1471628
324  1401 WATER HYDRANT METER  1471629
325  1401 WATER HYDRANT METER  1471630
326  1401 WATER HYDRANT METER  1471631
327  1401 WATER HYDRANT METER  1471632
328  1401 WATER HYDRANT METER  1471633
329      231 E OGLETHORPE AVE  1520659
..                        ...      ...
370      231 E OGLETHORPE AVE  1688037
371                  1 SUMMIT  1746147
372       2821 KRESSINGTON DR  1762464
373  1401 WATER HYDRANT METER  1803071
374  1401 WATER HYDRANT METER  1803072
375  1401 WATER HYDRANT METER  1803073
376  1401 WATER HYDRANT METER  1803074
377  1401 WATER HYDRANT METER  1803075
378  1401 WATER HYDRANT METER  1803076
379  1401 WATER HYDRANT METER  1803077
380  1401 WATER HYDRANT METER  1803078
381  1401 WATER HYDRANT METER  1803079
382  1401 WATER HYDRANT METER  1803080
383  1401 WATER HYDRANT METER  1803081
384  1401 WATER HYDRANT METER  1803082
385  1401 WATER HYDRANT METER  1803083
386  1401 WATER HYDRANT METER  1803084
387  1401 WATER HYDRANT METER  1803085
388  1401 WATER HYDRANT METER  1803086
389  1401 WATER HYDRANT METER  1803087
390  1401 WATER HYDRANT METER  1803088
391  1401 WATER HYDRANT METER  1803089
392  1401 WATER HYDRANT METER  1803090
393  1401 WATER HYDRANT METER  1803091
394  1401 WATER HYDRANT METER  1803092
395  1401 WATER HYDRANT METER  1803093
396  1401 WATER HYDRANT METER  1803094
397  1401 WATER HYDRANT METER  1803095
398  1401 WATER HYDRANT METER  1803096
399  1401 WATER HYDRANT METER  1803097

[100 rows x 2 columns]

In [129]:
dftest = pd.read_csv(path+'Total.csv')

/anaconda3/envs/cds/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (3,5,6,7,8,9,10,11,12,13,14,16,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [134]:
dftest.head()

,ChargeID,ChargeID.1,Unnamed: 0,Premise,Premise Address,City,State,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month,Day,PrimaryID
0,0,0,0,10002,212 ACORN ST,ALBANY,GA,10002,DELC,100,216,340,30,KWH,79.85,2012-01-09,2012,1.0,9,30720
1,1,1,1,10002,212 ACORN ST,ALBANY,GA,10002,NaN,150,NaN,NaN,NaN,NaN,17.12,2012-01-09,2012,1.0,9,30720
2,2,2,2,10002,212 ACORN ST,ALBANY,GA,10002,CGAS,200,220,37,30,CCF,47.13,2012-01-09,2012,1.0,9,30720
3,3,3,3,10002,212 ACORN ST,ALBANY,GA,10002,CWTR,300,230,1,30,TGAL,9.67,2012-01-09,2012,1.0,9,30720
4,4,4,4,10002,212 ACORN ST,ALBANY,GA,10002,CSWR,400,250,1,30,NONE,10.93,2012-01-09,2012,1.0,9,30720

In [135]:
dftest['Premise Address'][0]

'212  ACORN  ST'

In [2]:
df = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/ReformattedYears/Total.csv')

/anaconda3/envs/cds/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (3,5,6,7,8,9,10,11,12,13,14,16,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.drop(['Unnamed: 0', 'ChargeID.1'], axis=1, inplace=True)

In [8]:
dftestutilities = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/ReformattedYears/utilities_notfound.csv')

In [10]:
dftestutilities['addr'].value_counts()

1401 WATER HYDRANT METER    665
231 E OGLETHORPE AVE        146
2821 KRESSINGTON DR          94
1 SUMMIT                     88
000 HYDRANT FLOW TEST PL     58
DARROW JCT                   14
000 WATER MAIN TAP            6
1 BAD DEBT                    6
120 BLAYLOCK ST               5
231 JOHN ST                   2
902 COTTON CT                 1
000 ALL STREET                1
929 BLAKELY CT                1
PREMISE ADDRESS               1
Name: addr, dtype: int64

120 OLD BLAYLOCK LN
902 COTTON AVE

In [11]:
df_junc = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/ToDatabase/addr_junct_table.csv')

In [19]:
df_junc[df_junc['Address'] == "929 BLAKELY CT"]

Empty DataFrame
Columns: [Id, Address, Xcoord, Ycoord, Tract, BlockGroup, Block]
Index: []

In [20]:
import Levenshtein

In [21]:
def lev_list(address_list, address, i):
    temp_list = []
    temp_list_u = []
    for u_address in address_list:
        if Levenshtein.distance(address, u_address.upper()) <= i:
            temp_list.append(address)
            temp_list_u.append(u_address.upper())
    temp_list_series = pd.Series(temp_list)
    temp_list_u_series = pd.Series(temp_list_u)
    return temp_list_u_series

In [34]:
lev_list(df_junc['Address'], "231 E OGLETHORPE AVE", 1)

Series([], dtype: float64)