In [1]:
import numpy as np
import pandas as pd

In [75]:
df = pd.read_excel("/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/Reformatted/2018/2018Dec.xlsx")

In [76]:
df.head()

,225,225 W Broad AVE,ALBANY,GA,47897,Unnamed: 5,800,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,249.95,2018-12-05 00:00:00
0,1001,636 JEFFERIES AVE,ALBANY,GA,101320,RELC,100,110W,466,34,KWH,62.96,2018-12-03 00:00:00
1,1001,636 JEFFERIES AVE,ALBANY,GA,101320,RGAS,200,120,25,34,CCF,39.98,2018-12-03 00:00:00
2,1001,636 JEFFERIES AVE,ALBANY,GA,101320,RWTR,300,130,6,34,TGAL,19.53,2018-12-03 00:00:00
3,1001,636 JEFFERIES AVE,ALBANY,GA,101320,RSWR,400,150,6.667,34,NONE,31.65,2018-12-03 00:00:00
4,1001,636 JEFFERIES AVE,ALBANY,GA,101320,NaN,500,NaN,NaN,NaN,NaN,32.12,2018-12-03 00:00:00

In [55]:
def readexcel(year):
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    year_list = []
    for month in months:
        path = '/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/Reformatted/' + str(year) + '/' + str(year) + month + '.xlsx'
        df = pd.read_excel(path)
        df.columns = [col.strip() for col in df.columns]
        if "City" not in df.columns:
            df.insert(2, "City", "ALBANY")
            df.insert(3, "State", "GA")
        df['Charge Date'] = df['Charge Date'].astype(str)
        parts = df['Charge Date'].str.split("-", expand=True)
        df['Year'] = parts[0]
        df['Month'] = parts[1]
        df['Day'] = parts[2]
        year_list.append(df)
        print(month)
    return year_list

In [42]:
def writedf(year_list, year):
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    df = year_list[0]
    for i in range(1, len(year_list)):
        df = pd.concat([df, year_list[i]], ignore_index=True)
        print(months[i])
    path = '/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/ReformattedYears/Totals'+str(year)+'.csv'
    df.to_csv(path)

In [35]:
df2012 = readexcel("2012")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [56]:
df2013 = readexcel("2013")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [60]:
df2013[3].head()

,Premise,Premise Address,City,State,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month,Day
0,10001,300 ACORN ST,ALBANY,GA,118225,NaN,NaN,CDEP,NaN,NaN,NaN,100.00,2013-04-19,2013,04,19
1,10001,300 ACORN ST,ALBANY,GA,118225,NaN,NaN,NSC,NaN,NaN,NaN,25.00,2013-04-22,2013,04,22
2,10002,212 ACORN ST,ALBANY,GA,10002,DELC,100.0,216,294.0,28.0,KWH,78.87,2013-04-05,2013,04,05
3,10002,212 ACORN ST,ALBANY,GA,10002,NaN,150.0,NaN,NaN,NaN,NaN,17.12,2013-04-05,2013,04,05
4,10002,212 ACORN ST,ALBANY,GA,10002,CGAS,200.0,220,22.0,28.0,CCF,36.47,2013-04-05,2013,04,05

In [51]:
df2013[2].head()

,Premise,Premise Address,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month,Day
0,10002,212 ACORN ST,10002,DELC,100.0,216,339.0,29.0,KWH,83.68,2013-03-07,2013,03,07
1,10002,212 ACORN ST,10002,NaN,150.0,NaN,NaN,NaN,NaN,17.12,2013-03-07,2013,03,07
2,10002,212 ACORN ST,10002,CGAS,200.0,220,37.0,29.0,CCF,52.81,2013-03-07,2013,03,07
3,10002,212 ACORN ST,10002,CWTR,300.0,230,0.0,29.0,TGAL,10.15,2013-03-07,2013,03,07
4,10002,212 ACORN ST,10002,CSWR,400.0,250,0.0,29.0,NONE,8.59,2013-03-07,2013,03,07

In [64]:
df2014 = readexcel("2014")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [68]:
df2015 = readexcel("2015")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [70]:
df2016 = readexcel("2016")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [72]:
df2017 = readexcel("2017")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [74]:
df2018 = readexcel("2018")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov

AttributeError: 'int' object has no attribute 'strip'

In [ ]:
df2019 = readexcel("2019")

In [43]:
writedf(df2012, 2012)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [61]:
writedf(df2013, 2013)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [65]:
writedf(df2014, 2014)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [69]:
writedf(df2015, 2015)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [71]:
writedf(df2016, 2016)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [73]:
writedf(df2017, 2017)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [ ]:
writedf(df2018, 2018)

In [ ]:
writedf(df2019, 2019)

In [66]:
df_test2014 = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/ReformattedYears/Totals2014.csv')

/anaconda3/envs/cds/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (3,4,6,8,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [67]:
df_test2014.head()

,Unnamed: 0,Premise,Premise Address,City,State,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month,Day
0,0,10002,212 ACORN ST,ALBANY,GA,10002,DELC,100.0,216,432.0,37.0,KWH,98.97,2014-01-08,2014,1,8
1,1,10002,212 ACORN ST,ALBANY,GA,10002,NaN,150.0,NaN,NaN,NaN,NaN,21.40,2014-01-08,2014,1,8
2,2,10002,212 ACORN ST,ALBANY,GA,10002,CGAS,200.0,220,27.0,37.0,CCF,40.58,2014-01-08,2014,1,8
3,3,10002,212 ACORN ST,ALBANY,GA,10002,CWTR,300.0,230,4.0,37.0,TGAL,12.78,2014-01-08,2014,1,8
4,4,10002,212 ACORN ST,ALBANY,GA,10002,CSWR,400.0,250,4.0,37.0,NONE,19.85,2014-01-08,2014,1,8