In [73]:
import pandas as pd
from pandas import DataFrame
import re
from functools import reduce

In [40]:
vacancy = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/Census/vacancy_17.csv')
owner_renter = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/Census/owner_renter_17.csv')
employment = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/Census/employment_17.csv')

In [68]:
vacancy

,GEO.id,GEO.id2,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,block,tract,county
0,Id,Id2,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - Occupied,Margin of Error; Total: - Occupied,Estimate; Total: - Vacant,Margin of Error; Total: - Vacant,Geography,None,None
1,1500000US130079601001,130079601001,524,91,378,77,146,58,Block Group 1,Census Tract 9601,Baker County
2,1500000US130079601002,130079601002,595,94,426,71,169,68,Block Group 2,Census Tract 9601,Baker County
3,1500000US130079602001,130079602001,298,65,224,63,74,47,Block Group 1,Census Tract 9602,Baker County
4,1500000US130079602002,130079602002,353,69,293,64,60,40,Block Group 2,Census Tract 9602,Baker County
5,1500000US130950001001,130950001001,433,129,280,124,153,102,Block Group 1,Census Tract 1,Dougherty County
6,1500000US130950001002,130950001002,175,98,175,98,0,13,Block Group 2,Census Tract 1,Dougherty County
7,1500000US130950001003,130950001003,397,132,329,118,68,75,Block Group 3,Census Tract 1,Dougherty County
8,1500000US130950001004,130950001004,938,194,714,180,224,131,Block Group 4,Census Tract 1,Dougherty County
9,1500000US130950001005,130950001005,493,127,407,140,86,62,Block Group 5,Census Tract 1,Dougherty County
10,1500000US130950002001,130950002001,352,102,271,107,81,64,Block Group 1,Census Tract 2,Dougherty County
11,1500000US130950002002,130950002002,170,78,101,65,69,62,Block Group 2,Census Tract 2,Dougherty County
12,1500000US130950002003,130950002003,560,118,470,119,90,63,Block Group 3,Census Tract 2,Dougherty County
13,1500000US130950002004,130950002004,244,84,164,69,80,62,Block Group 4,Census Tract 2,Dougherty County
14,1500000US130950004001,130950004001,738,176,575,155,163,103,Block Group 1,Census Tract 4,Dougherty County
15,1500000US130950004002,130950004002,1027,177,823,172,204,125,Block Group 2,Census Tract 4,Dougherty County
16,1500000US130950004003,130950004003,1542,195,1388,194,154,111,Block Group 3,Census Tract 4,Dougherty County
17,1500000US130950005011,130950005011,1476,173,1412,186,64,70,Block Group 1,Census Tract 5.01,Dougherty County
18,1500000US130950005012,130950005012,880,146,869,149,11,19,Block Group 2,Census Tract 5.01,Dougherty County
19,1500000US130950005021,130950005021,668,114,609,119,59,63,Block Group 1,Census Tract 5.02,Dougherty County
20,1500000US130950005022,130950005022,550,101,522,107,28,34,Block Group 2,Census Tract 5.02,Dougherty County
21,1500000US130950005023,130950005023,237,54,237,54,0,13,Block Group 3,Census Tract 5.02,Dougherty County
22,1500000US130950005024,130950005024,485,73,443,72,42,44,Block Group 4,Census Tract 5.02,Dougherty County
23,1500000US130950006001,130950006001,713,107,583,107,130,90,Block Group 1,Census Tract 6,Dougherty County
24,1500000US130950006002,130950006002,799,111,606,136,193,100,Block Group 2,Census Tract 6,Dougherty County
25,1500000US130950007001,130950007001,933,50,761,70,172,57,Block Group 1,Census Tract 7,Dougherty County
26,1500000US130950008001,130950008001,428,60,353,64,75,35,Block Group 1,Census Tract 8,Dougherty County
27,1500000US130950008002,130950008002,298,68,209,66,89,39,Block Group 2,Census Tract 8,Dougherty County
28,1500000US130950009001,130950009001,543,73,413,74,130,55,Block Group 1,Census Tract 9,Dougherty County
29,1500000US130950009002,130950009002,551,65,425,61,126,51,Block Group 2,Census Tract 9,Dougherty County
...,...,...,...,...,...,...,...,...,...,...,...
82,1500000US131770204022,131770204022,1478,226,1478,226,0,13,Block Group 2,Census Tract 204.02,Lee County
83,1500000US131770204023,131770204023,447,139,367,130,80,88,Block Group 3,Census Tract 204.02,Lee County
84,1500000US131770204024,131770204024,464,86,464,86,0,13,Block Group 4,Census Tract 204.02,Lee County
85,1500000US131770204031,131770204031,1888,134,1851,137,37,46,Block Group 1,Census Tract 204.03,Lee County
86,1500000US131770204032,131770204032,300,78,274,70,26,42,Block Group 2,Census Tract 204.03,Lee County
87,1500000US132731202001,132731202001,287,53,217,47,70,35,Block Group 1,Census Tract 1202,Terrell County
88,1500000US132731202002,132731202002,491,59,338,57,153,50,Block Group 2,Census Tract 1202,Terrell County
89,1500000US132731203001,132731203001,354,93,294,73,60,68,Block Group 1,Census Tract 1203,Terrell County
90,1500000US132731203002,132731203002,558,120,426,103,132,89,Block Group 2,Census Tract 1203,Terrell County
91,1500000US132731203003,132731203003,271,94,173,59,98,90,Block Group 3,Census Tract 1203,Terrell County
92,1500000US132731203004,132731203004,291,76,204,71,87,71,Block Group 4,Census Tract 1203,Terrell County
93,1500000US132731204001,132731204001,489,100,428,94,61,58,Block Group 1,Census Tract 1204,Terrell County
94,1500000US132731204002,132731204002,320,70,320,70,0,13,Block Group 2,Census Tract 1204,Terrell County
95,1500000US132731204003,132731204003,465,105,313,72,152,82,Block Group 3,Census Tract 1204,Terrell County
96,1500000US132731205001,132731205001,651,63,577,64,74,35,Block Group 1,Census Tract 1205,Terrell County
97,1500000US133219501001,133219501001,664,111,459,113,205,89,Block Group 1,Census Tract 9501,Worth County
98,1500000US133219501002,133219501002,766,110,656,115,110,76,Block Group 2,Census Tract 9501,Worth County
99,1500000US133219502001,133219502001,638,146,638,146,0,13,Block Group 1,Census Tract 9502,Worth County
100,1500000US133219502002,133219502002,935,169,799,171,136,117,Block Group 2,Census Tract 9502,Worth County
101,1500000US133219502003,133219502003,632,170,585,166,47,72,Block Group 3,Census Tract 9502,Worth County
102,1500000US133219502004,133219502004,707,204,661,199,46,67,Block Group 4,Census Tract 9502,Worth County
103,1500000US133219504001,133219504001,733,124,616,120,117,50,Block Group 1,Census Tract 9504,Worth County
104,1500000US133219504002,133219504002,378,106,262,84,116,80,Block Group 2,Census Tract 9504,Worth County
105,1500000US133219504003,133219504003,304,76,255,65,49,55,Block Group 3,Census Tract 9504,Worth County
106,1500000US133219504004,133219504004,549,103,440,82,109,64,Block Group 4,Census Tract 9504,Worth County
107,1500000US133219505001,133219505001,925,143,695,126,230,97,Block Group 1,Census Tract 9505,Worth County
108,1500000US133219505002,133219505002,510,119,487,111,23,39,Block Group 2,Census Tract 9505,Worth County
109,1500000US133219505003,133219505003,565,131,492,132,73,55,Block Group 3,Census Tract 9505,Worth County
110,1500000US133219506001,133219506001,590,75,542,76,48,37,Block Group 1,Census Tract 9506,Worth County
111,1500000US133219506002,133219506002,420,72,312,62,108,55,Block Group 2,Census Tract 9506,Worth County

In [42]:
owner_renter.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - Owner occupied,Margin of Error; Total: - Owner occupied,Estimate; Total: - Renter occupied,Margin of Error; Total: - Renter occupied
1,1500000US130079601001,130079601001,"Block Group 1, Census Tract 9601, Baker County...",869,181,457,159,412,154
2,1500000US130079601002,130079601002,"Block Group 2, Census Tract 9601, Baker County...",1247,223,764,170,483,210
3,1500000US130079602001,130079602001,"Block Group 1, Census Tract 9602, Baker County...",487,149,386,133,101,74
4,1500000US130079602002,130079602002,"Block Group 2, Census Tract 9602, Baker County...",645,120,489,120,156,91

In [43]:
employment.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,HD01_VD05,HD02_VD05,HD01_VD06,HD02_VD06,HD01_VD07,HD02_VD07
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; In labor force:,Margin of Error; In labor force:,Estimate; In labor force: - Civilian labor force:,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Civilian labor for...,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Civilian labor for...,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Armed Forces,Margin of Error; In labor force: - Armed Forces,Estimate; Not in labor force,Margin of Error; Not in labor force
1,1500000US130079601001,130079601001,"Block Group 1, Census Tract 9601, Baker County...",684,144,350,113,350,113,350,113,0,13,0,13,334,87
2,1500000US130079601002,130079601002,"Block Group 2, Census Tract 9601, Baker County...",1038,170,488,124,488,124,461,126,27,22,0,13,550,156
3,1500000US130079602001,130079602001,"Block Group 1, Census Tract 9602, Baker County...",450,129,262,106,262,106,262,106,0,13,0,13,188,70
4,1500000US130079602002,130079602002,"Block Group 2, Census Tract 9602, Baker County...",507,98,219,69,219,69,213,69,6,9,0,13,288,81

# vacancy

In [44]:
new = vacancy["GEO.display-label"].str.split(", ", expand = True)   
vacancy["block"] = new[0] 
vacancy["tract"] = new[1]
vacancy["county"] = new[2]

In [45]:
vacancy = vacancy.drop('GEO.display-label', axis = 1)

In [46]:
l = len(vacancy['tract'])
vacancy1 = vacancy.copy()
re_string = 'Census Tract (\d+(?:.\d+)?)'
for i in range(1,l):
    s = vacancy.loc[i, 'tract']
    m = re.search(re_string, s)
    vacancy1.loc[i, 'tract'] = m.group(1)

In [47]:
l = len(vacancy['block'])
re_string = 'Block Group (\d+(?:.\d+)?)'
for i in range(1,l):
    s = vacancy.loc[i, 'block']
    m = re.search(re_string, s)
    vacancy1.loc[i, 'block'] = m.group(1)

In [48]:
tract_series = vacancy1['tract']
l = len(vacancy1['tract'])
for i in range(1,l):
    if '.' in tract_series[i]:
        s = tract_series[i].split('.')
        if len(s[0]) == 1:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 2:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 3:
            tract_series[i] = s[0] + s[1]
    else:
        if len(tract_series[i]) == 3:
            tract_series[i] = vacancy1['tract'][i] + '00'
        elif len(tract_series[i]) == 2:
            tract_series[i] = vacancy1['tract'][i] + '00'
        elif len(tract_series[i]) == 1:
            tract_series[i] = vacancy1['tract'][i] + '00'
        elif len(tract_series[i]) == 4:
            tract_series[i] = vacancy1['tract'][i] + '00'

In [83]:
vacancy1.head()
vacancy1.shape

(112, 11)

# owner_renter

In [50]:
new = owner_renter["GEO.display-label"].str.split(", ", expand = True)   
owner_renter["block"] = new[0] 
owner_renter["tract"] = new[1]
owner_renter["county"] = new[2]

In [51]:
owner_renter = owner_renter.drop('GEO.display-label', axis = 1)

In [52]:
l = len(owner_renter['tract'])
owner_renter1 = owner_renter.copy()
re_string = 'Census Tract (\d+(?:.\d+)?)'
for i in range(1,l):
    s = owner_renter.loc[i, 'tract']
    m = re.search(re_string, s)
    owner_renter1.loc[i, 'tract'] = m.group(1)

In [62]:
l = len(owner_renter['block'])
re_string = 'Block Group (\d+(?:.\d+)?)'
for i in range(1,l):
    s = owner_renter.loc[i, 'block']
    m = re.search(re_string, s)
    owner_renter1.loc[i, 'block'] = m.group(1)

In [63]:
tract_series = owner_renter1['tract']
l = len(owner_renter1['tract'])
for i in range(1,l):
    if '.' in tract_series[i]:
        s = tract_series[i].split('.')
        if len(s[0]) == 1:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 2:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 3:
            tract_series[i] = s[0] + s[1]
    else:
        if len(tract_series[i]) == 3:
            tract_series[i] = owner_renter1['tract'][i] + '00'
        elif len(tract_series[i]) == 2:
            tract_series[i] = owner_renter1['tract'][i] + '00'
        elif len(tract_series[i]) == 1:
            tract_series[i] = owner_renter1['tract'][i] + '00'
        elif len(tract_series[i]) == 4:
            tract_series[i] = owner_renter1['tract'][i] + '00'

In [82]:
owner_renter1.head()
owner_renter1.shape

(112, 11)

# employment

In [55]:
new = employment["GEO.display-label"].str.split(", ", expand = True)   
employment["block"] = new[0] 
employment["tract"] = new[1]
employment["county"] = new[2]

In [56]:
employment = employment.drop('GEO.display-label', axis = 1)

In [58]:
l = len(employment['tract'])
employment1 = employment.copy()
re_string = 'Census Tract (\d+(?:.\d+)?)'
for i in range(1,l):
    s = employment.loc[i, 'tract']
    m = re.search(re_string, s)
    employment1.loc[i, 'tract'] = m.group(1)

In [65]:
l = len(employment['block'])
re_string = 'Block Group (\d+(?:.\d+)?)'
for i in range(1,l):
    s = employment.loc[i, 'block']
    m = re.search(re_string, s)
    employment1.loc[i, 'block'] = m.group(1)

In [66]:
tract_series = employment1['tract']
l = len(employment1['tract'])
for i in range(1,l):
    if '.' in tract_series[i]:
        s = tract_series[i].split('.')
        if len(s[0]) == 1:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 2:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 3:
            tract_series[i] = s[0] + s[1]
    else:
        if len(tract_series[i]) == 3:
            tract_series[i] = employment1['tract'][i] + '00'
        elif len(tract_series[i]) == 2:
            tract_series[i] = employment1['tract'][i] + '00'
        elif len(tract_series[i]) == 1:
            tract_series[i] = employment1['tract'][i] + '00'
        elif len(tract_series[i]) == 4:
            tract_series[i] = employment1['tract'][i] + '00'

In [81]:
employment1.head()
employment1.shape

(112, 19)

# Joining

In [87]:
vacancy1['block_tract'] = vacancy1['block'] + '_' + vacancy1['tract']
vacancy1.head()

,GEO.id,GEO.id2,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,block,tract,county,block_tract
0,Id,Id2,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - Occupied,Margin of Error; Total: - Occupied,Estimate; Total: - Vacant,Margin of Error; Total: - Vacant,Geography,None,None,NaN
1,1500000US130079601001,130079601001,524,91,378,77,146,58,1,960100,Baker County,1_960100
2,1500000US130079601002,130079601002,595,94,426,71,169,68,2,960100,Baker County,2_960100
3,1500000US130079602001,130079602001,298,65,224,63,74,47,1,960200,Baker County,1_960200
4,1500000US130079602002,130079602002,353,69,293,64,60,40,2,960200,Baker County,2_960200

In [88]:
owner_renter1['block_tract'] = owner_renter['block'] + '_' + owner_renter1['tract']
owner_renter1.head()

,GEO.id,GEO.id2,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,block,tract,county,block_tract
0,Id,Id2,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - Owner occupied,Margin of Error; Total: - Owner occupied,Estimate; Total: - Renter occupied,Margin of Error; Total: - Renter occupied,Geography,None,None,NaN
1,1500000US130079601001,130079601001,869,181,457,159,412,154,1,960100,Baker County,Block Group 1_960100
2,1500000US130079601002,130079601002,1247,223,764,170,483,210,2,960100,Baker County,Block Group 2_960100
3,1500000US130079602001,130079602001,487,149,386,133,101,74,1,960200,Baker County,Block Group 1_960200
4,1500000US130079602002,130079602002,645,120,489,120,156,91,2,960200,Baker County,Block Group 2_960200

In [84]:
employment1['block_tract'] = employment1['block'] + '_' + employment1['tract']
employment1.head()

,GEO.id,GEO.id2,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,HD01_VD05,HD02_VD05,HD01_VD06,HD02_VD06,HD01_VD07,HD02_VD07,block,tract,county,block_tract
0,Id,Id2,Estimate; Total:,Margin of Error; Total:,Estimate; In labor force:,Margin of Error; In labor force:,Estimate; In labor force: - Civilian labor force:,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Civilian labor for...,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Civilian labor for...,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Armed Forces,Margin of Error; In labor force: - Armed Forces,Estimate; Not in labor force,Margin of Error; Not in labor force,Geography,None,None,NaN
1,1500000US130079601001,130079601001,684,144,350,113,350,113,350,113,0,13,0,13,334,87,1,960100,Baker County,1_960100
2,1500000US130079601002,130079601002,1038,170,488,124,488,124,461,126,27,22,0,13,550,156,2,960100,Baker County,2_960100
3,1500000US130079602001,130079602001,450,129,262,106,262,106,262,106,0,13,0,13,188,70,1,960200,Baker County,1_960200
4,1500000US130079602002,130079602002,507,98,219,69,219,69,213,69,6,9,0,13,288,81,2,960200,Baker County,2_960200

In [90]:
vacancy1.merge(vacancy1, on = "block_tract", how = "inner").shape

(112, 23)

In [91]:
owner_renter1.merge(owner_renter1, on = "block_tract", how = "inner").shape

(112, 23)

In [85]:
employment1.merge(employment1, on = "block_tract", how = "inner").shape

(112, 39)

In [92]:
vacancy1.to_csv('vacancy.csv', index = False)

In [93]:
owner_renter1.to_csv('owner_renter.csv', index = False)

In [94]:
employment1.to_csv('employment.csv', index = False)