### First step in reformatting utilities
Formerly utilities_reformatted_merge_clean<br>
This file reads in the raw utility xlsx files, downloaded from the reformatted data in Sharepoint.<br>
It standardizes column names and creates separate Year, Month, Day columns from the charge date.<br>
Then, it removes extra spacing from the addresses and converts each address to upper case<br>
It drops charges where the address was recorded as NA<br>
Then, it exports the utilities charges as one large csv<br>

In [2]:
import numpy as np
import pandas as pd
IN_PATH = '/home/mirabel/Dropbox (GaTech)/CDS-2019-AlbanyHub/Raw-Data/UtilitiesReformatted/'
OUT_PATH = '/home/mirabel/Dropbox (GaTech)/CDS-2019-AlbanyHub/Test-Replication/'

In [3]:
#Combine monthly utilities xlsx files into a list of dataframes for a particular year
def readexcel(year, in_path):
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    if year == "2019":
        months = ["Jan", "Feb"]
    year_list = []
    for month in months:
        #Read in file
        path = in_path + str(year) + '/' + str(year) + month + '.xlsx'
        df = pd.read_excel(path)
        #Drop space from column names
        df.columns = [col.strip() for col in df.columns]
        #Some utilities months contain 'City'/'State' and others don't -> add city and state columns
        if "City" not in df.columns:
            df.insert(2, "City", "ALBANY")
            df.insert(3, "State", "GA")
        #Change the type of charge date to string
        df['Charge Date'] = df['Charge Date'].astype(str)
        parts = df['Charge Date'].str.split("-", expand=True)
        #Split charge date string into year, month, and day
        df['Year'] = parts[0]
        df['Month'] = parts[1]
        df['Day'] = parts[2]
        year_list.append(df)
        print(month)
    return year_list

In [3]:
#Write the dataframes from each year into one csv
def writedf(year_list, year, out_path):
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    df = year_list[0]
    for i in range(1, len(year_list)):
        df = pd.concat([df, year_list[i]], ignore_index=True)
        print(months[i])
    path = out_path+'Totals'+str(year)+'.csv'
    df.to_csv(path, index=False)

### Read the raw data and write to combined csvs for each year

In [ ]:
df2012 = readexcel("2012", IN_PATH)

In [11]:
df2013 = readexcel("2013", IN_PATH)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [5]:
df2014 = readexcel("2014", IN_PATH)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [6]:
df2015 = readexcel("2015", IN_PATH)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [5]:
df2016 = readexcel("2016", IN_PATH)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [6]:
df2017 = readexcel("2017", IN_PATH)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [9]:
df2018 = readexcel("2018", IN_PATH)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [10]:
df2019 = readexcel("2019", IN_PATH)

Jan
Feb

Write (Optional)

In [13]:
writedf(df2012, 2012, OUT_PATH)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [14]:
writedf(df2013, 2013, OUT_PATH)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [8]:
writedf(df2014, 2014, OUT_PATH)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [9]:
writedf(df2015, 2015, OUT_PATH)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [7]:
writedf(df2016, 2016, OUT_PATH)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [8]:
writedf(df2017, 2017, OUT_PATH)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [11]:
writedf(df2018, 2018, OUT_PATH)

Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [12]:
writedf(df2019, 2019, OUT_PATH)

Feb

### run cleaning script after merging together

In [3]:
#path = '/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/ReformattedYears/'
path=OUT_PATH

In [5]:
#Combine all year csvs into a single dataframe
years = ["2013", "2014", "2015", "2016", "2017", "2018", "2019"]
df = pd.read_csv(path + "Totals2012.csv")
for year in years:
    df_test = pd.read_csv(path+ "Totals" + year + ".csv")
    df = pd.concat([df, df_test], ignore_index=True)

/home/mirabel/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/mirabel/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (2,3,5,7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/mirabel/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/mirabel/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,2,3,4,6,8,9,11,13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/mirabel/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (5,7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
#Drop extra column from index if it exists
print(df.shape)
df.drop('Unnamed: 0', inplace=True, axis=1, errors='ignore')
df.shape

(15658523, 16)

(15658523, 16)

In [7]:
s_utilities = df['Premise Address']
s_utilities.shape # number of records

(15658523,)

In [9]:
s_utilities[s_utilities.isna()].shape #There are some NA addresses

(20754,)

In [10]:
df = df.dropna(subset=['Premise Address']) #Drop NA addresses
df.shape

(15637769, 16)

In [14]:
#Send to one large csv (~2GB)
df.to_csv(path+"Total.csv", index=False)

In [4]:
#Read back in (or skip if it is already in memory)
df = pd.read_csv(path+'Total.csv')

/home/mirabel/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,2,3,4,5,6,7,8,9,10,11,13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
#Strip extra spaces from each address
s_utilities = df['Premise Address'].str.strip()
#Uncomment if this results in memory issues
# del df 
s_utilities[s_utilities.isna()].shape

(0,)

In [6]:
#Strip extra space between words
lis = [None] * len(s_utilities)
for i in range(len(s_utilities)):
    #Print % done
    if i % 1000000 == 0:
        print(str(i))
    tmp = s_utilities.iloc[i].split() #Split by all space characters -> list 
    lis[i] = " ".join(tmp) # Reformat with only one space
len(lis)

0
1000000
2000000
3000000
4000000
5000000
6000000
7000000
8000000
9000000
10000000
11000000
12000000
13000000
14000000
15000000

15637769

In [12]:
fixed_util = pd.Series(lis)
# del lis
# del s_utilities
# #Read back in (or skip if it is already in memory)
# df = pd.read_csv(path+'Total.csv')

(0,)

In [8]:
fixed_util.tail()

15637764    308 ACORN ST
15637765    308 ACORN ST
15637766    308 ACORN ST
15637767    308 ACORN ST
15637768    308 ACORN ST
dtype: object

In [9]:
#Export fixed addresses to csv
#fixed_util.to_csv(path+"fixed_addr.csv", index=False)

In [10]:
fixed_util.shape

(15637769,)

In [11]:
#Convert all addresses to upper case
df['Premise Address'] = fixed_util.str.upper()

In [14]:
#Export back to original csv
df.to_csv(path+"Total.csv", index=False)

# Step 1 Stop Here

In [ ]:
dftestutilities = pd.read_csv(path+'utilities_notfound.csv')

In [ ]:
dftestutilities.iloc[300:400]

In [ ]:
dftest = pd.read_csv(path+'Total.csv')

In [ ]:
dftest.head()

In [ ]:
dftest['Premise Address'][0]

In [ ]:
df = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/ReformattedYears/Total.csv')

In [ ]:
df.drop(['Unnamed: 0', 'ChargeID.1'], axis=1, inplace=True)

In [ ]:
dftestutilities = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/ReformattedYears/utilities_notfound.csv')

In [ ]:
dftestutilities['addr'].value_counts()

120 OLD BLAYLOCK LN
902 COTTON AVE

In [ ]:
df_junc = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/ToDatabase/addr_junct_table.csv')

In [ ]:
df_junc[df_junc['Address'] == "929 BLAKELY CT"]

In [ ]:
import Levenshtein

In [ ]:
def lev_list(address_list, address, i):
    temp_list = []
    temp_list_u = []
    for u_address in address_list:
        if Levenshtein.distance(address, u_address.upper()) <= i:
            temp_list.append(address)
            temp_list_u.append(u_address.upper())
    temp_list_series = pd.Series(temp_list)
    temp_list_u_series = pd.Series(temp_list_u)
    return temp_list_u_series

In [ ]:
lev_list(df_junc['Address'], "231 E OGLETHORPE AVE", 1)

In [7]:
df.shape

(15637769, 16)

In [8]:
s_u = df['Premise Address']

In [ ]:
s_