In [3]:
import pandas as pd

In [3]:
path = '/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/ToDatabase/TestDB/Ship/'

In [17]:
df_real = pd.read_csv(path+'RealEstate_v02.csv')
df_address = pd.read_csv(path+'Address_v02.csv')
df_housing = pd.read_csv(path+'Project_v02.csv')

In [19]:
s_real_addr = df_real['Address']
s_addr_addr = df_address['Address']
s_housing_addr = df_housing['Address']

In [56]:
len(s_real_addr.unique())

26931

In [57]:
len(s_addr_addr.unique())

30590

In [58]:
len(s_housing_addr.unique())

598

In [21]:
df_real['AddressID'] = df_real['AddressID'].astype('Int64')

In [23]:
areprojects = df_housing['AddressID']

In [27]:
allids = df_real['AddressID']

In [33]:
indexes = df_real[allids.isin(areprojects)].index

In [35]:
to_series = []
for i in range(len(df_real)):
    record = df_real.iloc[i]
    if i in indexes:
        to_series.append(1)
    else:
        to_series.append(0)

In [36]:
to_series = pd.Series(to_series)

In [39]:
df_real['ProjInd'] = to_series

In [40]:
df_real.to_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/analysis/realprojind.csv', index=False)

In [41]:
df_utility = pd.read_csv(path+'Utility_v03.csv')

/anaconda3/envs/cds/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,4,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [42]:
df_utility.head()

,ChargeID,Premise,PremiseAddress,Customer,ServiceType,ServiceNumber,ServiceRate,Consumption,DaysOfService,UnitOfMeasure,ChargeAmount,ChargeDate,Year,Month,Day,AddressID,YearMonth,WeatherID
0,1,10002,212 ACORN ST,10002,DELC,100.0,216,340.0,30.0,KWH,79.85,2012-01-09,2012,1,9,27945,2012_1,133
1,2,10002,212 ACORN ST,10002,NaN,150.0,NaN,NaN,NaN,NaN,17.12,2012-01-09,2012,1,9,27945,2012_1,133
2,3,10002,212 ACORN ST,10002,CGAS,200.0,220,37.0,30.0,CCF,47.13,2012-01-09,2012,1,9,27945,2012_1,133
3,4,10002,212 ACORN ST,10002,CWTR,300.0,230,1.0,30.0,TGAL,9.67,2012-01-09,2012,1,9,27945,2012_1,133
4,5,10002,212 ACORN ST,10002,CSWR,400.0,250,1.0,30.0,NONE,10.93,2012-01-09,2012,1,9,27945,2012_1,133

In [44]:
utilids = df_utility['AddressID']

In [46]:
indexes = df_utility[utilids.isin(allids)].index

In [67]:
len(indexes)

12593591

In [50]:
df_utility = df_utility.loc[indexes]

In [70]:
df_utility.tail()

,ChargeID,Premise,PremiseAddress,Customer,ServiceType,ServiceNumber,ServiceRate,Consumption,DaysOfService,UnitOfMeasure,ChargeAmount,ChargeDate,Year,Month,Day,AddressID,YearMonth,WeatherID
14394885,14394886,9998,308 ACORN ST,53527,RSWR,400.0,150,7.2,36.0,NONE,35.40,2019-02-06,2019,2,6,1398,2019_2,218
14394886,14394887,9998,308 ACORN ST,53527,NaN,700.0,NaN,NaN,NaN,NaN,4.75,2019-02-06,2019,2,6,1398,2019_2,218
14394887,14394888,9998,308 ACORN ST,50820,NaN,NaN,NSC,NaN,NaN,NaN,25.00,2019-02-06,2019,2,6,1398,2019_2,218
14394888,14394889,9998,308 ACORN ST,50820,RELC,100.0,110W,0.0,0.0,KWH,0.00,2019-02-07,2019,2,7,1398,2019_2,218
14394889,14394890,9998,308 ACORN ST,50820,RGAS,200.0,120,0.0,0.0,CCF,0.00,2019-02-07,2019,2,7,1398,2019_2,218

In [72]:
len(df_utility['PremiseAddress'].unique())

26951

In [74]:
len(df_real['AddressID'].unique())

26968

In [82]:
gas = df_utility[df_utility['ServiceType']=='RGAS']

In [98]:
gas['YearMonth'].value_counts()

2012_3     11231
2012_2     11217
2012_1     11140
2012_4     11139
2012_6     10979
2013_3     10953
2013_4     10945
2013_1     10898
2013_2     10898
2014_3     10823
2012_7     10799
2012_12    10783
2014_2     10761
2014_4     10759
2012_8     10739
2013_6     10700
2014_1     10668
2012_11    10650
2015_3     10623
2013_7     10596
2015_2     10551
2012_10    10517
2015_8     10516
2013_8     10506
2012_9     10506
2015_4     10505
2013_12    10502
2014_6     10469
2015_1     10453
2016_3     10372
           ...
2016_6      9990
2018_2      9965
2018_1      9958
2016_12     9946
2015_10     9935
2015_11     9922
2018_3      9913
2017_5      9909
2016_7      9906
2017_6      9827
2017_12     9809
2016_8      9800
2018_4      9800
2018_5      9689
2016_11     9682
2016_9      9678
2017_7      9651
2017_8      9650
2019_1      9645
2017_11     9614
2016_10     9607
2018_6      9548
2019_2      9537
2017_9      9529
2018_7      9475
2017_10     9461
2018_8      9367
2018_11     9304
2018_9      9298
2018_10     9148
Name: YearMonth, Length: 81, dtype: int64

In [100]:
gas_2012_3 = gas[gas['YearMonth']=="2012_3"]

In [103]:
gas_2012_3.shape

(11231, 18)

In [104]:
gas_2012_3.head()

,ChargeID,Premise,PremiseAddress,Customer,ServiceType,ServiceNumber,ServiceRate,Consumption,DaysOfService,UnitOfMeasure,ChargeAmount,ChargeDate,Year,Month,Day,AddressID,YearMonth,WeatherID
330768,330769,10010,2105 LEONARD AVE,20476,RGAS,200.0,120,38.0,29.0,CCF,41.68,2012-03-07,2012,3,7,27949,2012_3,135
330772,330773,10011,201 ELSOM ST,10011,RGAS,200.0,120,59.0,31.0,CCF,62.90,2012-03-19,2012,3,19,27950,2012_3,135
330778,330779,10012,203 ELSOM ST,10012,RGAS,200.0,120,30.0,29.0,CCF,33.61,2012-03-07,2012,3,7,27951,2012_3,135
330785,330786,10013,205 ELSOM ST,89228,RGAS,200.0,120,0.0,29.0,CCF,4.87,2012-03-07,2012,3,7,27952,2012_3,135
330791,330792,10014,207 ELSOM ST,114506,RGAS,200.0,120,23.0,29.0,CCF,26.55,2012-03-07,2012,3,7,27953,2012_3,135

In [106]:
real_ids = df_real['AddressID']

In [107]:
gas2012 = gas_2012_3['AddressID']

In [108]:
ids = real_ids.isin(gas2012)

In [112]:
len(gas2012)

11231

In [110]:
sum(ids)

10151

In [113]:
df_real.loc[ids]

,RealEstateID,Address,LotSize,ZoningType,SizeZoningIdent,PropClass,YearBuilt,Size,Baths,Beds,...,Floors,Condition,FoundationType,RoofCover,WallType,ImprovementYear,Assessment,Market,AddressID,ProjInd
302,303,804 16TH AVE,0.26,Residential,R1B,Single Family Residence / Townhouse,1955.0,1532.0,1.0,3.0,...,WOOD,AVERAGE,MASONRY,SHINGLE,BRICK VENEER,0.0,26520.0,66300.0,9902,0
303,304,802 16TH AVE,0.26,Residential,R1B,Single Family Residence / Townhouse,1955.0,1373.0,1.0,3.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,BRICK VENEER,0.0,23040.0,57600.0,9903,0
304,305,800 16TH AVE,0.26,Residential,R1B,Single Family Residence / Townhouse,1954.0,1107.0,1.0,3.0,...,CARPET,AVERAGE,MASONRY,ASPHALT,COMPOSITION,0.0,20644.0,51610.0,9904,0
305,306,720 16TH AVE,0.26,Residential,R1B,Single Family Residence / Townhouse,1954.0,1254.0,1.0,3.0,...,NaN,AVERAGE,MASONRY,SHINGLE,ASBESTOS,0.0,19720.0,49300.0,9905,0
306,307,718 16TH AVE,0.26,Residential,R1B,Single Family Residence / Townhouse,1954.0,1162.0,2.0,3.0,...,WOOD,AVERAGE,MASONRY,SHINGLE,BRICK VENEER,1986.0,31160.0,77900.0,9906,0
307,308,716 16TH AVE,0.26,Residential,R1B,Single Family Residence / Townhouse,1954.0,1214.0,1.0,3.0,...,CARPET,AVERAGE,MASONRY,ASPHALT,SHINGLE,0.0,19160.0,47900.0,9907,0
309,310,710 16TH AVE,0.26,Residential,R1B,Single Family Residence / Townhouse,1956.0,1488.0,1.0,3.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,COMPOSITION,0.0,25080.0,62700.0,9909,0
310,311,708 16TH AVE,0.26,Residential,R1B,Single Family Residence / Townhouse,1955.0,1461.0,1.0,3.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,BRICK VENEER,0.0,25880.0,64700.0,9910,0
311,312,706 16TH AVE,0.26,Residential,R1B,Single Family Residence / Townhouse,1955.0,1947.0,2.0,3.0,...,CARPET,AVERAGE,MASONRY,ASPHALT,COMPOSITION,0.0,29680.0,74200.0,9911,0
312,313,704 16TH AVE,0.26,Residential,R1B,Single Family Residence / Townhouse,1955.0,1495.0,1.0,3.0,...,CARPET,AVERAGE,MASONRY,ASPHALT,SHINGLE,0.0,23700.0,59250.0,9912,0
313,314,702 16TH AVE,0.22,Residential,R1B,Single Family Residence / Townhouse,1955.0,1244.0,1.0,3.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,ASBESTOS,0.0,28804.0,72010.0,9913,0
314,315,700 16TH AVE,0.15,Residential,R1B,Single Family Residence / Townhouse,1956.0,1202.0,1.0,3.0,...,WOOD,AVERAGE,SLAB,METAL,BRICK VENEER,1988.0,28440.0,71100.0,9914,0
316,317,703 16TH AVE,0.22,Residential,R1B,Single Family Residence / Townhouse,1956.0,1248.0,1.0,3.0,...,WOOD,AVERAGE,SLAB,ASPHALT,COMPOSITION,0.0,20880.0,52200.0,9916,0
318,319,707 16TH AVE,0.26,Residential,R1B,Single Family Residence / Townhouse,1956.0,1468.0,2.0,3.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,ASBESTOS,0.0,22200.0,55500.0,9918,0
319,320,709 16TH AVE,0.26,Residential,R1B,Single Family Residence / Townhouse,1956.0,1134.0,1.0,3.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,BRICK VENEER,0.0,21400.0,53500.0,9919,0
320,321,711 16TH AVE,0.26,Residential,R1B,Single Family Residence / Townhouse,1956.0,1593.0,2.0,3.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,NaN,0.0,25520.0,63800.0,9920,0
321,322,2306 LAMAR ST,0.38,Residential,R1B,Single Family Residence / Townhouse,1955.0,1743.0,2.0,3.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,BRICK VENEER,0.0,31884.0,79710.0,9921,0
322,323,2308 LAMAR ST,0.29,Residential,R1B,Single Family Residence / Townhouse,1965.0,1175.0,1.0,3.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,BRICK VENEER,0.0,25680.0,64200.0,9922,0
323,324,2311 LAMAR ST,0.26,Residential,R1B,Single Family Residence / Townhouse,1955.0,1128.0,1.0,2.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,ASBESTOS,0.0,19920.0,49800.0,9923,0
324,325,2309 LAMAR ST,0.26,Residential,R1B,Single Family Residence / Townhouse,1955.0,1080.0,1.0,3.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,ASBESTOS,0.0,19040.0,47600.0,9924,0
327,328,523 HOLLOWAY AVE,0.17,Residential,R3,Single Family Residence / Townhouse,1930.0,1351.0,1.5,3.0,...,WOOD,AVERAGE,PIER,METAL,COMPOSITION,0.0,7272.0,18180.0,9927,0
329,330,809 16TH AVE,0.31,Residential,R1B,Single Family Residence / Townhouse,1954.0,1005.0,1.5,3.0,...,NaN,AVERAGE,MASONRY,ASPHALT,ASBESTOS,1967.0,27040.0,67600.0,9929,0
330,331,811 16TH AVE,0.31,Residential,R1B,Single Family Residence / Townhouse,1958.0,1542.0,2.0,3.0,...,WOOD,AVERAGE,SLAB,ASPHALT,BRICK VENEER,0.0,30680.0,76700.0,9930,0
331,332,815 16TH AVE,0.61,Residential,R1B,Single Family Residence / Townhouse,1954.0,1766.0,1.5,3.0,...,CARPET,AVERAGE,SLAB,ASPHALT,BRICK VENEER,0.0,36120.0,90300.0,9931,0
335,336,914 17TH AVE,0.61,Residential,R1B,Single Family Residence / Townhouse,1954.0,1204.0,1.0,2.0,...,CARPET,AVERAGE,SLAB,METAL,STUCCO,0.0,28720.0,71800.0,9935,0
336,337,908 17TH AVE,0.31,Residential,R1B,Single Family Residence / Townhouse,1959.0,1066.0,1.0,3.0,...,CARPET,AVERAGE,MASONRY,ASPHALT,ASBESTOS,0.0,23680.0,59200.0,9936,0
337,338,906 17TH AVE,0.31,Residential,R1B,Single Family Residence / Townhouse,1959.0,1014.0,1.0,3.0,...,CARPET,AVERAGE,MASONRY,METAL,ASBESTOS,0.0,25320.0,63300.0,9937,0
338,339,904 17TH AVE,0.31,Residential,R1B,Single Family Residence / Townhouse,1959.0,1190.0,1.0,3.0,...,CARPET,AVERAGE,MASONRY,ASPHALT,ASBESTOS,0.0,25920.0,64800.0,9938,0
339,340,902 17TH AVE,0.31,Residential,R1B,Single Family Residence / Townhouse,1959.0,1252.0,1.0,3.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,ASBESTOS,0.0,27200.0,68000.0,9939,0
340,341,900 17TH AVE,0.31,Residential,R1B,Single Family Residence / Townhouse,1957.0,1526.0,1.5,3.0,...,NaN,AVERAGE,MASONRY,ASPHALT,SHINGLE,0.0,28200.0,70500.0,9940,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26802,26803,2504 S HIBISCUS RD,1.44,Residential,R1A,Single Family Residence / Townhouse,1971.0,1862.0,3.0,3.0,...,CARPET,AVERAGE,MASONRY,ASPHALT,BRICK VENEER,0.0,48328.0,120820.0,23413,0
26803,26804,2510 S HIBISCUS RD,0.95,Residential,R1A,Single Family Residence / Townhouse,1955.0,1851.0,2.0,4.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,BRICK VENEER,0.0,31320.0,78300.0,23451,0
26804,26805,1510 W OAKRIDGE DR,0.94,Residential,R1B,Single Family Residence / Townhouse,1959.0,1585.0,3.0,3.0,...,NaN,AVERAGE,MASONRY,ASPHALT,BRICK VENEER,0.0,30080.0,75200.0,23562,0
26805,26806,415 FARKAS LN,0.26,Residential,R1B,Single Family Residence / Townhouse,1962.0,1296.0,1.0,3.0,...,WOOD,AVERAGE,PIER,ASPHALT,SHINGLE,0.0,20400.0,51000.0,23655,0
26806,26807,413 FARKAS LN,0.25,Residential,R1B,Single Family Residence / Townhouse,1962.0,912.0,1.0,3.0,...,WOOD,AVERAGE,PIER,ASPHALT,ASBESTOS,0.0,14640.0,36600.0,23656,0
26807,26808,411 FARKAS LN,0.25,Residential,R1B,Single Family Residence / Townhouse,1960.0,1212.0,1.0,3.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,COMPOSITION,0.0,18200.0,45500.0,23657,0
26808,26809,407 FARKAS LN,0.24,Residential,R1B,Single Family Residence / Townhouse,1961.0,936.0,1.0,3.0,...,WOOD,AVERAGE,PIER,ASPHALT,ASBESTOS,0.0,11200.0,28000.0,23659,0
26809,26810,405 FARKAS LN,0.24,Residential,R1B,Single Family Residence / Townhouse,1961.0,936.0,1.0,3.0,...,WOOD,AVERAGE,PIER,ASPHALT,ASBESTOS,0.0,16200.0,40500.0,23660,0
26810,26811,403 FARKAS LN,0.23,Residential,R1B,Single Family Residence / Townhouse,1962.0,936.0,1.0,3.0,...,WOOD,AVERAGE,PIER,ASPHALT,BRICK VENEER,0.0,15120.0,37800.0,23661,0
26811,26812,401 FARKAS LN,0.32,Residential,R1B,Single Family Residence / Townhouse,1960.0,1176.0,1.0,3.0,...,WOOD,AVERAGE,PIER,ASPHALT,COMPOSITION,0.0,17440.0,43600.0,23662,0
26813,26814,412 FARKAS LN,0.44,Residential,R1B,Single Family Residence / Townhouse,1962.0,1040.0,1.0,3.0,...,WOOD,AVERAGE,MASONRY,ASPHALT,BRICK VENEER,1966.0,17680.0,44200.0,23734,0
26816,26817,11 WAYNE WAY,0.00,Residential,NaN,Single Family Residence / Townhouse,1992.0,924.0,0.0,0.0,...,NaN,AVERAGE,NaN,NaN,NaN,0.0,4877.0,12192.0,24333,0
26822,26823,124 HALEY ST,0.27,Residential,C3,Single Family Residence / Townhouse,1935.0,759.0,1.0,1.0,...,WOOD,GOOD,MASONRY,ASPHALT,SHINGLE,0.0,10160.0,25400.0,24999,0
26823,26824,805 W LINCOLN AVE,0.26,Residential,R3,"""Duplex, Triplex, Quadplex)""",1953.0,1100.0,2.0,4.0,...,NaN,FAIR,SLAB,ASPHALT,ASBESTOS,0.0,7680.0,19200.0,25086,0
26825,26826,825 W LINCOLN AVE,0.26,Residential,R3,Single Family Residence / Townhouse,1953.0,726.0,1.0,0.0,...,NaN,AVERAGE,SLAB,ASPHALT,CONCRETE BLOCK,0.0,16280.0,40700.0,25097,0
26831,26832,2006 N RIVERVIEW CIR,0.46,Residential,R3,Single Family Residence / Townhouse,1958.0,2353.0,2.5,4.0,...,CARPET,POOR,MASONRY,ASBESTOS,BRICK,0.0,12092.0,30230.0,25896,0
26832,26833,1984 S RIVERVIEW CIR,0.15,Residential,R3,Single Family Residence / Townhouse,1958.0,1232.0,1.0,3.0,...,CARPET,AVERAGE,MASONRY,METAL,BRICK VENEER,0.0,9608.0,24020.0,25920,0
26833,26834,2012 N SKYLANE DR,0.25,Residential,R3,Single Family Residence / Townhouse,1958.0,1459.0,2.0,3.0,...,CARPET,AVERAGE,SLAB,ASBESTOS,BRICK VENEER,0.0,19428.0,48570.0,25960,0
26835,26836,1415 GREENBRIER CT,2367.00,Residential,R3,Single Family Residence / Townhouse,1970.0,1920.0,2.0,5.0,...,CARPET,AVERAGE,MASONRY,ASPHALT,STUCCO,0.0,33000.0,82500.0,26464,0
26838,26839,740 BARKLEY BLVD,0.25,Residential,R1C,Single Family Residence / Townhouse,1970.0,975.0,1.0,3.0,...,NaN,AVERAGE,MASONRY,ASPHALT,BRICK VENEER,0.0,17040.0,42600.0,26659,0
26845,26846,801 ROOD ST,0.18,Residential,R3,Single Family Residence / Townhouse,1958.0,891.0,1.0,3.0,...,NaN,AVERAGE,PIER,ASPHALT,COMPOSITION,0.0,12200.0,30500.0,27176,0
26848,26849,405 EASEMAN DR,0.59,Residential,R3,Single Family Residence / Townhouse,1940.0,938.0,1.0,2.0,...,NaN,AVERAGE,MASONRY,ASPHALT,ASBESTOS,0.0,12884.0,32210.0,27518,0
26849,26850,1209 CREAMER ST,0.24,Residential,R3,Single Family Residence / Townhouse,1952.0,1722.0,2.0,3.0,...,NaN,AVERAGE,SLAB,ASPHALT,CONCRETE BLOCK,0.0,12012.0,30030.0,27701,0
26851,26852,1202 CREAMER ST,0.42,Residential,R3,Single Family Residence / Townhouse,1952.0,1428.0,2.0,3.0,...,NaN,AVERAGE,SLAB,ASPHALT,CONCRETE BLOCK,0.0,17040.0,42600.0,27703,0
26852,26853,1204 CREAMER ST,0.40,Residential,R3,Single Family Residence / Townhouse,1952.0,1200.0,2.0,3.0,...,NaN,AVERAGE,SLAB,ASPHALT,CONCRETE BLOCK,0.0,15200.0,38000.0,27704,0
26856,26857,2100 CLARK AVE,0.00,Residential,NaN,Single Family Residence / Townhouse,1992.0,720.0,0.0,0.0,...,NaN,FAIR,NaN,NaN,NaN,0.0,2610.0,6524.0,27972,0
26899,26900,1602 WORRELL CT,0.30,Residential,R3,"""Duplex, Triplex, Quadplex)""",1949.0,1776.0,2.0,4.0,...,CONCRETE,AVERAGE,MASONRY,ASPHALT,CONCRETE BLOCK,0.0,16560.0,41400.0,29908,0
26900,26901,1604 WORRELL CT,0.48,Residential,R3,"""Duplex, Triplex, Quadplex)""",1949.0,1776.0,2.0,4.0,...,NaN,AVERAGE,SLAB,ASPHALT,CONCRETE BLOCK,0.0,12360.0,30900.0,29909,0
26901,26902,1603 WORRELL CT,0.00,Residential,R3,"""Duplex, Triplex, Quadplex)""",1949.0,1776.0,2.0,4.0,...,NaN,AVERAGE,SLAB,ASPHALT,CONCRETE BLOCK,0.0,12360.0,30900.0,29910,0
26902,26903,503 N CENTRAL ST,0.35,Residential,C2,"""Duplex, Triplex, Quadplex)""",1951.0,948.0,2.0,4.0,...,NaN,FAIR,SLAB,METAL,CONCRETE BLOCK,0.0,18920.0,47300.0,30286,0

In [116]:
df_test = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/analysis/util_real_2012_3.csv')

In [130]:
indexes = df_housing['AddressID']

In [131]:
indexes.head()

0    21205
1    26764
2    21681
3    28936
4    22321
Name: AddressID, dtype: int64

In [139]:
pd.options.display.max_columns = 100

In [140]:
df_test.head()

,ChargeID,Premise,PremiseAddress,Customer,ServiceType,ServiceNumber,ServiceRate,Consumption,DaysOfService,UnitOfMeasure,ChargeAmount,ChargeDate,Year,Month,Day,AddressID,YearMonth,WeatherID,RealEstateID,Address,LotSize,ZoningType,SiteZoningIdent,PropClass,YearBuilt,Size,Baths,Beds,Rooms,Floors,Condition,FoundationType,RoofCover,WallType,ImprovementYear,Assessment,Market,AddressId,ProjInd
0,492368,8565.0,1402 E CAMPBELL ST,87397,RGAS,200,120,111,29,CCF,115.42,2012-03-07,2012,3,7,675,2012_3,135,22028,1402 E CAMPBELL AVE,0.19,Residential,R1B,Single Family Residence / Townhouse,1960.0,1096.0,1.0,3,4,NaN,AVERAGE,SLAB,ASPHALT,ASBESTOS,0.0,16160.0,40400.0,675,0
1,492374,8566.0,200 S CARROLL ST,8566,RGAS,200,120,57,31,CCF,60.88,2012-03-07,2012,3,7,676,2012_3,135,22029,200 S CARROLL ST,0.24,Residential,R1B,Single Family Residence / Townhouse,1948.0,1284.0,1.0,3,4,WOOD,GOOD,PIER,ASPHALT,SHINGLE,0.0,17600.0,44000.0,676,0
2,492456,8585.0,411 S NOLAN ST,8585,RGAS,200,120,110,31,CCF,114.40,2012-03-07,2012,3,7,691,2012_3,135,22044,411 S NOLAN ST,0.37,Residential,R3,Single Family Residence / Townhouse,1940.0,1372.0,2.0,3,0,CARPET,AVERAGE,MASONRY,ASPHALT,SHINGLE,0.0,16680.0,41700.0,691,0
3,492462,8586.0,503 S NOLAN ST,8586,RGAS,200,120,34,31,CCF,37.64,2012-03-07,2012,3,7,692,2012_3,135,22045,503 S NOLAN ST,0.23,Residential,R3,"""Duplex, Triplex, Quadplex)""",1976.0,1744.0,2.0,4,8,NaN,AVERAGE,SLAB,ASPHALT,COMPOSITION,0.0,20520.0,51300.0,692,0
4,492475,8588.0,505 S NOLAN ST,8588,RGAS,200,120,115,35,CCF,112.81,2012-03-06,2012,3,6,693,2012_3,135,22046,505 S NOLAN ST,0.17,Residential,R3,Single Family Residence / Townhouse,1976.0,872.0,1.0,2,4,CONCRETE,AVERAGE,SLAB,ASPHALT,CONCRETE BLOCK,0.0,11040.0,27600.0,693,0

In [137]:
df_test['AddressID']

0          675
1          676
2          691
3          692
4          693
5          693
6          707
7          708
8          709
9          669
10         678
11         680
12         687
13         694
14         712
15         714
16         719
17         721
18         679
19         681
20         688
21         697
22         704
23         706
24         727
25         729
26         731
27         682
28         683
29         684
         ...
11201    30061
11202    30270
11203    30286
11204    30286
11205    30293
11206    30311
11207    30320
11208    30325
11209    30327
11210    30334
11211    30336
11212    30345
11213    30350
11214    30354
11215    30361
11216    30368
11217    30375
11218    30384
11219    30386
11220    30393
11221    30395
11222    30402
11223    30404
11224    30409
11225    30418
11226    30420
11227    30427
11228    30436
11229    30443
11230    30443
Name: AddressID, Length: 11231, dtype: int64

In [141]:
to_series = []
for i in range(len(df_test)):
    record = df_test.iloc[i]
    
    if sum(indexes==record['AddressID']) != 0:
        to_series.append(1)
    else:
        to_series.append(0)

In [142]:
to_series = pd.Series(to_series)

In [143]:
to_series.value_counts()

0    10893
1      338
dtype: int64

In [144]:
df_test['ProjInd'] = to_series

In [145]:
df_test.to_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/analysis/util_real_2012_3.csv', index=False)

In [125]:
df_test['ProjInd']

,ChargeID,Premise,PremiseAddress,Customer,ServiceType,ServiceNumber,ServiceRate,Consumption,DaysOfService,UnitOfMeasure,...,Floors,Condition,FoundationType,RoofCover,WallType,ImprovementYear,Assessment,Market,AddressId,ProjInd
0,492368,8565.0,1402 E CAMPBELL ST,87397,RGAS,200,120,111,29,CCF,...,NaN,AVERAGE,SLAB,ASPHALT,ASBESTOS,0.0,16160.0,40400.0,675,0
1,492374,8566.0,200 S CARROLL ST,8566,RGAS,200,120,57,31,CCF,...,WOOD,GOOD,PIER,ASPHALT,SHINGLE,0.0,17600.0,44000.0,676,0
2,492456,8585.0,411 S NOLAN ST,8585,RGAS,200,120,110,31,CCF,...,CARPET,AVERAGE,MASONRY,ASPHALT,SHINGLE,0.0,16680.0,41700.0,691,0
3,492462,8586.0,503 S NOLAN ST,8586,RGAS,200,120,34,31,CCF,...,NaN,AVERAGE,SLAB,ASPHALT,COMPOSITION,0.0,20520.0,51300.0,692,0
4,492475,8588.0,505 S NOLAN ST,8588,RGAS,200,120,115,35,CCF,...,CONCRETE,AVERAGE,SLAB,ASPHALT,CONCRETE BLOCK,0.0,11040.0,27600.0,693,0

In [146]:
df_avg = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/analysis/prelimavgconsumption.csv')

In [150]:
df_avg.columns = ['AddressID', 'YearMonth', 'AvgCons']

In [152]:
realids = df_real['AddressID']

In [153]:
df_real.head()

,RealEstateID,Address,LotSize,ZoningType,SizeZoningIdent,PropClass,YearBuilt,Size,Baths,Beds,Rooms,Floors,Condition,FoundationType,RoofCover,WallType,ImprovementYear,Assessment,Market,AddressID,ProjInd
0,1,501 S MADISON ST,0.34,Residential,R6,Single Family Residence / Townhouse,1927.0,2446.0,1.0,0.0,0.0,WOOD,FAIR,MASONRY,ASPHALT,COMPOSITION,0.0,16120.0,40300.0,1,0
1,2,609 S JACKSON ST,0.09,Residential,R6,Single Family Residence / Townhouse,1948.0,1640.0,1.0,3.0,0.0,WOOD,AVERAGE,MASONRY,ASPHALT,NaN,0.0,12560.0,31400.0,3,0
2,3,602 S MONROE ST,0.18,Commercial,R3,Vacant,NaN,1160.0,2.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,2520.0,6300.0,4,0
3,4,610 W GORDON AVE,0.18,Residential,R3,Single Family Residence / Townhouse,1941.0,1154.0,1.0,3.0,4.0,WOOD,AVERAGE,MASONRY,ASPHALT,COMPOSITION,0.0,10240.0,25600.0,6,0
4,5,700 W GORDON AVE,0.09,Residential,R3,Single Family Residence / Townhouse,1940.0,1488.0,1.0,3.0,7.0,WOOD,AVERAGE,MASONRY,ASPHALT,ALUMINUM/VINYL,0.0,16480.0,41200.0,7,0

In [156]:
df_real[df_real['AddressID'] == 676].iloc[0]

RealEstateID                                     22029
Address                               200 S CARROLL ST
LotSize                                           0.24
ZoningType                                 Residential
SizeZoningIdent                                    R1B
PropClass          Single Family Residence / Townhouse
YearBuilt                                         1948
Size                                              1284
Baths                                                1
Beds                                                 3
Rooms                                                4
Floors                                            WOOD
Condition                                         GOOD
FoundationType                                    PIER
RoofCover                                      ASPHALT
WallType                                       SHINGLE
ImprovementYear                                      0
Assessment                                       17600
Market                                           44000
AddressID                                          676
ProjInd                                              0
Name: 22028, dtype: object

In [158]:
df_avg.shape

(2073694, 3)

In [160]:
utilids = df_avg['AddressID']

In [162]:
indexes = utilids.isin(realids)

In [167]:
real_indexes = df_avg[indexes]['AddressID']

In [170]:
uniq_indexes = pd.Series(real_indexes.unique())

In [171]:
real = df_real[df_real['AddressID'].isin(uniq_indexes)]

In [173]:
real.shape

(26935, 21)

In [175]:
df_avg = df_avg[indexes]

In [178]:
df_avg.sort_values(by='AddressID')

         AddressID YearMonth    AvgCons
991896           1   2015_11        NaN
1654117          1   2017_11        NaN
2026512          1    2018_2    1.00000
1711318          1    2017_2        NaN
1969641          1   2018_10    0.00000
905250           1    2014_9        NaN
1423913          1    2016_4        NaN
676954           1   2014_11        NaN
1768844          1    2017_4        NaN
647960           1   2014_10        NaN
1596773          1    2017_1        NaN
1308722          1   2016_11        NaN
1049288          1    2015_2        NaN
1164820          1    2015_7        NaN
1222455          1    2015_9        NaN
1740066          1    2017_3        NaN
1452718          1    2016_5        NaN
876158           1    2014_8        NaN
1941004          1    2018_1        NaN
1998072          1   2018_11    0.00000
1078174          1    2015_3        NaN
1366315          1    2016_2        NaN
963156           1   2015_10        NaN
1855013          1    2017_7        NaN
1912356          1    2017_9        NaN
1682709          1   2017_12        NaN
1625520          1   2017_10        NaN
705838           1   2014_12        NaN
1567932          1    2016_9        NaN
1135980          1    2015_6        NaN
...            ...       ...        ...
1366313      30582   2016_12  100.25000
934295       30582    2014_9  354.08325
169177       30582    2012_3   99.58325
819332       30582    2014_4   69.58325
1452716      30582    2016_4   78.25000
1998070      30582   2018_10  271.58325
647958       30582    2014_1  106.25000
1596771      30582    2016_9  297.75000
790946       30582    2014_3   75.25000
905248       30582    2014_8  245.08325
479087       30582    2013_3   86.33325
225761       30582    2012_6  248.58325
1912354      30582    2017_8  275.16675
310490       30582    2012_9  251.58325
705836       30582   2014_11  108.83325
1078172      30582    2015_2   85.58325
535456       30582    2013_6  178.50000
2026510      30582   2018_11  164.33325
2055131      30582    2018_2  146.66675
422822       30582   2013_12  124.50000
1107092      30582    2015_3   78.58325
619899       30582    2013_9  307.25000
254025       30582    2012_7  329.63600
1883656      30582    2017_7  197.91675
963154       30582    2015_1   77.08325
84552        30582   2012_11  113.58325
56399        30582   2012_10  238.08325
1711316      30582   2017_12   99.66675
394754       30582   2013_11  106.00000
1539059      30582    2016_7  273.25000

[1835569 rows x 3 columns]

In [180]:
def create_dict():
    dic = {}
    for i in range(len(df_real)):
        record = df_real.iloc[i]
        size = record['Size']
        ids = record['AddressID']
        dic[ids] = size
    return dic

In [181]:
dic = create_dict()

In [182]:
tmp = []
for i in range(len(df_avg)):
    if i % 10000 == 0:
        print(str(i))
    record = df_avg.iloc[i]['AddressID']
    try:
        tmp.append(dic[record])
    except KeyError:
        tmp.append("NA")
tmp = pd.Series(tmp)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000
1490000
1500000
1510000
1520000
1530000
1540000
1550000
1560000
1570000
1580000
1590000
1600000
1610000
1620000
1630000
1640000
1650000
1660000
1670000
1680000
1690000
1700000
1710000
1720000
1730000
1740000
1750000
1760000
1770000
1780000
1790000
1800000
1810000
1820000
1830000

In [187]:
df_avg.head()

   AddressID YearMonth     AvgCons
0        669    2012_1  307.000000
1        670    2012_1  485.500000
3        672    2012_1  698.777667
4        673    2012_1  198.750000
5        674    2012_1  698.333333

In [190]:
df_avg['Normalized'] = df_avg['AvgCons'] / tmp

/anaconda3/envs/cds/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [191]:
df_avg.head()

   AddressID YearMonth     AvgCons  Normalized
0        669    2012_1  307.000000    0.198065
1        670    2012_1  485.500000    0.373174
3        672    2012_1  698.777667    0.239800
4        673    2012_1  198.750000    0.189286
5        674    2012_1  698.333333    0.637165

In [192]:
ym = df_avg['YearMonth'].str.split("_", expand=True)

In [202]:
monthsdays = {1:31, 2:28, 3:31, 4:30, 5:31, 6:30, 7:31, 8:31, 9:30, 10:31, 11:30, 12:31}

In [206]:
def returnDays(yearmonth):
    spl = yearmonth.split("_")
    year = int(spl[0])
    month = int(spl[1])
    if month == 2:
        if year == 2012 or year == 2016:
            return 29
    return monthsdays[month]

In [208]:
ym = df_avg['YearMonth'].apply(returnDays)

In [212]:
df_avg.index = range(len(df_avg))

In [ ]:
df_avg / ym

In [ ]:
df_avg.head()

In [ ]:
##break

In [4]:
df_avg = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/analysis/prelimavgconsumption.csv')

In [5]:
df_avg.head()

   AddressID YearMonth   f     XCoord     YCoord    Size
0          1   2014_10 NaN  31.570488 -84.162164  2446.0
1          1   2014_11 NaN  31.570488 -84.162164  2446.0
2          1   2014_12 NaN  31.570488 -84.162164  2446.0
3          1    2014_8 NaN  31.570488 -84.162164  2446.0
4          1    2014_9 NaN  31.570488 -84.162164  2446.0

In [6]:
path = '/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/ToDatabase/'

In [15]:
house = pd.read_csv(path+'CensusTract_v02.csv')

In [14]:
house.shape

(421915, 14)

In [16]:
df_real = pd.read_csv(path+'TestDB/Ship/RealEstate_v02.csv')

In [26]:
df_real.shape

(26969, 20)