In [26]:
ALTER TABLE dbo.Utility
DROP CONSTRAINT IF EXISTS FK_Utility_Address
GO

DROP TABLE IF EXISTS dbo.Utility
GO

DROP TABLE IF EXISTS dbo.Weather
GO

In [27]:
CREATE TABLE [dbo].[Utility](
	[ChargeID] [bigint] NOT NULL,
	[Premise] [varchar](255) NULL,
	[PremiseAddress] [varchar](255) NULL,
	[Customer] [int] NULL,
	[ServiceType] [varchar](255) NULL,
	[ServiceNumber] [float] NULL,
	[ServiceRate] [varchar](255) NULL,
	[Consumption] [float] NULL,
	[DaysOfService] [float] NULL,
	[UnitOfMeasure] [varchar](255) NULL,
	[ChargeAmount] [float] NULL,
	[ChargeDate] [varchar](255) NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[Day] [int] NULL,
	[AddressID] [int] NOT NULL, 
    [YearMonth] [varchar](255) NULL,
    [WeatherID] [int] NULL,
    CONSTRAINT [PK_Utility] PRIMARY KEY CLUSTERED
    (
        [ChargeID] asc
    )
) ON [PRIMARY]
GO

In [28]:
BULK INSERT Utility
FROM 'Utility_v03.csv'
WITH (DATA_SOURCE = 'databasestore',
    FIRSTROW=2,
    FIELDTERMINATOR = ',',
    ROWTERMINATOR = '0x0a',
    FORMAT = 'CSV')
GO

In [29]:
ALTER TABLE dbo.Utility
   ADD CONSTRAINT FK_Utility_Address FOREIGN KEY (AddressID)
      REFERENCES dbo.Address (AddressID)
      ON DELETE CASCADE
      ON UPDATE CASCADE
GO

In [30]:
SELECT TOP 3 * FROM Utility

ChargeID,Premise,PremiseAddress,Customer,ServiceType,ServiceNumber,ServiceRate,Consumption,DaysOfService,UnitOfMeasure,ChargeAmount,ChargeDate,Year,Month,Day,AddressID,YearMonth,WeatherID
1,10002.0,212 ACORN ST,10002,DELC,100,216,340,30,KWH,79.85,2012-01-09,2012,1,9,27945,2012_1,133
2,10002.0,212 ACORN ST,10002,NULL,150,NULL,NULL,NULL,NULL,17.12,2012-01-09,2012,1,9,27945,2012_1,133
3,10002.0,212 ACORN ST,10002,CGAS,200,220,37,30,CCF,47.13,2012-01-09,2012,1,9,27945,2012_1,133