In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import matplotlib as mpl
import matplotlib.pyplot as plt
import scipy as scp
from scipy import stats
import sklearn
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import statsmodels.formula.api as smf
import re
from functools import reduce

In [2]:
pd.options.display.max_columns = 50

In [77]:
df_inc = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/Census/2017_block_income_ann.csv')
df_pop = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/Census/2017_block_pop_with_ann.csv')
df_land_area = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/Census/2010_tract_landarea_ann.csv')
df_medinc = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/ACS_17_5YR_S1901_with_ann.csv')
df_employment = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/Census/employment_final.csv')
df_owner_renter = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/Census/owner_renter_final.csv')
df_vacancy = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/Census/vacancy_final.csv')

In [4]:
df_inc.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,HD01_VD05,HD02_VD05,HD01_VD06,HD02_VD06,HD01_VD07,HD02_VD07,HD01_VD08,HD02_VD08,HD01_VD09,HD02_VD09,HD01_VD10,HD02_VD10,HD01_VD11,HD02_VD11,HD01_VD12,HD02_VD12,HD01_VD13,HD02_VD13,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999","Margin of Error; Total: - $15,000 to $19,999","Estimate; Total: - $20,000 to $24,999","Margin of Error; Total: - $20,000 to $24,999","Estimate; Total: - $25,000 to $29,999","Margin of Error; Total: - $25,000 to $29,999","Estimate; Total: - $30,000 to $34,999","Margin of Error; Total: - $30,000 to $34,999","Estimate; Total: - $35,000 to $39,999","Margin of Error; Total: - $35,000 to $39,999","Estimate; Total: - $40,000 to $44,999","Margin of Error; Total: - $40,000 to $44,999","Estimate; Total: - $45,000 to $49,999","Margin of Error; Total: - $45,000 to $49,999","Estimate; Total: - $50,000 to $59,999","Margin of Error; Total: - $50,000 to $59,999","Estimate; Total: - $60,000 to $74,999","Margin of Error; Total: - $60,000 to $74,999","Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
1,1500000US130079601001,130079601001,"Block Group 1, Census Tract 9601, Baker County...",378,77,88,38,47,29,6,10,9,14,18,16,28,28,7,13,14,18,16,17,22,18,40,32,44,36,22,20,10,14,7,11,0,13
2,1500000US130079601002,130079601002,"Block Group 2, Census Tract 9601, Baker County...",426,71,88,59,7,10,7,11,33,25,8,10,7,9,9,10,44,41,14,21,79,46,53,39,12,14,45,36,13,17,3,5,4,6
3,1500000US130079602001,130079602001,"Block Group 1, Census Tract 9602, Baker County...",224,63,0,13,7,10,7,10,27,26,13,18,26,28,0,13,5,8,25,39,36,34,27,21,30,27,0,13,0,13,0,13,21,20
4,1500000US130079602002,130079602002,"Block Group 2, Census Tract 9602, Baker County...",293,64,55,48,0,13,10,11,23,23,44,39,24,22,14,15,0,13,18,33,30,32,5,8,36,25,0,13,0,13,34,30,0,13

In [5]:
df_inc['GEO.display-label']

0                                              Geography
1      Block Group 1, Census Tract 9601, Baker County...
2      Block Group 2, Census Tract 9601, Baker County...
3      Block Group 1, Census Tract 9602, Baker County...
4      Block Group 2, Census Tract 9602, Baker County...
5      Block Group 1, Census Tract 1, Dougherty Count...
6      Block Group 2, Census Tract 1, Dougherty Count...
7      Block Group 3, Census Tract 1, Dougherty Count...
8      Block Group 4, Census Tract 1, Dougherty Count...
9      Block Group 5, Census Tract 1, Dougherty Count...
10     Block Group 1, Census Tract 2, Dougherty Count...
11     Block Group 2, Census Tract 2, Dougherty Count...
12     Block Group 3, Census Tract 2, Dougherty Count...
13     Block Group 4, Census Tract 2, Dougherty Count...
14     Block Group 1, Census Tract 4, Dougherty Count...
15     Block Group 2, Census Tract 4, Dougherty Count...
16     Block Group 3, Census Tract 4, Dougherty Count...
17     Block Group 1, Census Tract 5.01, Dougherty Co...
18     Block Group 2, Census Tract 5.01, Dougherty Co...
19     Block Group 1, Census Tract 5.02, Dougherty Co...
20     Block Group 2, Census Tract 5.02, Dougherty Co...
21     Block Group 3, Census Tract 5.02, Dougherty Co...
22     Block Group 4, Census Tract 5.02, Dougherty Co...
23     Block Group 1, Census Tract 6, Dougherty Count...
24     Block Group 2, Census Tract 6, Dougherty Count...
25     Block Group 1, Census Tract 7, Dougherty Count...
26     Block Group 1, Census Tract 8, Dougherty Count...
27     Block Group 2, Census Tract 8, Dougherty Count...
28     Block Group 1, Census Tract 9, Dougherty Count...
29     Block Group 2, Census Tract 9, Dougherty Count...
                             ...
82     Block Group 2, Census Tract 204.02, Lee County...
83     Block Group 3, Census Tract 204.02, Lee County...
84     Block Group 4, Census Tract 204.02, Lee County...
85     Block Group 1, Census Tract 204.03, Lee County...
86     Block Group 2, Census Tract 204.03, Lee County...
87     Block Group 1, Census Tract 1202, Terrell Coun...
88     Block Group 2, Census Tract 1202, Terrell Coun...
89     Block Group 1, Census Tract 1203, Terrell Coun...
90     Block Group 2, Census Tract 1203, Terrell Coun...
91     Block Group 3, Census Tract 1203, Terrell Coun...
92     Block Group 4, Census Tract 1203, Terrell Coun...
93     Block Group 1, Census Tract 1204, Terrell Coun...
94     Block Group 2, Census Tract 1204, Terrell Coun...
95     Block Group 3, Census Tract 1204, Terrell Coun...
96     Block Group 1, Census Tract 1205, Terrell Coun...
97     Block Group 1, Census Tract 9501, Worth County...
98     Block Group 2, Census Tract 9501, Worth County...
99     Block Group 1, Census Tract 9502, Worth County...
100    Block Group 2, Census Tract 9502, Worth County...
101    Block Group 3, Census Tract 9502, Worth County...
102    Block Group 4, Census Tract 9502, Worth County...
103    Block Group 1, Census Tract 9504, Worth County...
104    Block Group 2, Census Tract 9504, Worth County...
105    Block Group 3, Census Tract 9504, Worth County...
106    Block Group 4, Census Tract 9504, Worth County...
107    Block Group 1, Census Tract 9505, Worth County...
108    Block Group 2, Census Tract 9505, Worth County...
109    Block Group 3, Census Tract 9505, Worth County...
110    Block Group 1, Census Tract 9506, Worth County...
111    Block Group 2, Census Tract 9506, Worth County...
Name: GEO.display-label, Length: 112, dtype: object

In [6]:
new = df_inc["GEO.display-label"].str.split(", ", expand = True)
df_inc["block"] = new[0] 
df_inc["tract"] = new[1] 
df_inc["county"] = new[2]

In [7]:
df_inc = df_inc.drop('GEO.display-label', axis = 1)

In [8]:
l = len(df_inc['tract'])
df_inc1 = df_inc.copy()
re_string = 'Census Tract (\d+(?:.\d+)?)'
for i in range(1,l):
    s = df_inc.loc[i, 'tract']
    m = re.search(re_string, s)
    df_inc1.loc[i, 'tract'] = m.group(1)

In [9]:
l = len(df_inc['block'])
re_string = 'Block Group (\d+(?:.\d+)?)'
for i in range(1,l):
    s = df_inc.loc[i, 'block']
    m = re.search(re_string, s)
    df_inc1.loc[i, 'block'] = m.group(1)

In [10]:
tract_series = df_inc1['tract']
l = len(df_inc1['tract'])
for i in range(1,l):
    if '.' in tract_series[i]:
        s = tract_series[i].split('.')
        if len(s[0]) == 1:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 2:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 3:
            tract_series[i] = s[0] + s[1]
    else:
        if len(tract_series[i]) == 3:
            tract_series[i] = df_inc1['tract'][i] + '00'
        elif len(tract_series[i]) == 2:
            tract_series[i] = df_inc1['tract'][i] + '00'
        elif len(tract_series[i]) == 1:
            tract_series[i] = df_inc1['tract'][i] + '00'
        elif len(tract_series[i]) == 4:
            tract_series[i] = df_inc1['tract'][i] + '00'

In [11]:
df_inc1.head(20)

,GEO.id,GEO.id2,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,HD01_VD05,HD02_VD05,HD01_VD06,HD02_VD06,HD01_VD07,HD02_VD07,HD01_VD08,HD02_VD08,HD01_VD09,HD02_VD09,HD01_VD10,HD02_VD10,HD01_VD11,HD02_VD11,HD01_VD12,HD02_VD12,HD01_VD13,HD02_VD13,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17,block,tract,county
0,Id,Id2,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999","Margin of Error; Total: - $15,000 to $19,999","Estimate; Total: - $20,000 to $24,999","Margin of Error; Total: - $20,000 to $24,999","Estimate; Total: - $25,000 to $29,999","Margin of Error; Total: - $25,000 to $29,999","Estimate; Total: - $30,000 to $34,999","Margin of Error; Total: - $30,000 to $34,999","Estimate; Total: - $35,000 to $39,999","Margin of Error; Total: - $35,000 to $39,999","Estimate; Total: - $40,000 to $44,999","Margin of Error; Total: - $40,000 to $44,999","Estimate; Total: - $45,000 to $49,999","Margin of Error; Total: - $45,000 to $49,999","Estimate; Total: - $50,000 to $59,999","Margin of Error; Total: - $50,000 to $59,999","Estimate; Total: - $60,000 to $74,999","Margin of Error; Total: - $60,000 to $74,999","Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Geography,None,None
1,1500000US130079601001,130079601001,378,77,88,38,47,29,6,10,9,14,18,16,28,28,7,13,14,18,16,17,22,18,40,32,44,36,22,20,10,14,7,11,0,13,1,960100,Baker County
2,1500000US130079601002,130079601002,426,71,88,59,7,10,7,11,33,25,8,10,7,9,9,10,44,41,14,21,79,46,53,39,12,14,45,36,13,17,3,5,4,6,2,960100,Baker County
3,1500000US130079602001,130079602001,224,63,0,13,7,10,7,10,27,26,13,18,26,28,0,13,5,8,25,39,36,34,27,21,30,27,0,13,0,13,0,13,21,20,1,960200,Baker County
4,1500000US130079602002,130079602002,293,64,55,48,0,13,10,11,23,23,44,39,24,22,14,15,0,13,18,33,30,32,5,8,36,25,0,13,0,13,34,30,0,13,2,960200,Baker County
5,1500000US130950001001,130950001001,280,124,0,13,0,13,0,13,9,18,50,64,13,21,15,23,88,94,35,56,26,43,44,66,0,13,0,13,0,13,0,13,0,13,1,100,Dougherty County
6,1500000US130950001002,130950001002,175,98,16,26,32,32,12,19,0,13,65,69,35,56,0,13,15,25,0,13,0,13,0,13,0,13,0,13,0,13,0,13,0,13,2,100,Dougherty County
7,1500000US130950001003,130950001003,329,118,121,77,0,13,28,43,62,65,16,25,25,41,27,41,19,33,0,13,31,39,0,13,0,13,0,13,0,13,0,13,0,13,3,100,Dougherty County
8,1500000US130950001004,130950001004,714,180,135,99,51,60,103,82,136,112,60,65,0,13,46,59,0,13,53,68,63,61,0,13,55,53,12,19,0,13,0,13,0,13,4,100,Dougherty County
9,1500000US130950001005,130950001005,407,140,90,77,37,37,10,16,13,22,17,21,131,122,0,13,13,21,20,34,8,18,11,19,13,23,0,13,0,13,44,66,0,13,5,100,Dougherty County
10,1500000US130950002001,130950002001,271,107,87,70,21,22,9,16,37,44,32,41,21,33,0,13,28,36,22,36,0,13,11,18,0,13,0,13,0,13,0,13,3,10,1,200,Dougherty County
11,1500000US130950002002,130950002002,101,65,8,12,9,14,0,13,30,38,16,23,0,13,0,13,13,23,8,14,0,13,17,28,0,13,0,13,0,13,0,13,0,13,2,200,Dougherty County
12,1500000US130950002003,130950002003,470,119,79,68,111,70,43,49,62,70,67,64,20,24,10,17,23,32,0,13,29,48,10,16,10,18,6,11,0,13,0,13,0,13,3,200,Dougherty County
13,1500000US130950002004,130950002004,164,69,77,55,9,14,26,25,0,13,16,19,9,14,2,5,12,19,0,13,8,12,5,18,0,13,0,13,0,13,0,13,0,13,4,200,Dougherty County
14,1500000US130950004001,130950004001,575,155,65,61,51,60,75,92,88,75,47,76,33,42,22,25,0,13,11,17,34,35,36,39,92,76,0,13,7,12,0,13,14,23,1,400,Dougherty County
15,1500000US130950004002,130950004002,823,172,196,105,23,35,10,16,14,23,50,56,81,81,16,25,50,49,65,57,67,59,25,30,98,60,38,68,24,28,0,13,66,79,2,400,Dougherty County
16,1500000US130950004003,130950004003,1388,194,59,66,131,93,34,32,169,112,251,148,32,37,40,40,171,128,73,51,113,62,204,123,82,57,0,13,19,23,10,21,0,13,3,400,Dougherty County
17,1500000US130950005011,130950005011,1412,186,0,13,25,29,47,47,101,72,11,18,158,103,109,101,124,98,0,13,215,134,143,99,218,120,60,56,81,88,75,71,45,49,1,501,Dougherty County
18,1500000US130950005012,130950005012,869,149,30,36,83,74,22,34,15,23,70,86,61,84,0,13,78,84,10,16,97,75,101,68,173,108,41,34,35,39,12,20,41,46,2,501,Dougherty County
19,1500000US130950005021,130950005021,609,119,38,37,14,16,16,17,0,13,0,13,34,33,27,26,89,69,0,13,40,39,43,25,95,57,80,52,44,35,44,30,45,30,1,502,Dougherty County

In [12]:
df_pop.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01
0,Id,Id2,Geography,Estimate; Total,Margin of Error; Total
1,1500000US130079601001,130079601001,"Block Group 1, Census Tract 9601, Baker County...",869,181
2,1500000US130079601002,130079601002,"Block Group 2, Census Tract 9601, Baker County...",1247,223
3,1500000US130079602001,130079602001,"Block Group 1, Census Tract 9602, Baker County...",487,149
4,1500000US130079602002,130079602002,"Block Group 2, Census Tract 9602, Baker County...",648,120

In [13]:
new1 = df_pop["GEO.display-label"].str.split(", ", expand = True)
df_pop["block"] = new1[0] 
df_pop["tract"] = new1[1] 
df_pop["county"] = new1[2]

In [14]:
df_pop = df_pop.drop('GEO.display-label', axis = 1)

In [15]:
l = len(df_pop['tract'])
df_pop1 = df_pop.copy()
re_string = 'Census Tract (\d+(?:.\d+)?)'
for i in range(1,l):
    s = df_pop.loc[i, 'tract']
    m = re.search(re_string, s)
    df_pop1.loc[i, 'tract'] = m.group(1)

In [16]:
l = len(df_pop['block'])
re_string = 'Block Group (\d+(?:.\d+)?)'
for i in range(1,l):
    s = df_pop.loc[i, 'block']
    m = re.search(re_string, s)
    df_pop1.loc[i, 'block'] = m.group(1)

In [17]:
tract_series = df_pop1['tract']
l = len(df_pop1['tract'])
for i in range(1,l):
    if '.' in tract_series[i]:
        s = tract_series[i].split('.')
        if len(s[0]) == 1:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 2:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 3:
            tract_series[i] = s[0] + s[1]
    else:
        if len(tract_series[i]) == 3:
            tract_series[i] = df_pop1['tract'][i] + '00'
        elif len(tract_series[i]) == 2:
            tract_series[i] = df_pop1['tract'][i] + '00'
        elif len(tract_series[i]) == 1:
            tract_series[i] = df_pop1['tract'][i] + '00'
        elif len(tract_series[i]) == 4:
            tract_series[i] = df_pop1['tract'][i] + '00'

In [18]:
df_pop1.head()

,GEO.id,GEO.id2,HD01_VD01,HD02_VD01,block,tract,county
0,Id,Id2,Estimate; Total,Margin of Error; Total,Geography,None,None
1,1500000US130079601001,130079601001,869,181,1,960100,Baker County
2,1500000US130079601002,130079601002,1247,223,2,960100,Baker County
3,1500000US130079602001,130079602001,487,149,1,960200,Baker County
4,1500000US130079602002,130079602002,648,120,2,960200,Baker County

In [19]:
df_land_area.head()

,GEO.id,GEO.id2,GEO.display-label,GCT_STUB.target-geo-id,GCT_STUB.target-geo-id2,GCT_STUB.display-label,GCT_STUB.display-label.1,HD01,HD02,SUBHD0301,SUBHD0302,SUBHD0303,SUBHD0401,SUBHD0402
0,Id,Id2,Geography,Target Geo Id,Target Geo Id2,Geographic area,Geographic area,Population,Housing units,Area in square miles - Total area,Area in square miles - Water area,Area in square miles - Land area,Density per square mile of land area - Population,Density per square mile of land area - Housing...
1,0500000US13095,13095,"Dougherty County, Georgia",0500000US13095,13095,Dougherty County,Dougherty County,94565,40801,334.63,5.94,328.69,287.7,124.1
2,0500000US13095,13095,"Dougherty County, Georgia",1400000US13095000100,13095000100,Dougherty County - Census Tract 1,Census Tract 1,5944,2545,3.17,0.02,3.15,1886.7,807.8
3,0500000US13095,13095,"Dougherty County, Georgia",1400000US13095000200,13095000200,Dougherty County - Census Tract 2,Census Tract 2,3123,1348,1.91,0.04,1.87,1667.0,719.5
4,0500000US13095,13095,"Dougherty County, Georgia",1400000US13095000400,13095000400,Dougherty County - Census Tract 4,Census Tract 4,6276,3302,2.90,0.05,2.84,2206.7,1161.0

In [20]:
new2 = df_land_area["GEO.display-label"].str.split(", ", expand = True)
df_land_area["county"] = new2[0]

In [21]:
df_land_area = df_land_area.drop('GEO.display-label', axis = 1)

In [22]:
df_land_area['tract'] = df_land_area['GCT_STUB.display-label.1'] 
df_land_area = df_land_area.drop('GCT_STUB.display-label.1', axis=1)

In [23]:
df_land_area.head()

,GEO.id,GEO.id2,GCT_STUB.target-geo-id,GCT_STUB.target-geo-id2,GCT_STUB.display-label,HD01,HD02,SUBHD0301,SUBHD0302,SUBHD0303,SUBHD0401,SUBHD0402,county,tract
0,Id,Id2,Target Geo Id,Target Geo Id2,Geographic area,Population,Housing units,Area in square miles - Total area,Area in square miles - Water area,Area in square miles - Land area,Density per square mile of land area - Population,Density per square mile of land area - Housing...,Geography,Geographic area
1,0500000US13095,13095,0500000US13095,13095,Dougherty County,94565,40801,334.63,5.94,328.69,287.7,124.1,Dougherty County,Dougherty County
2,0500000US13095,13095,1400000US13095000100,13095000100,Dougherty County - Census Tract 1,5944,2545,3.17,0.02,3.15,1886.7,807.8,Dougherty County,Census Tract 1
3,0500000US13095,13095,1400000US13095000200,13095000200,Dougherty County - Census Tract 2,3123,1348,1.91,0.04,1.87,1667.0,719.5,Dougherty County,Census Tract 2
4,0500000US13095,13095,1400000US13095000400,13095000400,Dougherty County - Census Tract 4,6276,3302,2.90,0.05,2.84,2206.7,1161.0,Dougherty County,Census Tract 4

In [24]:
type(df_land_area['tract'][0])

str

In [25]:
l = len(df_land_area['tract'])
df_land_area1 = df_land_area.copy()
re_string = 'Census Tract (\d+(?:.\d+)?)'
for i in range(2,l):
    s = df_land_area.loc[i, 'tract']
    m = re.search(re_string, s)
    df_land_area1.loc[i, 'tract'] = m.group(1)

In [26]:
tract_series = df_land_area1['tract']
l = len(df_land_area1['tract'])
for i in range(1,l):
    if '.' in tract_series[i]:
        s = tract_series[i].split('.')
        if len(s[0]) == 1:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 2:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 3:
            tract_series[i] = s[0] + s[1]
    else:
        if len(tract_series[i]) == 3:
            tract_series[i] = df_land_area1['tract'][i] + '00'
        elif len(tract_series[i]) == 2:
            tract_series[i] = df_land_area1['tract'][i] + '00'
        elif len(tract_series[i]) == 1:
            tract_series[i] = df_land_area1['tract'][i] + '00'
        elif len(tract_series[i]) == 4:
            tract_series[i] = df_land_area1['tract'][i] + '00'

In [27]:
df_land_area1.head(20)

,GEO.id,GEO.id2,GCT_STUB.target-geo-id,GCT_STUB.target-geo-id2,GCT_STUB.display-label,HD01,HD02,SUBHD0301,SUBHD0302,SUBHD0303,SUBHD0401,SUBHD0402,county,tract
0,Id,Id2,Target Geo Id,Target Geo Id2,Geographic area,Population,Housing units,Area in square miles - Total area,Area in square miles - Water area,Area in square miles - Land area,Density per square mile of land area - Population,Density per square mile of land area - Housing...,Geography,Geographic area
1,0500000US13095,13095,0500000US13095,13095,Dougherty County,94565,40801,334.63,5.94,328.69,287.7,124.1,Dougherty County,Dougherty County
2,0500000US13095,13095,1400000US13095000100,13095000100,Dougherty County - Census Tract 1,5944,2545,3.17,0.02,3.15,1886.7,807.8,Dougherty County,100
3,0500000US13095,13095,1400000US13095000200,13095000200,Dougherty County - Census Tract 2,3123,1348,1.91,0.04,1.87,1667.0,719.5,Dougherty County,200
4,0500000US13095,13095,1400000US13095000400,13095000400,Dougherty County - Census Tract 4,6276,3302,2.90,0.05,2.84,2206.7,1161.0,Dougherty County,400
5,0500000US13095,13095,1400000US13095000501,13095000501,Dougherty County - Census Tract 5.01,4798,2365,1.76,0.02,1.74,2764.5,1362.6,Dougherty County,501
6,0500000US13095,13095,1400000US13095000502,13095000502,Dougherty County - Census Tract 5.02,4151,1938,2.68,0.03,2.65,1565.4,730.8,Dougherty County,502
7,0500000US13095,13095,1400000US13095000600,13095000600,Dougherty County - Census Tract 6,2938,1484,1.34,0.01,1.33,2210.7,1116.6,Dougherty County,600
8,0500000US13095,13095,1400000US13095000700,13095000700,Dougherty County - Census Tract 7,1783,917,0.77,0.00,0.77,2314.3,1190.2,Dougherty County,700
9,0500000US13095,13095,1400000US13095000800,13095000800,Dougherty County - Census Tract 8,1607,778,0.73,0.02,0.71,2261.4,1094.8,Dougherty County,800
10,0500000US13095,13095,1400000US13095000900,13095000900,Dougherty County - Census Tract 9,2082,1051,0.82,0.00,0.82,2548.9,1286.7,Dougherty County,900
11,0500000US13095,13095,1400000US13095001000,13095001000,Dougherty County - Census Tract 10,2106,937,1.60,0.00,1.60,1315.0,585.1,Dougherty County,1000
12,0500000US13095,13095,1400000US13095001100,13095001100,Dougherty County - Census Tract 11,6215,2654,3.66,0.02,3.64,1707.7,729.2,Dougherty County,1100
13,0500000US13095,13095,1400000US13095001403,13095001403,Dougherty County - Census Tract 14.03,2953,1268,1.92,0.05,1.87,1578.7,677.9,Dougherty County,1403
14,0500000US13095,13095,1400000US13095001500,13095001500,Dougherty County - Census Tract 15,2896,1427,0.75,0.00,0.75,3859.9,1902.0,Dougherty County,1500
15,0500000US13095,13095,1400000US13095010302,13095010302,Dougherty County - Census Tract 103.02,5627,2178,3.07,0.02,3.05,1846.4,714.7,Dougherty County,10302
16,0500000US13095,13095,1400000US13095010401,13095010401,Dougherty County - Census Tract 104.01,6606,2722,7.29,0.07,7.22,914.7,376.9,Dougherty County,10401
17,0500000US13095,13095,1400000US13095010402,13095010402,Dougherty County - Census Tract 104.02,3491,1346,9.59,0.08,9.51,367.2,141.6,Dougherty County,10402
18,0500000US13095,13095,1400000US13095010403,13095010403,Dougherty County - Census Tract 104.03,1708,756,136.06,2.04,134.03,12.7,5.6,Dougherty County,10403
19,0500000US13095,13095,1400000US13095010500,13095010500,Dougherty County - Census Tract 105,2173,959,9.67,0.03,9.64,225.5,99.5,Dougherty County,10500

In [42]:
df_inc1['block_tract'] = df_inc1['block'] + '_' + df_inc1['tract']
df_inc1.head()

,GEO.id,GEO.id2,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,HD01_VD05,HD02_VD05,HD01_VD06,HD02_VD06,HD01_VD07,HD02_VD07,HD01_VD08,HD02_VD08,HD01_VD09,HD02_VD09,HD01_VD10,HD02_VD10,HD01_VD11,HD02_VD11,HD01_VD12,HD02_VD12,HD01_VD13,HD02_VD13,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17,block,tract,county,block_tract
0,Id,Id2,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999","Margin of Error; Total: - $15,000 to $19,999","Estimate; Total: - $20,000 to $24,999","Margin of Error; Total: - $20,000 to $24,999","Estimate; Total: - $25,000 to $29,999","Margin of Error; Total: - $25,000 to $29,999","Estimate; Total: - $30,000 to $34,999","Margin of Error; Total: - $30,000 to $34,999","Estimate; Total: - $35,000 to $39,999","Margin of Error; Total: - $35,000 to $39,999","Estimate; Total: - $40,000 to $44,999","Margin of Error; Total: - $40,000 to $44,999","Estimate; Total: - $45,000 to $49,999","Margin of Error; Total: - $45,000 to $49,999","Estimate; Total: - $50,000 to $59,999","Margin of Error; Total: - $50,000 to $59,999","Estimate; Total: - $60,000 to $74,999","Margin of Error; Total: - $60,000 to $74,999","Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Geography,None,None,NaN
1,1500000US130079601001,130079601001,378,77,88,38,47,29,6,10,9,14,18,16,28,28,7,13,14,18,16,17,22,18,40,32,44,36,22,20,10,14,7,11,0,13,1,960100,Baker County,1_960100
2,1500000US130079601002,130079601002,426,71,88,59,7,10,7,11,33,25,8,10,7,9,9,10,44,41,14,21,79,46,53,39,12,14,45,36,13,17,3,5,4,6,2,960100,Baker County,2_960100
3,1500000US130079602001,130079602001,224,63,0,13,7,10,7,10,27,26,13,18,26,28,0,13,5,8,25,39,36,34,27,21,30,27,0,13,0,13,0,13,21,20,1,960200,Baker County,1_960200
4,1500000US130079602002,130079602002,293,64,55,48,0,13,10,11,23,23,44,39,24,22,14,15,0,13,18,33,30,32,5,8,36,25,0,13,0,13,34,30,0,13,2,960200,Baker County,2_960200

In [43]:
df_pop1['block_tract'] = df_pop1['block'] + '_' + df_pop1['tract']
df_pop1.head()

,GEO.id,GEO.id2,HD01_VD01,HD02_VD01,block,tract,county,block_tract
0,Id,Id2,Estimate; Total,Margin of Error; Total,Geography,None,None,NaN
1,1500000US130079601001,130079601001,869,181,1,960100,Baker County,1_960100
2,1500000US130079601002,130079601002,1247,223,2,960100,Baker County,2_960100
3,1500000US130079602001,130079602001,487,149,1,960200,Baker County,1_960200
4,1500000US130079602002,130079602002,648,120,2,960200,Baker County,2_960200

In [48]:
df_block_full = df_inc1.merge(df_pop1, on='block_tract', how='inner')
df_block_full.shape

(112, 47)

In [52]:
df_medinc.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC04_EST_VC01,HC04_MOE_VC01,HC01_EST_VC02,HC01_MOE_VC02,HC02_EST_VC02,HC02_MOE_VC02,HC03_EST_VC02,HC03_MOE_VC02,HC04_EST_VC02,HC04_MOE_VC02,HC01_EST_VC03,HC01_MOE_VC03,HC02_EST_VC03,HC02_MOE_VC03,HC03_EST_VC03,HC03_MOE_VC03,...,HC04_MOE_VC15,HC01_EST_VC18,HC01_MOE_VC18,HC02_EST_VC18,HC02_MOE_VC18,HC03_EST_VC18,HC03_MOE_VC18,HC04_EST_VC18,HC04_MOE_VC18,HC01_EST_VC19,HC01_MOE_VC19,HC02_EST_VC19,HC02_MOE_VC19,HC03_EST_VC19,HC03_MOE_VC19,HC04_EST_VC19,HC04_MOE_VC19,HC01_EST_VC20,HC01_MOE_VC20,HC02_EST_VC20,HC02_MOE_VC20,HC03_EST_VC20,HC03_MOE_VC20,HC04_EST_VC20,HC04_MOE_VC20
0,Id,Id2,Geography,Households; Estimate; Total,Households; Margin of Error; Total,Families; Estimate; Total,Families; Margin of Error; Total,Married-couple families; Estimate; Total,Married-couple families; Margin of Error; Total,Nonfamily households; Estimate; Total,Nonfamily households; Margin of Error; Total,"Households; Estimate; Less than $10,000","Households; Margin of Error; Less than $10,000","Families; Estimate; Less than $10,000","Families; Margin of Error; Less than $10,000",Married-couple families; Estimate; Less than $...,Married-couple families; Margin of Error; Less...,"Nonfamily households; Estimate; Less than $10,000",Nonfamily households; Margin of Error; Less th...,"Households; Estimate; $10,000 to $14,999","Households; Margin of Error; $10,000 to $14,999","Families; Estimate; $10,000 to $14,999","Families; Margin of Error; $10,000 to $14,999","Married-couple families; Estimate; $10,000 to ...","Married-couple families; Margin of Error; $10,...",...,Nonfamily households; Margin of Error; Mean in...,Households; Estimate; PERCENT ALLOCATED - Hous...,Households; Margin of Error; PERCENT ALLOCATED...,Families; Estimate; PERCENT ALLOCATED - Househ...,Families; Margin of Error; PERCENT ALLOCATED -...,Married-couple families; Estimate; PERCENT ALL...,Married-couple families; Margin of Error; PERC...,Nonfamily households; Estimate; PERCENT ALLOCA...,Nonfamily households; Margin of Error; PERCENT...,Households; Estimate; PERCENT ALLOCATED - Fami...,Households; Margin of Error; PERCENT ALLOCATED...,Families; Estimate; PERCENT ALLOCATED - Family...,Families; Margin of Error; PERCENT ALLOCATED -...,Married-couple families; Estimate; PERCENT ALL...,Married-couple families; Margin of Error; PERC...,Nonfamily households; Estimate; PERCENT ALLOCA...,Nonfamily households; Margin of Error; PERCENT...,Households; Estimate; PERCENT ALLOCATED - Nonf...,Households; Margin of Error; PERCENT ALLOCATED...,Families; Estimate; PERCENT ALLOCATED - Nonfam...,Families; Margin of Error; PERCENT ALLOCATED -...,Married-couple families; Estimate; PERCENT ALL...,Married-couple families; Margin of Error; PERC...,Nonfamily households; Estimate; PERCENT ALLOCA...,Nonfamily households; Margin of Error; PERCENT...
1,1400000US13007960100,13007960100,"Census Tract 9601, Baker County, Georgia",804,99,528,69,345,78,276,94,21.9,8.2,11.0,7.5,10.1,10.2,42.8,16.1,6.7,3.9,7.4,5.1,4.9,4.2,...,11981,59.1,(X),(X),(X),(X),(X),(X),(X),(X),(X),58.1,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),59.8,(X)
2,1400000US13007960200,13007960200,"Census Tract 9602, Baker County, Georgia",517,83,311,66,253,61,206,80,10.6,9.1,1.6,2.7,0.0,13.7,24.3,20.8,1.4,1.9,0.0,11.3,0.0,13.7,...,6978,55.9,(X),(X),(X),(X),(X),(X),(X),(X),(X),57.9,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),52.9,(X)
3,1400000US13095000100,13095000100,"Census Tract 1, Dougherty County, Georgia",1905,220,911,173,244,117,994,210,19.0,6.9,17.9,9.2,0.0,14.2,23.9,10.7,6.3,4.2,3.5,4.5,0.0,14.2,...,4282,46.5,(X),(X),(X),(X),(X),(X),(X),(X),(X),38.5,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),49.4,(X)
4,1400000US13095000200,13095000200,"Census Tract 2, Dougherty County, Georgia",1006,141,643,118,200,90,363,127,25.0,9.4,25.7,11.1,0.0,17.0,26.2,17.2,14.9,6.9,6.7,6.7,0.0,17.0,...,6997,45.5,(X),(X),(X),(X),(X),(X),(X),(X),(X),43.1,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),47.4,(X)

In [54]:
new = df_medinc["GEO.display-label"].str.split(", ", expand = True)
df_medinc["tract"] = new[0] 
df_medinc["county"] = new[1]

In [55]:
df_medinc = df_medinc.drop('GEO.display-label', axis = 1)

In [57]:
l = len(df_medinc['tract'])
df_medinc1 = df_medinc.copy()
re_string = 'Census Tract (\d+(?:.\d+)?)'
for i in range(1,l):
    s = df_medinc.loc[i, 'tract']
    m = re.search(re_string, s)
    df_medinc1.loc[i, 'tract'] = m.group(1)

In [61]:
tract_series = df_medinc1['tract']
l = len(df_medinc1['tract'])
for i in range(1,l):
    if '.' in tract_series[i]:
        s = tract_series[i].split('.')
        if len(s[0]) == 1:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 2:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 3:
            tract_series[i] = s[0] + s[1]
    else:
        if len(tract_series[i]) == 3:
            tract_series[i] = df_medinc1['tract'][i] + '00'
        elif len(tract_series[i]) == 2:
            tract_series[i] = df_medinc1['tract'][i] + '00'
        elif len(tract_series[i]) == 1:
            tract_series[i] = df_medinc1['tract'][i] + '00'
        elif len(tract_series[i]) == 4:
            tract_series[i] = df_medinc1['tract'][i] + '00'

In [70]:
df_land_area1.head(10)

,GEO.id,GEO.id2,GCT_STUB.target-geo-id,GCT_STUB.target-geo-id2,GCT_STUB.display-label,HD01,HD02,SUBHD0301,SUBHD0302,SUBHD0303,SUBHD0401,SUBHD0402,county,tract
0,Id,Id2,Target Geo Id,Target Geo Id2,Geographic area,Population,Housing units,Area in square miles - Total area,Area in square miles - Water area,Area in square miles - Land area,Density per square mile of land area - Population,Density per square mile of land area - Housing...,Geography,Geographic area
1,0500000US13095,13095,0500000US13095,13095,Dougherty County,94565,40801,334.63,5.94,328.69,287.7,124.1,Dougherty County,Dougherty County
2,0500000US13095,13095,1400000US13095000100,13095000100,Dougherty County - Census Tract 1,5944,2545,3.17,0.02,3.15,1886.7,807.8,Dougherty County,100
3,0500000US13095,13095,1400000US13095000200,13095000200,Dougherty County - Census Tract 2,3123,1348,1.91,0.04,1.87,1667.0,719.5,Dougherty County,200
4,0500000US13095,13095,1400000US13095000400,13095000400,Dougherty County - Census Tract 4,6276,3302,2.90,0.05,2.84,2206.7,1161.0,Dougherty County,400
5,0500000US13095,13095,1400000US13095000501,13095000501,Dougherty County - Census Tract 5.01,4798,2365,1.76,0.02,1.74,2764.5,1362.6,Dougherty County,501
6,0500000US13095,13095,1400000US13095000502,13095000502,Dougherty County - Census Tract 5.02,4151,1938,2.68,0.03,2.65,1565.4,730.8,Dougherty County,502
7,0500000US13095,13095,1400000US13095000600,13095000600,Dougherty County - Census Tract 6,2938,1484,1.34,0.01,1.33,2210.7,1116.6,Dougherty County,600
8,0500000US13095,13095,1400000US13095000700,13095000700,Dougherty County - Census Tract 7,1783,917,0.77,0.00,0.77,2314.3,1190.2,Dougherty County,700
9,0500000US13095,13095,1400000US13095000800,13095000800,Dougherty County - Census Tract 8,1607,778,0.73,0.02,0.71,2261.4,1094.8,Dougherty County,800

In [64]:
df_tract_full = df_land_area1.merge(df_medinc1, on='tract', how='inner')
df_tract_full.shape

(27, 145)

In [74]:
df_tract_full.head()

,GEO.id_x,GEO.id2_x,GCT_STUB.target-geo-id,GCT_STUB.target-geo-id2,GCT_STUB.display-label,HD01,HD02,SUBHD0301,SUBHD0302,SUBHD0303,SUBHD0401,SUBHD0402,county_x,tract,GEO.id_y,GEO.id2_y,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC04_EST_VC01,HC04_MOE_VC01,HC01_EST_VC02,...,HC01_EST_VC18,HC01_MOE_VC18,HC02_EST_VC18,HC02_MOE_VC18,HC03_EST_VC18,HC03_MOE_VC18,HC04_EST_VC18,HC04_MOE_VC18,HC01_EST_VC19,HC01_MOE_VC19,HC02_EST_VC19,HC02_MOE_VC19,HC03_EST_VC19,HC03_MOE_VC19,HC04_EST_VC19,HC04_MOE_VC19,HC01_EST_VC20,HC01_MOE_VC20,HC02_EST_VC20,HC02_MOE_VC20,HC03_EST_VC20,HC03_MOE_VC20,HC04_EST_VC20,HC04_MOE_VC20,county_y
0,0500000US13095,13095,1400000US13095000100,13095000100,Dougherty County - Census Tract 1,5944,2545,3.17,0.02,3.15,1886.7,807.8,Dougherty County,100,1400000US13095000100,13095000100,1905,220,911,173,244,117,994,210,19.0,...,46.5,(X),(X),(X),(X),(X),(X),(X),(X),(X),38.5,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),49.4,(X),Dougherty County
1,0500000US13095,13095,1400000US13095000200,13095000200,Dougherty County - Census Tract 2,3123,1348,1.91,0.04,1.87,1667.0,719.5,Dougherty County,200,1400000US13095000200,13095000200,1006,141,643,118,200,90,363,127,25.0,...,45.5,(X),(X),(X),(X),(X),(X),(X),(X),(X),43.1,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),47.4,(X),Dougherty County
2,0500000US13095,13095,1400000US13095000400,13095000400,Dougherty County - Census Tract 4,6276,3302,2.90,0.05,2.84,2206.7,1161.0,Dougherty County,400,1400000US13095000400,13095000400,2786,200,1446,202,623,191,1340,223,11.5,...,35.5,(X),(X),(X),(X),(X),(X),(X),(X),(X),34.3,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),34.6,(X),Dougherty County
3,0500000US13095,13095,1400000US13095000501,13095000501,Dougherty County - Census Tract 5.01,4798,2365,1.76,0.02,1.74,2764.5,1362.6,Dougherty County,501,1400000US13095000501,13095000501,2281,156,1239,199,564,130,1042,186,1.3,...,44.9,(X),(X),(X),(X),(X),(X),(X),(X),(X),46.8,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),40.4,(X),Dougherty County
4,0500000US13095,13095,1400000US13095000502,13095000502,Dougherty County - Census Tract 5.02,4151,1938,2.68,0.03,2.65,1565.4,730.8,Dougherty County,502,1400000US13095000502,13095000502,1811,121,1198,107,969,103,613,97,3.8,...,37.3,(X),(X),(X),(X),(X),(X),(X),(X),(X),40.3,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),31.5,(X),Dougherty County

In [82]:
df_block_full1 = df_block_full.merge(df_employment, on='block_tract', how='inner')
df_block_full1.shape

(75, 85)

In [85]:
df_employment.head(20)

,GEO.id,GEO.id2,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,HD01_VD05,HD02_VD05,HD01_VD06,HD02_VD06,HD01_VD07,HD02_VD07,block,tract,county,block_tract
0,Id,Id2,Estimate; Total:,Margin of Error; Total:,Estimate; In labor force:,Margin of Error; In labor force:,Estimate; In labor force: - Civilian labor force:,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Civilian labor for...,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Civilian labor for...,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Armed Forces,Margin of Error; In labor force: - Armed Forces,Estimate; Not in labor force,Margin of Error; Not in labor force,Geography,NaN,NaN,NaN
1,1500000US130079601001,130079601001,684,144,350,113,350,113,350,113,0,13,0,13,334,87,1,960100.0,Baker County,1_960100
2,1500000US130079601002,130079601002,1038,170,488,124,488,124,461,126,27,22,0,13,550,156,2,960100.0,Baker County,2_960100
3,1500000US130079602001,130079602001,450,129,262,106,262,106,262,106,0,13,0,13,188,70,1,960200.0,Baker County,1_960200
4,1500000US130079602002,130079602002,507,98,219,69,219,69,213,69,6,9,0,13,288,81,2,960200.0,Baker County,2_960200
5,1500000US130950001001,130950001001,475,275,282,195,282,195,282,195,0,13,0,13,193,138,1,10000.0,Dougherty County,1_10000
6,1500000US130950001002,130950001002,304,183,164,106,164,106,138,100,26,25,0,13,140,109,2,10000.0,Dougherty County,2_10000
7,1500000US130950001003,130950001003,491,189,261,124,261,124,181,95,80,67,0,13,230,104,3,10000.0,Dougherty County,3_10000
8,1500000US130950001004,130950001004,1177,370,881,286,881,286,778,274,103,86,0,13,296,204,4,10000.0,Dougherty County,4_10000
9,1500000US130950001005,130950001005,780,309,507,257,507,257,467,242,40,52,0,13,273,131,5,10000.0,Dougherty County,5_10000
10,1500000US130950002001,130950002001,568,265,284,184,284,184,206,125,78,96,0,13,284,116,1,20000.0,Dougherty County,1_20000
11,1500000US130950002002,130950002002,167,106,54,45,54,45,54,45,0,13,0,13,113,74,2,20000.0,Dougherty County,2_20000
12,1500000US130950002003,130950002003,1079,402,653,306,653,306,298,140,355,272,0,13,426,163,3,20000.0,Dougherty County,3_20000
13,1500000US130950002004,130950002004,318,169,111,94,111,94,71,60,40,51,0,13,207,111,4,20000.0,Dougherty County,4_20000
14,1500000US130950004001,130950004001,971,278,494,185,494,185,467,164,27,45,0,13,477,197,1,40000.0,Dougherty County,1_40000
15,1500000US130950004002,130950004002,1726,504,1187,389,1187,389,1049,364,138,103,0,13,539,243,2,40000.0,Dougherty County,2_40000
16,1500000US130950004003,130950004003,2303,449,1625,417,1608,417,1305,316,303,255,17,28,678,222,3,40000.0,Dougherty County,3_40000
17,1500000US130950005011,130950005011,2731,406,1967,377,1967,377,1782,353,185,143,0,13,764,208,1,50100.0,Dougherty County,1_50100
18,1500000US130950005012,130950005012,1477,270,1054,225,1037,228,974,205,63,56,17,28,423,171,2,50100.0,Dougherty County,2_50100
19,1500000US130950005021,130950005021,1262,366,787,219,760,221,731,227,29,33,27,36,475,191,1,50200.0,Dougherty County,1_50200