In [1]:
import pandas as pd
df = pd.read_csv("~\\Documents\\query_results.csv")

FileNotFoundError: File b'~\\Documents\\query_results.csv' does not exist

In [15]:
#Returns true if the project was completed during this record, false if not
def binarize(series):
    return series['Plan_Year']<series['Year']
df['projectCompleted'] = df[['Plan_Year', 'Year']].apply(binarize, axis=1)

In [21]:
df.loc[9900:10000, :]

,Year,Month,Address,Consumption,HTDD,CLDD,MeanTemp,size,Plan_Year,projectCompleted
9900,2014,8,511 HOBSON ST,9,0,540,82.400000,1176,2015,False
9901,2014,9,511 HOBSON ST,11,0,370,78.300000,1176,2015,False
9902,2014,10,511 HOBSON ST,8,42,132,67.900000,1176,2015,False
9903,2014,11,511 HOBSON ST,14,373,8,52.800000,1176,2015,False
9904,2014,12,511 HOBSON ST,38,342,4,54.100000,1176,2015,False
9905,2015,1,511 HOBSON ST,53,511,2,48.600000,1176,2015,False
9906,2015,2,511 HOBSON ST,62,477,0,47.964286,1176,2015,False
9907,2015,3,511 HOBSON ST,67,123,62,65.300000,1176,2015,False
9908,2015,4,511 HOBSON ST,21,6,176,70.700000,1176,2015,False
9909,2015,6,511 HOBSON ST,10,0,495,81.500000,1176,2015,False
9910,2015,7,511 HOBSON ST,8,0,581,83.800000,1176,2015,False
9911,2015,8,511 HOBSON ST,9,0,553,82.900000,1176,2015,False
9912,2015,9,511 HOBSON ST,10,0,375,77.500000,1176,2015,False
9913,2015,10,511 HOBSON ST,9,11,134,69.000000,1176,2015,False
9914,2015,11,511 HOBSON ST,9,118,104,64.500000,1176,2015,False
9915,2015,12,511 HOBSON ST,20,158,74,62.300000,1176,2015,False
9916,2016,1,511 HOBSON ST,32,523,0,48.100000,1176,2015,True
9917,2016,2,511 HOBSON ST,63,347,3,53.100000,1176,2015,True
9918,2016,3,511 HOBSON ST,48,119,80,63.800000,1176,2015,True
9919,2016,4,511 HOBSON ST,16,40,99,67.000000,1176,2015,True
9920,2016,5,511 HOBSON ST,9,4,298,74.500000,1176,2015,True
9921,2016,6,511 HOBSON ST,9,0,508,82.000000,1176,2015,True
9922,2016,7,511 HOBSON ST,9,0,616,84.900000,1176,2015,True
9923,2016,8,511 HOBSON ST,10,0,594,84.200000,1176,2015,True
9924,2016,9,511 HOBSON ST,9,0,467,80.600000,1176,2015,True
9925,2016,10,511 HOBSON ST,9,11,240,72.400000,1176,2015,True
9926,2016,11,511 HOBSON ST,9,136,53,62.200000,1176,2015,True
9927,2016,12,511 HOBSON ST,18,259,22,57.400000,1176,2015,True
9928,2017,1,511 HOBSON ST,32,277,18,56.600000,1176,2015,True
9929,2017,2,511 HOBSON ST,31,142,16,60.500000,1176,2015,True
...,...,...,...,...,...,...,...,...,...,...
9971,2013,7,516 W LINCOLN AVE,0,0,469,80.100000,1312,2015,False
9972,2013,8,516 W LINCOLN AVE,0,0,499,81.100000,1312,2015,False
9973,2013,9,516 W LINCOLN AVE,2,0,391,78.000000,1312,2015,False
9974,2013,10,516 W LINCOLN AVE,2,42,161,68.900000,1312,2015,False
9975,2013,11,516 W LINCOLN AVE,19,262,19,56.900000,1312,2015,False
9976,2013,12,516 W LINCOLN AVE,57,333,33,55.300000,1312,2015,False
9977,2014,1,516 W LINCOLN AVE,148,651,0,44.000000,1312,2015,False
9978,2014,2,516 W LINCOLN AVE,219,331,4,53.300000,1312,2015,False
9979,2014,3,516 W LINCOLN AVE,146,275,2,56.300000,1312,2015,False
9980,2014,4,516 W LINCOLN AVE,103,76,89,65.400000,1312,2015,False
9981,2014,6,516 W LINCOLN AVE,11,0,458,80.300000,1312,2015,False
9982,2014,7,516 W LINCOLN AVE,4,0,517,81.700000,1312,2015,False
9983,2014,8,516 W LINCOLN AVE,0,0,540,82.400000,1312,2015,False
9984,2014,9,516 W LINCOLN AVE,0,0,370,78.300000,1312,2015,False
9985,2014,10,516 W LINCOLN AVE,9,42,132,67.900000,1312,2015,False
9986,2014,11,516 W LINCOLN AVE,37,373,8,52.800000,1312,2015,False
9987,2014,12,516 W LINCOLN AVE,129,342,4,54.100000,1312,2015,False
9988,2015,1,516 W LINCOLN AVE,177,511,2,48.600000,1312,2015,False
9989,2015,2,516 W LINCOLN AVE,195,477,0,47.964286,1312,2015,False
9990,2015,3,516 W LINCOLN AVE,200,123,62,65.300000,1312,2015,False
9991,2015,4,516 W LINCOLN AVE,68,6,176,70.700000,1312,2015,False
9992,2015,6,516 W LINCOLN AVE,5,0,495,81.500000,1312,2015,False
9993,2015,7,516 W LINCOLN AVE,2,0,581,83.800000,1312,2015,False
9994,2015,8,516 W LINCOLN AVE,0,0,553,82.900000,1312,2015,False
9995,2015,9,516 W LINCOLN AVE,0,0,375,77.500000,1312,2015,False
9996,2015,10,516 W LINCOLN AVE,0,11,134,69.000000,1312,2015,False
9997,2015,11,516 W LINCOLN AVE,10,118,104,64.500000,1312,2015,False
9998,2015,12,516 W LINCOLN AVE,26,158,74,62.300000,1312,2015,False
9999,2016,1,516 W LINCOLN AVE,75,523,0,48.100000,1312,2015,True
10000,2016,2,516 W LINCOLN AVE,177,347,3,53.100000,1312,2015,True