In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/ToDatabase/addr_junct_table.csv')

In [24]:
df.insert(2, "City", "Albany")
df.insert(3, "State", "GA")

In [31]:
df.drop(['Id','Xcoord','Ycoord','Tract','BlockGroup','Block'], axis=1, inplace=True)

In [32]:
df.to_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/address_zillow.csv', header=False,index=False)

In [33]:
df2 = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Raw-Data/address_zillow.csv')

In [34]:
df2.head()

   501 S MADISON ST  Albany  GA
0   525 LINCOLN AVE  Albany  GA
1  609 S JACKSON ST  Albany  GA
2   602 S MONROE ST  Albany  GA
3  509 W GORDON AVE  Albany  GA
4  610 W GORDON AVE  Albany  GA