In [1]:
import pandas as pd
import numpy as np
import os
import json
from fix_addresses_master import *

In [2]:
#Read in the address junction table 
df = pd.read_csv('C:\\Users\\Mirabel\\Dropbox (GaTech)\\CDS-2019-AlbanyHub\\ToDatabase\\addr_junct_table.csv')
directory = 'C:\\Users\\Mirabel\\Dropbox (GaTech)\\CDS-2019-AlbanyHub\\Processed-Data\\attom_json' #dir of json files

In [3]:
#read all json files into a single list
j_list=[]
for filename in os.listdir(directory):
    if filename.endswith('.json'):
        f = open(directory+'/'+filename)
        j_list.append(json.load(f))
        f.close()

In [ ]:
#Look at all the values available for a single home
example_entry = j_list[0][0]
example_entry.keys()

In [4]:
#concatenate j_list into a single list
data = [y for x in j_list for y in x]
len(data)

30721

In [5]:
def prop_split(data):
    #separate these out by the major keys
    all_identifiers = [x['identifier'] for x in data if len(x)>0]
    all_lot = [x['lot'] for x in data if len(x)>0]
    all_area = [x['area'] for x in data if len(x)>0]
    all_addresses = [x['address'] for x in data if len(x)>0]
    all_location = [x['location'] for x in data if len(x)>0]
    all_summary = [x['summary'] for x in data if len(x)>0]
    all_utilities = [x['utilities']for x in data if len(x)>0]
    all_sale = [x['sale'] for x in data if len(x)>0]
    all_building = [x['building'] for x in data if len(x)>0]
    all_assessment = [x['assessment'] for x in data if len(x)>0]
    all_vintage = [x['vintage'] for x in data if len(x)>0]
    #convert data from a multi-layered dict into a single dict for a pandas dataframe
    dict_full = {
        'address':[x['line1'] for x in all_addresses],
        'lot_size':[x['lotSize1'] for x in all_lot],
        'zoningType': [x.get('zoningType') for x in all_lot],
        'siteZoningIdent': [x.get('siteZoningIdent') for x in all_lot],
        'propClass': [x['propClass'] for x in all_summary],
        'yearBuilt':[x['yearBuilt'] for x in all_summary],
        'size':[x['size']['grossSizeAdjusted'] for x in all_building],
        'baths':[x['rooms']['bathsTotal'] for x in all_building],
        'beds':[x['rooms']['beds'] for x in all_building],
        'rooms':[x['rooms']['roomsTotal'] for x in all_building],
        'floors':[x['interior'].get('floors') for x in all_building],
        'condition':[x['construction'].get('condition') for x in all_building],
        'foundationType':[x['construction'].get('foundationType') for x in all_building],
        'roofCover':[x['construction'].get('roofCover') for x in all_building],
        'wallType':[x['construction'].get('wallType') for x in all_building],
        'improvementYear':[x['construction'].get('propertyStructureMajorImprovementsYear') for x in all_building],
        'assessment':[x['assessed']['assdTtlValue'] for x in all_assessment],
        'market':[x['market']['mktTtlValue'] for x in all_assessment]
    }
    return pd.DataFrame(data=dict_full)

In [6]:
#Convert to pandas dataframe
dfp = prop_split(data)
print(len(dfp))
dfp.drop_duplicates(subset="address", inplace=True)
dfp.index = range(len(dfp))
len(dfp)

26931

26788

In [7]:
#get the primary ids in the junction table for each address returned
id_dict = {df.loc[x,'Address']:df.loc[x, 'Id'] for x in range(len(df))} #maps address to id, from junct table
NOT_FOUND = id_dict['NOT FOUND']
prim_ids=[id_dict.get(x, NOT_FOUND) for x in fix_series(dfp['address'])] #id of each addresss in new dataframe
len(prim_ids)

26788

In [8]:
#find the locs where x is not in the address junction table
nf = [dfp.loc[x, 'address'] for x in range(len(prim_ids)) if prim_ids[x]==NOT_FOUND]

In [9]:
len(nf)/len(prim_ids) #about 3% of addresses were not found despite the successful api call

0.02269672987905032

In [10]:
dfp['PrimaryId'] = prim_ids
len(dfp)

26788

In [11]:
#replace 0's with None for clarity
dfp.loc[dfp['yearBuilt'] == 0, 'yearBuilt']=None
dfp.loc[dfp['size']==0, 'size'] = None
dfp.loc[dfp['lot_size'] == 0, 'lot_size'] = None
dfp.loc[dfp['assessment'] ==0, 'assessment']=None
dfp.loc[dfp['market'] == 0, 'market']=None
#Drop rows where address is Not found
dfp.loc[dfp['PrimaryId'] == NOT_FOUND, :] = None
dfp = dfp.dropna(how='all')
len(dfp)

26180

### Look at all the missing data and try to load it again

In [12]:
missing = df[~df['Id'].isin(dfp['PrimaryId'])]
#missing.to_csv("missing.csv", index=False)

In [ ]:
dfp.to_csv(directory+'/property_data.csv', index=False)

## Data Exploration
### 1. Identifiers
Address (Primary ID) - linked with junction table

### 2. Counts of Observations
Get counts and percentages of data

In [ ]:
len(dfp)/len(data) # about 86% of addresses have data

In [ ]:
len(dfp[dfp['size'].notnull()])/len(data) #about 83% of addresses have info on square footage

In [ ]:
len(dfp[dfp['yearBuilt'].notnull()])/len(data) #similarly about 83% of addresses have year built

In [ ]:
len(data) #number of addresses in the database

In [ ]:
len(dfp) #number of addresses successfully retrieved from database

### 3. Some example records

In [ ]:
dfp.loc[[5000, 10000, 15000, 20000, 25000], :]

### 4. Summarization

In [ ]:
#all fields
dfp.columns

In [ ]:
def get_stats(l):
    print("Min:", min(l))
    print("Max:", max(l))
    print("Mean:",l.mean())

In [ ]:
print("Lot Size")
get_stats(dfp['lot_size'])
print("Year Built")
get_stats(dfp['yearBuilt'])
print("Size (sq ft)")
get_stats(dfp['size'])
print('assessment')
get_stats(dfp['assessment'])
print('market')
get_stats(dfp['market'])

In [ ]:
# tiny lot size
dfp.loc[dfp['lot_size']<0.02, :]

In [ ]:
# large lot size
dfp.loc[dfp['lot_size']>10000, :] # this is an error

In [ ]:
# Small size
dfp[dfp['size']<250] # nothing ridiculous

In [ ]:
#large size
dfp[dfp['size']>200000] #largest are commercial, industrial, distribution,etc - checks out

#### Question: difference between market and assessment? (market is often >2x assessment value)
https://www.realtor.com/advice/sell/assessed-value-vs-market-value-difference/<br>
Market: what home could sell for<br>
Assessed: Used for property tax<br>

In [ ]:
dfp[dfp['market']<500] #most low values are vacant properties, 5200 radium springs is a power plant

In [ ]:
dfp[dfp['market']>10000000]

In [ ]:
dfp[dfp['assessment']<500] #Vacant properties

#### Categorical values

In [ ]:
dfp['zoningType'].value_counts()

In [ ]:
dfp['siteZoningIdent'].value_counts()

In [ ]:
dfp['propClass'].value_counts()

In [ ]:
dfp['floors'].value_counts()

In [ ]:
dfp['wallType'].value_counts()

In [ ]:
dfp['condition'].value_counts()

In [ ]:
dfp['roofCover'].value_counts()

In [ ]:
dfp['foundationType'].value_counts()

### 5. Statistical summaries by groups

In [ ]:
dfp_g1 = dfp.loc[:,['zoningType','lot_size', 'yearBuilt', 'size', 'market', 'assessment']].groupby(by='zoningType')
pd.set_option('precision', 2)
dfp_g1.agg(['mean', 'min', 'max'])

In [ ]:
dfp_g2 = dfp.loc[:, ['propClass','lot_size', 'yearBuilt', 'size', 'market', 'assessment']].groupby(by='propClass')
dfp_g2.agg(['mean', 'min', 'max'])

In [ ]:
dfp_g2 = dfp.loc[:, ['condition','lot_size', 'yearBuilt', 'size', 'market', 'assessment']].groupby(by='condition')
dfp_g2.agg(['mean', 'min', 'max'])

In [ ]:
dfp_g3 = dfp.groupby(by=['condition', 'propClass']) 
dfp_g3.count()

In [ ]:
dfp_g4 = dfp.groupby(by=['siteZoningIdent', 'propClass']) 
dfp_g4.count()

# Read missing back in

In [13]:
missing.index = range(len(missing))
missing.shape

(4410, 7)

In [14]:
missing_dir = 'C:\\Users\\Mirabel\\Dropbox (GaTech)\\CDS-2019-AlbanyHub\\Processed-Data\\attom_json\\missing'
#read all json files into a single list
j_list=[]
flist = os.listdir(missing_dir)
flist.sort()
for filename in flist:
    if filename.endswith('.json'):
        f = open(missing_dir+'/'+filename)
        j_list.append(json.load(f))
        f.close()

#### a) Split the results into 'found', which were retrieved on the second run-through and 'missing_list', which still could not be retrieved.

In [20]:
data_new = [y for x in j_list for y in x]
data_found =[]#The data returned by the attom api
orig_addresses = [] #The addresses used to query the attom api
missing_list = pd.DataFrame(data={'Address':[], 'StatusMSG':[], 'Code':[]}) #the return values of addresses which were still not coded
for i in range(len(data_new)):
    #The API call returned with an error -> add this to the missing list, and append the status message
    if len(data_new[i])==8 or len(data_new[i])==6:
        missing_list = missing_list.append({'Address':missing.iloc[i, 1], 'StatusMSG':data_new[i]['msg'], 'Code':data_new[i]['code']}, ignore_index=True)
    elif len(data_new[i])==0:
        missing_list = missing_list.append({'Address':missing.iloc[i, 1], 'StatusMSG':'unknown', 'Code':0}, ignore_index=True)
    #The API call returned with some result -> add the result to the list and keep track of the original address used in the query
    else:
        data_found.append(data_new[i])
        orig_addresses.append(missing.iloc[i, 1])

In [21]:
#data_found[685]['summary']['propClass']=None
len(orig_addresses)

789

In [22]:
#Projects that were found when the api was queried again
dfp2 = prop_split(data_found)# convert the found results to a dataframe

dfp2.index = range(len(dfp2))
print(len(dfp2))
#get the primary ids in the junction table for each address returned
id_dict = {df.loc[x,'Address']:df.loc[x, 'Id'] for x in range(len(df))} #maps address to id, from junct table
NOT_FOUND = id_dict['NOT FOUND']
prim_ids=[id_dict.get(x, NOT_FOUND) for x in orig_addresses] #find the id using the original addresses, not the queried
dfp2['PrimaryId'] = prim_ids
dfp2.drop_duplicates(subset="address", inplace=True)

789

####  In found, compare the coordinates that were located to the coordinates of the address used to query. If it seems that the api found the wrong location, drop this address from dfp2

In [ ]:
dfp2.loc[3,:]

In [23]:
#Compare the addresses returned by attom api to those which were queried -> is there a difference?
data_found_lat = [float(x['location']['latitude']) for x in data_found]
data_found_lon = [float(x['location']['longitude']) for x in data_found]
data_found_acc = [x['location']['accuracy'] for x in data_found]
df_subset = df[df['Address'].isin(orig_addresses)] #The set of the dataframe that was used to generate data_found
df_subset.index = range(len(df_subset))

df_compare = pd.DataFrame(data={'found_addresses':dfp2['address'], 'orig_addresses':df_subset['Address'], 'accuracy':data_found_acc,'found_lat':data_found_lat, 'found_lon':data_found_lon, 'orig_lat':df_subset['Xcoord'], 'orig_lon':df_subset['Ycoord']})
df_compare['coord_diff'] = abs(df_compare['found_lat']+df_compare['found_lon']-df_compare['orig_lat']-df_compare['orig_lon'])
df_compare[df_compare['coord_diff']>0.005]

,found_addresses,orig_addresses,accuracy,found_lat,found_lon,orig_lat,orig_lon,coord_diff
3,252 N BONNY VIEW CT,252 BONNY VIEW AVE,Zip5,31.547500,-84.091800,31.577872,-84.142308,0.020136
4,4805 HILL RD,4805 HILL ROAD,Street,31.580128,-84.017950,31.576628,-84.031371,0.016921
9,741 US HIGHWAY 82 W,741 US HWY 82,Extrapolate,31.660260,-84.275367,31.776926,-84.737709,0.345676
16,508 LIBERTY EXPY SE,508 LIBERTY EXPRESS SE WAY,Street,31.555594,-84.114707,31.554749,-84.108294,0.005569
20,4917 OLD DAWSON RD,4917 OLD DAWSON,Street,31.610968,-84.285107,31.610941,-84.279746,0.005335
24,2649 CODY CT,2649 CODY CT,Zip5,31.547500,-84.091800,31.570460,-84.081357,0.033403
25,2661 CODY CT,2661 CODY CT,Zip5,31.547500,-84.091800,31.570458,-84.080941,0.033817
26,145 CHICKORY CT,145 CHICORY CT,Zip7,31.706212,-84.172046,31.643942,-84.239709,0.129933
27,124 CHICKORY CT,124 CHICORY CT,Zip7,31.706212,-84.172046,31.643809,-84.239591,0.129948
29,132 CHICKORY CT,132 CHICORY CT,Zip7,31.706212,-84.172046,31.643809,-84.239591,0.129948
30,129 CHICKORY CT,129 CHICORY CT,Zip7,31.706212,-84.172046,31.643809,-84.239591,0.129948
34,148 CHICKORY CT,148 CHICORY CT,Zip7,31.706212,-84.172046,31.643809,-84.239591,0.129948
35,141 CHICKORY CT,141 CHICORY CT,Zip7,31.706212,-84.172046,31.643809,-84.239591,0.129948
42,510 S VALENCIA DR,510 S VALENICA ST,Street,31.569555,-84.195679,31.580485,-84.196484,0.010125
43,112 CHICKORY CT,112 CHICORY CT,Zip7,31.706212,-84.172046,31.643809,-84.239591,0.129948
44,133 CHICKORY CT,133 CHICORY CT,Zip7,31.706212,-84.172046,31.643809,-84.239591,0.129948
45,2601 CODY CT,2601 CODY CT,Zip5,31.547500,-84.091800,31.570466,-84.083026,0.031740
46,2619 CODY CT,2619 CODY CT,Zip5,31.547500,-84.091800,31.570462,-84.082401,0.032361
47,2613 CODY CT,2613 CODY CT,Zip5,31.547500,-84.091800,31.570463,-84.082610,0.032154
48,100 CHICKORY CT,100 CHICORY CT,Zip7,31.706212,-84.172046,31.643809,-84.239591,0.129948
49,136 CHICKORY CT,136 CHICORY CT,Zip7,31.706212,-84.172046,31.643809,-84.239591,0.129948
51,121 CHICKORY CT,121 CHICORY CT,Zip7,31.706212,-84.172046,31.643809,-84.239591,0.129948
52,144 CHICKORY CT,144 CHICORY CT,Zip7,31.706212,-84.172046,31.643809,-84.239591,0.129948
53,137 CHICKORY CT,137 CHICORY CT,Zip7,31.706212,-84.172046,31.643809,-84.239591,0.129948
54,150 CHICKORY CT,150 CHICORY CT,Zip7,31.706212,-84.172046,31.643809,-84.239591,0.129948
57,919 US HIGHWAY 19 S,919 US HIGHWAY 19S,Street,31.676127,-84.171788,31.578507,-84.155741,0.081573
58,1501 LIBERTY EXPY SE,1501 US HIGHWAY 19S,Street,31.507789,-84.115791,31.578507,-84.155741,0.030768
94,1331 W OGLETHORPE AVE,1331 W OGLETHORPE BLVD,Street,31.575819,-84.181859,31.575334,-84.176130,0.005244
98,1212 WHISPERING PINES RD,1212 WHISPERING PINES CIR,Street,31.604783,-84.179624,31.606505,-84.208985,0.027639
139,323 IRONHORSE CT,323 IRON HORSE CT,Zip5,31.518880,-84.302870,31.570654,-84.279520,0.075125
194,315 IRONHORSE CT,315 IRON HORSE CT,Zip5,31.518880,-84.302870,31.571976,-84.279273,0.076694
208,200 E BROAD AVE,200 W BROAD AVE,Street,31.576773,-84.145194,31.576456,-84.151583,0.006706
283,2312 TROWBRIDGE RD,2312 TROWBRIDGE,Street,31.601471,-84.231478,31.608084,-84.231934,0.006157
304,728 SHAMROCK DR,728 SHAMROCK,Street,31.567548,-84.233389,31.563733,-84.234692,0.005118
320,817 21ST AVE,817 21ST AVE,Zip5,31.575300,-84.161300,31.616454,-84.172591,0.029863
325,808 21ST AVE,808 21ST AVE,Zip5,31.575300,-84.161300,31.615315,-84.171305,0.030010
354,416 N WESTOVER BLVD,416 N WESTOVER BLVD,Extrapolate,31.620886,-84.219653,31.603101,-84.219955,0.018087
545,1401 E BROAD AVE,1401 W BROAD AVE,Street,31.576707,-84.119502,31.578370,-84.184002,0.062837
686,2100 N FULTON AVE,2100 FULTON AVE,Street,37.997004,-87.581034,31.571250,-84.102276,2.946995
723,5621 SASSAFRASS AVE,5621 SASSAFRASS LN,Street,31.585567,-83.996703,31.583187,-84.003942,0.009619
728,639 OWENS ST,639 OWENS AVE,Street,31.216171,-82.367554,31.599384,-84.113777,1.363009
729,1803 W BROAD AVE,1803 E BROAD AVE,Street,31.576867,-84.193459,31.575788,-84.104065,0.088315
738,1107 LIBERTY EXPY SE,1107 LIBERTY EXPY,Street,31.519127,-84.115821,31.525661,-84.116544,0.005811
773,1115 LIBERTY EXPY SE,1115 LIBERTY EXPY,Street,31.519442,-84.115821,31.526651,-84.115319,0.007711
784,421 S WESTOVER BLVD,421 N WESTOVER BLVD,Street,31.567511,-84.222816,31.601256,-84.220613,0.035948
785,608 W RESIDENCE AVE,608 E RESIDENCE AVE,Street,31.582943,-84.162188,31.581858,-84.132444,0.028659
787,1817 W OGLETHORPE AVE,1817 W OGLETHORPE BLVD,Street,31.575766,-84.194622,31.575334,-84.176130,0.018060

In [24]:
#Addresses which may have been miscoded: difference in coordinates is significant
df_compare[df_compare['coord_diff']>0.005]
#US highway addresses: found is more accurate
#all else: original is more accurate
#Despite incorrect geocoding, likely only the E/W N/S mixups and wildly incorrect addresses are wrong
#That is, 
drop_idx = [3,9, 208, 545,686, 728, 729,784, 785]
nf_miscoded = dfp2.loc[drop_idx, 'address']
dfp2.drop(drop_idx, inplace=True)
dfp2.index = range(len(dfp2))

In [25]:
dfp_all = pd.concat([dfp, dfp2], axis=0)

#### c) In missing_list, split the non-found addresses by the error code. Export the addresses which resulted in 'System not responding' to be re-run

In [26]:
missing_list.groupby(by='StatusMSG').count()

                                                    Address  Code
StatusMSG
Geocoder Results Address Not Identified.                 83    83
Success without results. No data available for ...      478   478
SuccessWithoutResult                                   3050  3050
System Not Responding.                                   10    10

In [27]:
missing_list.groupby(by='Code').count()
#-2 = System Not Responding : There is a failure within the api
#1 = SuccessWithoutResult : Your request was successful but returned no results
#210 = Geocoder Search Results Address Not Identified. : The input address could not be identified. Please try again.
#212 = 	Success without results. No data available for this address. : The input address has been located with ZIP level precision, but a record is not available.

        Address  StatusMSG
Code
-2.0         10         10
 1.0       3050       3050
 210.0       83         83
 212.0      478        478

In [28]:
missing_list[missing_list['StatusMSG']=='System Not Responding.'].to_csv('missing_notresponding.csv')

In [ ]:
missing_list[missing_list['StatusMSG']=='Success without results. No data available for this address.'].head()

In [ ]:
missing_list[missing_list['StatusMSG']=='Geocoder Results Address Not Identified.'].head()

#### d) Retrieve the results of step c) and add them to a new dataframe dfp3.

In [29]:
f = open('C:\\Users\\Mirabel\\Dropbox (GaTech)\\CDS-2019-AlbanyHub\\Processed-Data\\attom_json\\missing\\noresponse\\json_dump_missing_noresponse0_10.json')
data_nr = json.load(f)
f.close()
dfp3 = prop_split(data_nr)
prim_ids=[id_dict.get(x, NOT_FOUND) for x in dfp3['address']] #id of each addresss in new dataframe
#manually fix one value
prim_ids[6] = id_dict.get('600 POLARIS DR')
dfp3['PrimaryId'] = prim_ids

In [39]:
dfp_all = pd.concat([dfp, dfp2, dfp3], axis=0)
dfp_all.to_csv("property_data.csv", index=False, sep=';')

In [34]:
p1 = missing_list[missing_list['StatusMSG']!='System Not Responding.']
p2 = p1.append([{'Address':x} for x in nf_miscoded], ignore_index=True)
p2.to_csv('missing_unresolved.csv', index=False)

In [37]:
dfp_all[dfp_all['PrimaryId'].isnull()]

Empty DataFrame
Columns: [address, lot_size, zoningType, siteZoningIdent, propClass, yearBuilt, size, baths, beds, rooms, floors, condition, foundationType, roofCover, wallType, improvementYear, assessment, market, PrimaryId]
Index: []

In [38]:
for a in dfp_all['PrimaryId']:
    try:
        b = int(a)
    except:
        print(a, type(a))