In [1]:
import pandas as pd
import numpy as np
import Levenshtein
import math

In [2]:
pd.options.display.max_columns = 22
pd.options.display.max_rows = 1000

## Read in all data

In [5]:
df_taxes_list = []
path = "~/Dropbox (GaTech)/CDS-2019-AlbanyHub/Raw-Data/Tax/"
for i in range(2009, 2020):
    df_tmp = pd.read_csv(path + "AY" + str(i) + " Real Property_Personal Property.csv")
    df_tmp['YEAR'] = i # adding a year column to maintiain information 
    df_taxes_list.append(df_tmp)
df_full_taxes = pd.concat(df_taxes_list, ignore_index=True) # concat them all into one
df_full_taxes.head();

/anaconda3/envs/cds_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/envs/cds_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (6,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

KeyboardInterrupt:

In [6]:
df_home = pd.read_csv('~/Dropbox (GaTech)/CDS-2019-AlbanyHub/Processed-Data/fixed_home_v02.csv')
df_cdbg = pd.read_csv('~/Dropbox (GaTech)/CDS-2019-AlbanyHub/Processed-Data/fixed_cdbg.csv')

In [7]:
df_addr = pd.read_csv('~/Dropbox (GaTech)/CDS-2019-AlbanyHub/ToDatabase/addr_junct_table.csv')

## Functions

In [8]:
def genStrip(): # strip off extra white space
    return lambda addr: addr.strip()

In [9]:
def genSpacing(): # fix spacing--not really a need to do this nested function
    def test(word):
        if word == "  ":
            return ""
        elif type(word) == float:
            if math.isnan(word):
                return ""
        else:
            return word
    return test

In [10]:
# address_list is the list of addresses in which you want to test if your 'address' is within 'i' edits of any word
# ex. lev_list(['aaa', 'aa', 'a'], 'a', 2) returns [AA, A]
def lev_list(address_list, address, i): # will help us find near matches
    temp_list = []
    temp_list_u = []
    for u_address in address_list:
        if Levenshtein.distance(address, u_address.upper()) <= i:
            temp_list.append(address)
            temp_list_u.append(u_address.upper())
    temp_list_series = pd.Series(temp_list)
    temp_list_u_series = pd.Series(temp_list_u)
    return temp_list_u_series

In [11]:
# gives a heuristic as to whether a given address is so far off from anything found in our address_list
def gen_list_none(address_list, mismatched, i): # just to find how many addresses are so far off from anything in full
    tmp_list = []
    for address in mismatched:
        if address == "UNKNOWN ADDRESS" or address == "SUPPRESSED ADDRESS":
            continue
        if lev_list(address_list, address, i).shape[0] == 0:
            tmp_list.append(address)
    return pd.Series(tmp_list)

In [12]:
def contains_cardinal(addr): # returns None if no cardinal direction in the address, and direction otherwise
    directions = [' E ', ' W ', ' N ', ' S ', ' NE ', ' NW ', ' SW ', ' SE ']
    count = 0
    for car in directions:
        if car in addr:
            if "JOHNNY W WILLIAMS" in addr: # corner case where the w does not stand for west
                return None
            return car # tested earlier, only one instance of each in every single address (no double directions)
    return None

In [13]:
def construct_st_name(address): # returns the street name of the address w/o number, direction, or ending
    split = address.split()
    end = split[-1]
    first = "NA"
    start_index = 0
    end_index = len(split) - 1
    if split[0].isnumeric():
        start_index += 1
    if contains_cardinal(address) != None:
        start_index += 1
    first = split[start_index:end_index]
    word = ""
    for a in first:
        word += a + " "
    word = word.strip()
    return word

In [14]:
# f_addresses contains list of 'trusted' addresses
# constructs dictionary from all trusted addresses to create master lookup for endings
def construct_dictionary(f_addresses): 
    endings = {'AVE', 'DR', 'RD', 'ST', 'LN', 'CT', 'BLVD', 'CIR', 
               'WAY', 'PL', 'EXPY', 'ALY', 'TRL', 'PKWY', 'TER'}
    dictionary = {}
    counter = 0
    for i in range(len(f_addresses)):
        split = f_addresses[i].split()
        end = split[-1]
        if end in endings:
            st_name = construct_st_name(f_addresses[i])
            if st_name in dictionary.keys():
                existing_endings = dictionary[st_name] # should be a list of endings, as there could be multiple
                if end not in existing_endings:
                    counter += 1
                    existing_endings.append(end)
            else:
                dictionary[st_name] = [end]
    return dictionary

In [15]:
def construct_word_spacing(word_list): # takes in a list of words and returns in correct format
    #ex: construct_word_spacing(['123', 'JACKSON', 'ST']) returns '123 JACKSON ST'
    word = ""
    for part in word_list:
        word += part + " "
    return word.strip()

In [16]:
def reverse_ending_dictionary(f_addresses, t_addresses, not_found):
    # constructs a dictionary given the first part of the street and it's ending
    # example dictionary: {'JACKSON': 'ST'}
    f_addresses_set = set(f_addresses)
    t_addresses_set = set(t_addresses)
    ending_dictionary = construct_dictionary(f_addresses)
    replace_ending = {}
    for i in range(len(not_found)):
        current_address = not_found.iloc[i]
        split = current_address.split()
        no_ending_split = split[:-1]
        word = construct_word_spacing(no_ending_split)
        st_name = construct_st_name(not_found.iloc[i]) #removes number, cardinal direction, ending if exists
        if st_name in ending_dictionary.keys():
            for ending in ending_dictionary[st_name]:
                test_address = word + " " + ending
                if test_address in t_addresses_set:
                    if test_address in replace_ending.keys(): # this structure just uses first option
                        print("multiple addresses found for: " + test_address)
                    else:
                        replace_ending[test_address] = current_address
                # else just ignore
    return replace_ending

In [17]:
def reverse_direction_dictionary(f_addresses, t_addresses, not_found):
    # Creates a dictionary with st name and st direction
    # ex dictionary: {'MOCK': 'S'}
    f_addresses_set = set(f_addresses)
    t_addresses_set = set(t_addresses)
    replace_direction = {}
    for i in range(len(not_found)):
        current_address = not_found.iloc[i]
        car = contains_cardinal(current_address)
        if car != None:
            ind = current_address.find(car)
            addr = current_address[:ind] + " " + current_address[ind+3:]
            if addr in t_addresses_set:
                if addr in replace_direction.keys(): # this structure just uses first option
                    print("multiple directions found for: " + current_address)
                else:
                    replace_direction[addr] = current_address
    return replace_direction

In [18]:
def hasNumbers(inputString): # from stackoverflow
    return any(char.isdigit() for char in inputString)

In [19]:
def combine(row): # sorry for the repetition but does the same thing as genspacing above essentially
    word = ""
    for r in row:
        if r != None:
            word += r + " "
    return word.strip()

In [20]:
def number_dictionary(): # quick replacement for words to numbers
    string = ['FIRST', 'SECOND', 'THIRD', 'FOURTH', 'FIFTH', 'SIXTH', 'SEVENTH',
             'EIGHTH', 'NINTH', 'TENTH', 'ELEVENTH', 'TWELFTH', 'THIRTEENTH',
             'FOURTEENTH', 'FIFTEENTH', 'SIXTEENTH', 'SEVENTEENTH', 'EIGHTEENTH',
             'NINETEENTH', 'TWENTIETH']
    numeric = ['1ST', '2ND', '3RD', '4TH', '5TH', '6TH', '7TH', '8TH', '9TH',
              '10TH', '11TH', '12TH', '13TH', '14TH', '15TH', '16T', '17TH',
              '18TH', '19TH', '20TH']
    return dict(zip(string, numeric))

In [21]:
def find_numbers(addresses): # find all the numbers that would show in the middle of a street name
    # '3 jackson st' should not be flagged but '3 3rd st' should be
    test_addr = addresses.str.split(expand=True)
    test_addr = test_addr.drop(0, axis=1)
    test_addr = test_addr.apply(combine, axis=1)
    uniq = test_addr[test_addr.apply(hasNumbers)].unique()
    return pd.Series(uniq)

In [22]:
def return_not_found(f_addresses, t_addresses):
    return f_addresses[~f_addresses.isin(t_addresses)]

## Cleaning

In [23]:
# just some spacing issues with the address
df_full_taxes['FULL_ADDRESS'] = df_full_taxes['HOUSE_NO'].astype(str).apply(genStrip()) + \
' ' + df_full_taxes['STDIRECT'].apply(genSpacing()) + df_full_taxes["STREET_NAM"].apply(genStrip()) + ' ' + df_full_taxes["STREET_TYPE"].astype(str).apply(genStrip())

NameError: name 'df_full_taxes' is not defined

In [27]:
f_addresses = df_addr['Address'] # full set of addresses that we have
t_addresses = pd.Series(df_full_taxes['FULL_ADDRESS'].unique()) # unique set of tax addresses

In [28]:
print(t_addresses[~t_addresses.isin(f_addresses)].shape)
not_found = return_not_found(f_addresses, t_addresses)
print(not_found.shape) # see how many of all addresses are not found in the tax address set

(16456,)
(9130,)

In [30]:
find_numbers(not_found).head() # see how many of the ones we can't find are because of a number issue

0             W 4TH AVE
1              15TH AVE
2    1/2 S SLAPPEY BLVD
3                US 19S
4       US HIGHWAY 19 S
dtype: object

In [31]:
string_to_number = number_dictionary() # create the number dictionary
t_addresses = t_addresses.replace(string_to_number, regex=True) # and replace with number

In [32]:
return_not_found(f_addresses, t_addresses).shape # resolved around 2k records with just that!

(7759,)

In [33]:
ending_dictionary = reverse_ending_dictionary(f_addresses, t_addresses, not_found) # create dictionary for endings
direction_dictionary = reverse_direction_dictionary(f_addresses, t_addresses, not_found) # dictionary for direction

multiple directions found for: 1310 W HIGHLAND AVE
multiple directions found for: 1106 W 4TH AVE
multiple directions found for: 1111 W 4TH AVE
multiple directions found for: 1301 W 4TH AVE
multiple directions found for: 1202 W 3RD AVE
multiple directions found for: 1205 W 2ND AVE
multiple directions found for: 1209 W 2ND AVE
multiple directions found for: 1218 W 2ND AVE
multiple directions found for: 1403 W 2ND AVE
multiple directions found for: 1413 W LINCOLN AVE
multiple directions found for: 815 S WESTOVER BLVD
multiple directions found for: 1306 E 2ND AVE
multiple directions found for: 1302 E 2ND AVE
multiple directions found for: 1300 E 2ND AVE
multiple directions found for: 1216 E 2ND AVE
multiple directions found for: 1212 E 2ND AVE
multiple directions found for: 1210 E 2ND AVE
multiple directions found for: 1208 E 2ND AVE
multiple directions found for: 1204 E 2ND AVE
multiple directions found for: 1203 E 2ND AVE
multiple directions found for: 1211 E 2ND AVE
multiple directions found for: 1213 E 2ND AVE
multiple directions found for: 1215 E 2ND AVE
multiple directions found for: 1218 E 3RD AVE
multiple directions found for: 1208 E 3RD AVE
multiple directions found for: 1206 E 3RD AVE
multiple directions found for: 1204 E 3RD AVE
multiple directions found for: 1108 E 3RD AVE
multiple directions found for: 1211 E 3RD AVE
multiple directions found for: 1215 E 3RD AVE
multiple directions found for: 1305 E 2ND AVE
multiple directions found for: 1415 E 3RD AVE
multiple directions found for: 1407 E 3RD AVE
multiple directions found for: 1302 E 4TH AVE
multiple directions found for: 1300 E 4TH AVE
multiple directions found for: 1214 E 4TH AVE
multiple directions found for: 1208 E 4TH AVE
multiple directions found for: 1200 E 4TH AVE
multiple directions found for: 1108 E 4TH AVE
multiple directions found for: 1110 E 4TH AVE
multiple directions found for: 1104 E 4TH AVE
multiple directions found for: 1105 E 4TH AVE
multiple directions found for: 1107 E 4TH AVE
multiple directions found for: 1109 E 4TH AVE
multiple directions found for: 1201 E 4TH AVE
multiple directions found for: 1305 E 4TH AVE
multiple directions found for: 1307 E 4TH AVE
multiple directions found for: 1309 E 4TH AVE
multiple directions found for: 1311 E 4TH AVE
multiple directions found for: 1315 E 4TH AVE
multiple directions found for: 1401 E 4TH AVE
multiple directions found for: 608 E RESIDENCE AVE

In [35]:
ending_dictionary; #take a peak

In [29]:
direction_dictionary;

In [36]:
t_addresses = t_addresses.replace(ending_dictionary) # replace values
t_addresses = t_addresses.replace(direction_dictionary) # replace values

In [37]:
not_found = return_not_found(f_addresses, t_addresses)

In [38]:
not_found.shape # resolved another 2k! That's good enough for me

(5473,)

In [39]:
not_found.head(10) # a taste of some of our addresses found in the full not found in tax. could be something to look into.

4           509 W GORDON AVE
23             2632 ERICA CT
30        235 BONNY VIEW AVE
33              1200 AUGUSTA
37            205 COLLINS ST
46          1705 E BROAD AVE
50    1001 RADIUM SPRINGS RD
56           109 W BROAD AVE
57             110 SHELBY LN
58             112 SHELBY LN
Name: Address, dtype: object

## Pick out relevant columns and ship for primary id merging

In [40]:
tmp = list(df_full_taxes)[:15]
tmp.append("TOTAL_ACRES")
tmp.extend(list(df_full_taxes)[16:])

In [41]:
df_full_taxes.columns = tmp

In [42]:
to_ship = df_full_taxes[['FULL_ADDRESS', 'ZONE_CODE', 'PARCEL_NO', 'PREV_VAL', 'CURR_VAL', 'VALCHGDATE', 'PROPERTY_CLASS', 'TOTAL_ACRES', 'YEAR']]

In [43]:
to_ship.head()

,FULL_ADDRESS,ZONE_CODE,PARCEL_NO,PREV_VAL,CURR_VAL,VALCHGDATE,PROPERTY_CLASS,TOTAL_ACRES,YEAR
0,0 A C L RAILROAD nan,C3,00104/00001/014,13100,13100,11/12/2008,RESIDENTIAL,0.00,2009
1,0 A C L RAILROAD nan,C3,00104/00001/015,26300,26300,11/12/2008,COMMERCIAL,0.39,2009
2,0 A C L RAILROAD nan,C3,00104/00001/016,990,990,11/12/2008,COMMERCIAL,0.25,2009
3,0 A C L RAILROAD nan,AG,00155/00004/013,21400,21400,4/16/2007,RESIDENTIAL,17.19,2009
4,0 A C L RAILROAD nan,AG,00186/00001/006,28600,28600,6/20/2007,RESIDENTIAL,14.30,2009

In [39]:
#to_ship.to_csv(path + 'TotalTax.csv', index=False)

## Here you run the map_addr_key_tax file -- there are instructions there

## Check that the csv + primaryid merge worked alright

In [45]:
df_total_tax = pd.read_csv('/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/Old Files dump/TotalTax.csv')

In [46]:
df_total_tax.head()

,Unnamed: 0,FULL_ADDRESS,ZONE_CODE,PARCEL_NO,PREV_VAL,CURR_VAL,VALCHGDATE,PROPERTY_CLASS,TOTAL_ACRES,YEAR,PrimaryID
0,0,0 A C L RAILROAD nan,C3,00104/00001/014,13100,13100,11/12/2008,RESIDENTIAL,0.00,2009,30589
1,1,0 A C L RAILROAD nan,C3,00104/00001/015,26300,26300,11/12/2008,COMMERCIAL,0.39,2009,30589
2,2,0 A C L RAILROAD nan,C3,00104/00001/016,990,990,11/12/2008,COMMERCIAL,0.25,2009,30589
3,3,0 A C L RAILROAD nan,AG,00155/00004/013,21400,21400,4/16/2007,RESIDENTIAL,17.19,2009,30589
4,4,0 A C L RAILROAD nan,AG,00186/00001/006,28600,28600,6/20/2007,RESIDENTIAL,14.30,2009,30589

## solving an issue with the dates

In [52]:
df_total_tax.drop('Unnamed: 0', axis=1, inplace=True) # unnecessary column

In [53]:
df_total_tax.head(200)

,FULL_ADDRESS,ZONE_CODE,PARCEL_NO,PREV_VAL,CURR_VAL,VALCHGDATE,PROPERTY_CLASS,TOTAL_ACRES,YEAR,PrimaryID
0,0 A C L RAILROAD nan,C3,00104/00001/014,13100,13100,11/12/2008,RESIDENTIAL,0.00,2009,30589
1,0 A C L RAILROAD nan,C3,00104/00001/015,26300,26300,11/12/2008,COMMERCIAL,0.39,2009,30589
2,0 A C L RAILROAD nan,C3,00104/00001/016,990,990,11/12/2008,COMMERCIAL,0.25,2009,30589
3,0 A C L RAILROAD nan,AG,00155/00004/013,21400,21400,4/16/2007,RESIDENTIAL,17.19,2009,30589
4,0 A C L RAILROAD nan,AG,00186/00001/006,28600,28600,6/20/2007,RESIDENTIAL,14.30,2009,30589
5,0 A C L RAILROAD nan,R4,00104/00002/031,3200,3200,NaN,RESIDENTIAL,0.21,2009,30589
6,0 A C L RAILROAD nan,R4,00104/00002/030,4300,4300,NaN,RESIDENTIAL,0.21,2009,30589
7,0 A C L RAILROAD nan,R4,00104/00002/004,3000,3000,3/6/2009,RESIDENTIAL,0.17,2009,30589
8,0 A C L RAILROAD nan,R6,00104/00001/013,4000,4000,11/12/2008,RESIDENTIAL,1.05,2009,30589
9,0 A C L RAILROAD nan,R4,00104/00002/003,9400,9400,10/31/2008,RESIDENTIAL,0.22,2009,30589
10,0 A C L RAILROAD nan,R4,00104/00002/006,3000,3000,3/6/2009,RESIDENTIAL,0.24,2009,30589
11,0 A C L RAILROAD nan,R4,00104/00002/032,400,400,3/29/2007,RESIDENTIAL,0.30,2009,30589
12,0 A C L RAILROAD nan,R1B,00122/00001/020,240400,240400,NaN,RESIDENTIAL,152.66,2009,30589
13,0 A C L RAILROAD nan,R4,00104/00002/001,3000,3000,3/29/2007,RESIDENTIAL,0.16,2009,30589
14,0 A C L RAILROAD nan,R4,00104/00002/002,3000,3000,3/29/2007,RESIDENTIAL,0.16,2009,30589
15,0 A C L RAILROAD nan,R4,00104/00002/008,3000,3000,6/4/2007,RESIDENTIAL,0.22,2009,30589
16,0 A C L RAILROAD nan,R4,00104/00002/007,3000,3000,6/4/2007,RESIDENTIAL,0.17,2009,30589
17,0 A C L RAILROAD nan,C5,00140/00001/007,175000,175000,1/13/2009,NaN,43.75,2009,30589
18,4408 A C L RAILROAD nan,R4,00104/00002/005,8600,12300,NaN,RESIDENTIAL,0.18,2009,30589
19,2700 ABBEY LN,R1A,00333/00009/001,159060,159060,NaN,RESIDENTIAL,1.03,2009,13777
20,2701 ABBEY LN,R1A,00333/00006/017,175500,175500,10/31/2008,RESIDENTIAL,1.33,2009,13763
21,2702 ABBEY LN,R1A,00333/00009/002,130500,130500,5/1/2007,RESIDENTIAL,1.03,2009,13776
22,2703 ABBEY LN,R1A,00333/00006/016,168200,168200,NaN,RESIDENTIAL,1.33,2009,13764
23,2704 ABBEY LN,R1A,00333/00009/003,137900,137900,NaN,RESIDENTIAL,1.03,2009,13775
24,2705 ABBEY LN,R1A,00333/00006/015,19200,19200,NaN,RESIDENTIAL,1.33,2009,30589
25,2706 ABBEY LN,R1A,00333/00009/004,141300,141300,5/1/2007,RESIDENTIAL,1.03,2009,13774
26,2707 ABBEY LN,R1A,00333/00006/014,270,270,11/8/2007,NaN,4.66,2009,30589
27,2708 ABBEY LN,R1A,00333/00009/005,190700,190700,NaN,RESIDENTIAL,1.03,2009,13773
28,2710 ABBEY LN,R1A,00333/00009/006,122600,122600,5/1/2007,RESIDENTIAL,1.03,2009,13772
29,2712 ABBEY LN,R1A,00333/00009/007,148900,148900,10/31/2008,RESIDENTIAL,1.03,2009,13771
30,2714 ABBEY LN,R1A,00333/00009/008,159400,159400,8/10/2008,RESIDENTIAL,1.03,2009,13770
31,2715 ABBEY LN,R1A,00333/00006/012,179300,179300,11/8/2007,RESIDENTIAL,2.65,2009,13765
32,2716 ABBEY LN,R1A,00333/00009/009,227900,227900,9/11/2007,RESIDENTIAL,1.03,2009,13769
33,2717 ABBEY LN,R1A,00333/00006/011,134000,134000,NaN,RESIDENTIAL,1.33,2009,13766
34,2718 ABBEY LN,R1A,00333/00009/010,152500,152500,NaN,RESIDENTIAL,1.03,2009,13768
35,2719 ABBEY LN,R1A,00333/00006/010,162400,162400,NaN,RESIDENTIAL,1.33,2009,13767
36,0 ABERDEEN RD,C5,000LL/00009/07C,74100,74100,6/15/2007,COMMERCIAL,0.84,2009,30589
37,0 ABERDEEN RD,C5,000LL/00009/008,22600,22600,9/26/2008,RESIDENTIAL,1.13,2009,30589
38,1900 ABERDEEN RD,C5,000LL/00009/009,44100,44100,3/18/2008,COMMERCIAL,2.94,2009,30589
39,1909 ABERDEEN RD,C5,000LL/00009/8A1,128100,128100,NaN,COMMERCIAL,1.35,2009,9879
40,1909 ABERDEEN RD,C5,000LL/00009/8A2,179100,179100,NaN,COMMERCIAL,1.35,2009,9879
41,1909 ABERDEEN RD,C5,000LL/00009/8A3,125330,125330,NaN,COMMERCIAL,1.35,2009,9879
42,1909 ABERDEEN RD,C5,000LL/00009/8A4,148240,148240,NaN,COMMERCIAL,1.35,2009,9879
43,1909 ABERDEEN RD,C5,000LL/00009/8A7,170800,170800,NaN,COMMERCIAL,1.35,2009,9879
44,1909 ABERDEEN RD,C5,000LL/00009/8A6,158690,158690,NaN,COMMERCIAL,1.35,2009,9879
45,1111 ACKER DR,C2,0000N/00012/009,122800,122800,4/30/2007,COMMERCIAL,0.29,2009,15546
46,1112 ACKER DR,R1A,0000N/00019/039,75500,75500,10/31/2008,RESIDENTIAL,0.35,2009,15551
47,1113 ACKER DR,R1A,0000N/00012/008,70100,70100,4/30/2007,RESIDENTIAL,0.27,2009,15545
48,1114 ACKER DR,C1,0000N/00019/040,72200,72200,11/6/2007,RESIDENTIAL,0.35,2009,15550
49,1115 ACKER DR,R1A,0000N/00012/007,70330,70330,10/31/2008,RESIDENTIAL,0.36,2009,15544
50,1116 ACKER DR,C5,0000N/00019/041,50400,50400,10/31/2008,COMMERCIAL,0.35,2009,15549
51,1118 ACKER DR,C1,0000N/00019/042,67000,67000,11/6/2007,RESIDENTIAL,0.35,2009,15548
52,1120 ACKER DR,C1,0000N/00019/043,100400,100400,NaN,RESIDENTIAL,0.35,2009,15547
53,1122 ACKER DR,R1A,0000N/00019/044,92700,92700,10/31/2008,RESIDENTIAL,0.32,2009,20485
54,1124 ACKER DR,R1A,0000N/00019/045,104000,104000,NaN,RESIDENTIAL,0.36,2009,20484
55,1200 ACKER DR,R1A,0000N/00019/075,86940,86940,10/31/2008,RESIDENTIAL,0.37,2009,20477
56,1202 ACKER DR,R1A,0000N/00019/076,115150,115150,10/31/2008,RESIDENTIAL,0.36,2009,20476
57,1204 ACKER DR,R1A,0000N/00019/077,72290,72290,10/31/2008,RESIDENTIAL,0.27,2009,20482
58,1205 ACKER DR,R1A,0000N/00019/081,65150,65150,10/31/2008,RESIDENTIAL,0.33,2009,20480
59,1206 ACKER DR,R1A,0000N/00019/078,83000,83000,10/31/2008,RESIDENTIAL,0.26,2009,20483
60,1207 ACKER DR,R1A,0000N/00019/080,63200,63200,11/6/2007,RESIDENTIAL,0.29,2009,20481
61,1300 ACKER DR,R1A,0000N/00019/079,1300,1300,11/6/2007,NaN,0.00,2009,30589
62,1312 ACKER DR,R1A,0000N/00019/095,10500,10500,4/30/2007,NaN,0.00,2009,30589
63,1500 ACKER DR,R1A,0000N/00019/063,20000,20000,11/6/2007,NaN,4.00,2009,30589
64,1500 ACKER DR,R1A,0000N/00019/63A,2900,2900,4/30/2007,NaN,0.00,2009,30589
65,1500 ACKER DR,R1A,0000N/00019/63C,10800,10800,NaN,NaN,2.17,2009,30589
66,1537 ACKER DR,R1A,0000N/00019/139,7000,7000,4/30/2007,RESIDENTIAL,0.30,2009,30589
67,1539 ACKER DR,R1A,0000N/00019/138,8100,8100,4/30/2007,RESIDENTIAL,0.29,2009,2660
68,1541 ACKER DR,R1A,0000N/00019/137,74500,74500,NaN,RESIDENTIAL,0.30,2009,20054
69,1600 ACKER DR,R1A,0000N/00020/008,103400,103400,6/16/2008,RESIDENTIAL,0.31,2009,20053
70,1601 ACKER DR,R1A,0000N/00019/136,89200,89200,NaN,RESIDENTIAL,0.30,2009,20055
71,1602 ACKER DR,R1A,0000N/00020/009,148800,148800,6/16/2008,RESIDENTIAL,0.30,2009,20052
72,1603 ACKER DR,R1A,0000N/00019/135,104200,104200,NaN,RESIDENTIAL,0.30,2009,20056
73,1604 ACKER DR,R1A,0000N/00020/010,106100,106100,9/3/2008,RESIDENTIAL,0.30,2009,20051
74,1605 ACKER DR,R1A,0000N/00019/134,106100,106100,NaN,RESIDENTIAL,0.30,2009,20058
75,1606 ACKER DR,R1A,0000N/00020/011,94800,94800,10/31/2008,RESIDENTIAL,0.30,2009,20050
76,1607 ACKER DR,R1A,0000N/00019/133,124400,124400,10/31/2008,RESIDENTIAL,0.30,2009,20059
77,1608 ACKER DR,R1A,0000N/00020/012,99900,99900,NaN,RESIDENTIAL,0.30,2009,20049
78,1609 ACKER DR,R1A,0000N/00019/132,78100,78100,5/1/2007,RESIDENTIAL,0.30,2009,20060
79,1610 ACKER DR,R1A,0000N/00020/013,106600,106600,5/1/2007,RESIDENTIAL,0.30,2009,20048
80,1611 ACKER DR,R1A,0000N/00019/131,103400,103400,NaN,RESIDENTIAL,0.30,2009,20061
81,1612 ACKER DR,R1A,0000N/00020/014,125600,125600,NaN,RESIDENTIAL,0.30,2009,20047
82,1613 ACKER DR,R1A,0000N/00019/130,78200,78200,NaN,RESIDENTIAL,0.30,2009,20062
83,1614 ACKER DR,R1A,0000N/00020/015,113440,113440,10/31/2008,RESIDENTIAL,0.31,2009,20046
84,1615 ACKER DR,R1A,0000N/00019/129,73400,73400,NaN,RESIDENTIAL,0.31,2009,20063
85,1700 ACKER DR,R1A,0000N/00021/006,148400,148400,NaN,RESIDENTIAL,0.47,2009,20045
86,1701 ACKER DR,R1A,0000N/00019/128,106800,106800,10/22/2007,RESIDENTIAL,0.47,2009,20064
87,1702 ACKER DR,R1A,0000N/00021/007,113980,113980,10/31/2008,RESIDENTIAL,0.47,2009,20044
88,1703 ACKER DR,R1A,0000N/00019/127,89500,89500,NaN,RESIDENTIAL,0.47,2009,20065
89,1704 ACKER DR,R1A,0000N/00021/008,163600,163600,10/31/2008,RESIDENTIAL,0.47,2009,20043
90,1705 ACKER DR,R1A,0000N/00019/126,119700,119700,5/1/2007,RESIDENTIAL,0.47,2009,20066
91,1706 ACKER DR,R1A,0000N/00021/009,116480,116480,NaN,RESIDENTIAL,0.47,2009,20042
92,1800 ACKER DR,R1A,000NN/00015/004,103900,103900,NaN,RESIDENTIAL,0.47,2009,20312
93,1801 ACKER DR,R1A,000NN/00013/004,118700,118700,10/31/2008,RESIDENTIAL,0.47,2009,20259
94,1802 ACKER DR,R1A,000NN/00015/005,84200,84200,NaN,RESIDENTIAL,0.47,2009,20311
95,1803 ACKER DR,R1A,000NN/00013/003,110300,110300,NaN,RESIDENTIAL,0.47,2009,20260
96,1804 ACKER DR,R1A,000NN/00015/006,102760,102760,10/31/2008,RESIDENTIAL,0.47,2009,20309
97,1805 ACKER DR,R1A,000NN/00013/002,80900,80900,4/29/2007,RESIDENTIAL,0.47,2009,20261
98,1807 ACKER DR,R1A,000NN/00013/001,82100,82100,4/29/2007,RESIDENTIAL,0.00,2009,20262
99,1808 ACKER DR,R1A,000NN/00015/007,89400,89400,NaN,RESIDENTIAL,0.47,2009,20308
100,1809 ACKER DR,R1A,000NN/00013/017,127200,127200,10/31/2008,RESIDENTIAL,0.40,2009,20263
101,1900 ACKER DR,R1A,000NN/00014/001,11500,11500,NaN,NaN,2.00,2009,30589
102,1903 ACKER DR,R1A,000NN/00013/016,90100,90100,10/2/2007,RESIDENTIAL,0.87,2009,20264
103,1905 ACKER DR,R1A,000NN/00013/14A,92000,92000,NaN,RESIDENTIAL,0.35,2009,20265
104,1907 ACKER DR,R1A,000NN/00013/014,89300,89300,7/27/2009,RESIDENTIAL,0.37,2009,20266
105,2000 ACKER DR,R1A,000NN/00016/001,107200,107200,NaN,RESIDENTIAL,0.37,2009,20307
106,2001 ACKER DR,R1A,000NN/00017/001,119800,119800,10/31/2008,RESIDENTIAL,0.42,2009,20267
107,2002 ACKER DR,R1A,000NN/00016/002,90700,90700,10/31/2008,RESIDENTIAL,0.31,2009,20306
108,2003 ACKER DR,R1A,000NN/00017/002,122900,122900,4/29/2007,RESIDENTIAL,0.32,2009,20268
109,2004 ACKER DR,R1A,000NN/00016/003,112900,112900,10/31/2008,RESIDENTIAL,0.31,2009,20305
110,2005 ACKER DR,R1A,000NN/00017/003,125600,125600,10/31/2008,RESIDENTIAL,0.32,2009,20269
111,2006 ACKER DR,R1A,000NN/00016/004,107800,107800,NaN,RESIDENTIAL,0.31,2009,20304
112,2007 ACKER DR,R1A,000NN/00017/004,118000,118000,4/29/2007,RESIDENTIAL,0.32,2009,20270
113,2008 ACKER DR,R1A,000NN/00016/005,99300,99300,NaN,RESIDENTIAL,0.31,2009,20303
114,2009 ACKER DR,R1A,000NN/00017/005,112900,112900,10/31/2008,RESIDENTIAL,0.36,2009,20271
115,2010 ACKER DR,R1A,000NN/00016/006,108600,108600,10/31/2008,RESIDENTIAL,0.37,2009,20302
116,2011 ACKER DR,R1A,000NN/00017/006,121700,121700,NaN,RESIDENTIAL,0.36,2009,2329
117,2012 ACKER DR,R1A,000NN/00016/007,105000,105000,4/29/2007,RESIDENTIAL,0.35,2009,20301
118,2013 ACKER DR,R1A,000NN/00017/007,109560,109560,10/31/2008,RESIDENTIAL,0.32,2009,20273
119,2014 ACKER DR,R1A,000NN/00016/008,102400,102400,NaN,RESIDENTIAL,0.35,2009,20300
120,2015 ACKER DR,R1A,000NN/00017/008,93700,93700,10/22/2007,RESIDENTIAL,0.32,2009,20274
121,2016 ACKER DR,R1A,000NN/00016/009,94600,94600,NaN,RESIDENTIAL,0.35,2009,20299
122,2017 ACKER DR,R1A,000NN/00017/009,108600,108600,10/22/2007,RESIDENTIAL,0.32,2009,20275
123,2018 ACKER DR,R1A,000NN/00016/010,102700,102700,NaN,RESIDENTIAL,0.35,2009,20298
124,2019 ACKER DR,R1A,000NN/00017/010,98800,98800,10/31/2008,RESIDENTIAL,0.32,2009,20276
125,2020 ACKER DR,R1A,000NN/00016/011,106100,106100,4/29/2007,RESIDENTIAL,0.35,2009,20297
126,2021 ACKER DR,R1A,000NN/00017/011,100400,100400,10/22/2007,RESIDENTIAL,0.32,2009,20277
127,2022 ACKER DR,R1A,000NN/00016/012,121340,121340,10/31/2008,RESIDENTIAL,0.35,2009,20296
128,2023 ACKER DR,R1A,000NN/00017/012,101400,101400,10/31/2008,RESIDENTIAL,0.32,2009,20278
129,2024 ACKER DR,R1A,000NN/00016/013,131600,131600,10/31/2008,RESIDENTIAL,0.41,2009,20295
130,2025 ACKER DR,R1A,000NN/00017/013,116400,116400,10/22/2007,RESIDENTIAL,0.42,2009,20279
131,2100 ACKER DR,R1A,000NN/00018/001,129600,129600,NaN,RESIDENTIAL,0.49,2009,20294
132,2101 ACKER DR,R1A,000NN/00019/001,115000,115000,NaN,RESIDENTIAL,0.42,2009,20280
133,2102 ACKER DR,R1A,000NN/00018/002,97000,97000,10/31/2008,RESIDENTIAL,0.39,2009,20293
134,2103 ACKER DR,R1A,000NN/00019/002,120200,120200,4/29/2007,RESIDENTIAL,0.37,2009,20281
135,2104 ACKER DR,R1A,000NN/00018/003,142300,142300,4/29/2007,RESIDENTIAL,0.44,2009,20292
136,2105 ACKER DR,R1A,000NN/00019/003,142800,142800,10/31/2008,RESIDENTIAL,0.42,2009,20283
137,2106 ACKER DR,R1A,000NN/00018/004,119500,119500,NaN,RESIDENTIAL,0.38,2009,20291
138,2107 ACKER DR,R1A,000NN/00019/004,122900,122900,4/29/2007,RESIDENTIAL,0.37,2009,20284
139,2108 ACKER DR,R1A,000NN/00018/005,103400,103400,NaN,RESIDENTIAL,0.37,2009,20290
140,2109 ACKER DR,R1A,000NN/00019/005,113300,113300,10/31/2008,RESIDENTIAL,0.37,2009,20285
141,2110 ACKER DR,R1A,000NN/00018/006,113500,113500,NaN,RESIDENTIAL,0.38,2009,20289
142,2111 ACKER DR,R1A,000NN/00019/006,124820,124820,10/31/2008,RESIDENTIAL,0.37,2009,20286
143,2112 ACKER DR,R1A,000NN/00018/007,102800,102800,NaN,RESIDENTIAL,0.40,2009,20288
144,2113 ACKER DR,R1A,000NN/00019/007,127900,127900,NaN,RESIDENTIAL,0.40,2009,20287
145,107 ACORN ST,R6,0000J/00015/006,7100,7100,3/14/2007,RESIDENTIAL,0.51,2009,30589
146,200 ACORN ST,R6,0000J/00011/004,104300,104300,3/28/2007,RESIDENTIAL,1.02,2009,30589
147,205 ACORN ST,R6,0000J/00014/006,51100,37000,3/13/2009,RESIDENTIAL,0.34,2009,1385
148,206 ACORN ST,R6,0000J/00011/001,68900,68900,4/29/2007,NaN,1.02,2009,30589
149,207 ACORN ST,R6,0000J/00014/007,4700,4700,NaN,RESIDENTIAL,0.34,2009,1386
150,209 ACORN ST,R6,0000J/00014/008,24600,24600,3/27/2007,RESIDENTIAL,0.34,2009,30589
151,211 ACORN ST,R6,0000J/00014/009,33300,33300,10/31/2008,RESIDENTIAL,0.34,2009,1387
152,300 ACORN ST,R6,0000J/00012/006,34700,34700,10/31/2008,RESIDENTIAL,0.34,2009,1772
153,301 ACORN ST,R6,0000J/00013/005,31500,31500,4/10/2007,RESIDENTIAL,0.51,2009,1392
154,302 ACORN ST,R6,0000J/00012/005,4700,4700,3/14/2007,RESIDENTIAL,0.34,2009,30589
155,306 ACORN ST,R6,0000J/00012/004,14200,14200,3/27/2007,RESIDENTIAL,0.34,2009,30589
156,307 ACORN ST,R6,0000J/00013/006,7100,7100,NaN,RESIDENTIAL,0.51,2009,30589
157,308 ACORN ST,R6,0000J/00012/003,37200,37200,NaN,RESIDENTIAL,0.34,2009,1397
158,309 ACORN ST,R6,0000J/00013/007,20800,20800,4/10/2007,RESIDENTIAL,0.68,2009,30589
159,310 ACORN ST,R6,0000J/00012/002,18200,18200,10/31/2008,RESIDENTIAL,0.34,2009,1396
160,312 ACORN ST,R6,0000J/00012/001,32100,32100,10/31/2008,RESIDENTIAL,0.52,2009,1395
161,317 ACORN ST,R6,0000J/00013/008,118900,118900,NaN,RESIDENTIAL,0.51,2009,4223
162,0 ACREE AVE,R1B,00104/00001/019,1600,1600,11/10/2008,NaN,2.12,2009,30589
163,0 ACREE AVE,R1B,00104/00001/018,480,480,NaN,NaN,0.51,2009,30589
164,100 ADAMS ST,R3,0000Y/00022/013,25900,25900,NaN,RESIDENTIAL,0.32,2009,23519
165,101 ADAMS ST,R3,0000Y/00021/007,29400,29400,11/30/2007,RESIDENTIAL,0.32,2009,23513
166,102 ADAMS ST,R3,0000Y/00022/012,38700,38700,10/31/2008,RESIDENTIAL,0.32,2009,23518
167,103 ADAMS ST,R3,0000Y/00021/008,38500,38500,NaN,RESIDENTIAL,0.32,2009,23514
168,105 ADAMS ST,R3,0000Y/00021/009,27800,27800,11/30/2007,RESIDENTIAL,0.32,2009,23515
169,106 ADAMS ST,R3,0000Y/00022/011,27000,27000,11/30/2007,RESIDENTIAL,0.32,2009,2207
170,107 ADAMS ST,R3,0000Y/00021/010,30000,30000,11/30/2007,RESIDENTIAL,0.32,2009,1437
171,109 ADAMS ST,R3,0000Y/00021/011,19500,19500,NaN,RESIDENTIAL,0.32,2009,23517
172,101 ADELYN RD,C3,000II/00011/012,7000,7000,9/27/2007,COMMERCIAL,0.24,2009,30589
173,102 ADELYN RD,R6,000II/00008/008,4200,4200,NaN,RESIDENTIAL,0.24,2009,30589
174,103 ADELYN RD,C3,000II/00011/013,7000,7000,9/27/2007,COMMERCIAL,0.24,2009,30589
175,104 ADELYN RD,R6,000II/00008/007,38600,38600,NaN,RESIDENTIAL,0.24,2009,951
176,105 ADELYN RD,R6,000II/00011/014,25500,25500,NaN,RESIDENTIAL,0.24,2009,930
177,106 ADELYN RD,R6,000II/00008/006,33500,33500,10/31/2008,RESIDENTIAL,0.24,2009,950
178,107 ADELYN RD,R6,000II/00011/015,37600,37600,9/27/2007,RESIDENTIAL,0.24,2009,931
179,108 ADELYN RD,R6,000II/00008/005,25600,25600,4/19/2007,RESIDENTIAL,0.24,2009,949
180,109 ADELYN RD,R6,000II/00011/016,45200,45200,9/27/2007,RESIDENTIAL,0.24,2009,932
181,110 ADELYN RD,R6,000II/00008/004,44400,44400,4/19/2007,RESIDENTIAL,0.24,2009,948
182,111 ADELYN RD,R6,000II/00011/017,37600,37600,NaN,RESIDENTIAL,0.24,2009,933
183,112 ADELYN RD,R6,000II/00008/003,33000,33000,4/19/2007,RESIDENTIAL,0.24,2009,947
184,113 ADELYN RD,R6,000II/00011/018,31300,31300,4/24/2008,RESIDENTIAL,0.24,2009,934
185,114 ADELYN RD,R6,000II/00008/002,34700,58200,NaN,RESIDENTIAL,0.24,2009,946
186,116 ADELYN RD,R6,000II/00008/001,25120,25120,10/31/2008,RESIDENTIAL,0.24,2009,1691
187,117 ADELYN RD,R6,000II/00011/019,22100,22100,4/19/2007,RESIDENTIAL,0.24,2009,935
188,200 ADELYN RD,R6,000II/00009/009,46800,46800,6/24/2009,RESIDENTIAL,0.24,2009,2491
189,202 ADELYN RD,R6,000II/00009/008,26710,26710,10/31/2008,RESIDENTIAL,0.24,2009,30589
190,204 ADELYN RD,R6,000II/00009/007,22900,22900,4/19/2007,RESIDENTIAL,0.24,2009,945
191,206 ADELYN RD,R6,000II/00009/006,36100,36100,4/19/2007,RESIDENTIAL,0.24,2009,944
192,208 ADELYN RD,R6,000II/00009/005,43420,43420,10/31/2008,RESIDENTIAL,0.24,2009,943
193,210 ADELYN RD,R6,000II/00009/004,23000,23000,4/19/2007,RESIDENTIAL,0.24,2009,942
194,212 ADELYN RD,R6,000II/00009/003,27000,27000,4/19/2007,RESIDENTIAL,0.24,2009,941
195,214 ADELYN RD,R6,000II/00009/002,26600,26600,4/19/2007,RESIDENTIAL,0.24,2009,940
196,0 ADKINS ST,M1,0000C/00015/06A,4000,4000,5/20/2009,NaN,0.09,2009,30589
197,206 ADKINS ST,R3,0000C/00019/012,4700,4700,NaN,RESIDENTIAL,0.09,2009,2872
198,208 ADKINS ST,R3,0000C/00019/011,1500,1500,NaN,RESIDENTIAL,0.09,2009,30589
199,210 ADKINS ST,R3,0000C/00019/010,3100,3100,4/27/2007,RESIDENTIAL,0.17,2009,30589

In [54]:
df_total_tax['VALCHGDATE'][0] #see how they are encoded

'11/12/2008'

In [55]:
df_total_tax[df_total_tax['FULL_ADDRESS'].str.contains("2700 ABBEY LN")] #test example

,FULL_ADDRESS,ZONE_CODE,PARCEL_NO,PREV_VAL,CURR_VAL,VALCHGDATE,PROPERTY_CLASS,TOTAL_ACRES,YEAR,PrimaryID
19,2700 ABBEY LN,R1A,00333/00009/001,159060,159060,NaN,RESIDENTIAL,1.03,2009,13777
37848,2700 ABBEY LN,R1A,00333/00009/001,159060,159060,10/20/2009,RESIDENTIAL,1.03,2010,13777
75738,2700 ABBEY LN,R1A,00333/00009/001,159060,159060,10/20/2009,RESIDENTIAL,1.03,2011,13777
113843,2700 ABBEY LN,R1A,00333/00009/001,159060,159060,NaN,RESIDENTIAL,1.03,2012,13777
151904,2700 ABBEY LN,R1A,00333/00009/001,159060,159060,NaN,RESIDENTIAL,1.03,2013,13777
189989,2700 ABBEY LN,R1A,00333/00009/001,159060,159060,NaN,RESIDENTIAL,1.03,2014,13777
228128,2700 ABBEY LN,R1A,00333/00009/001,159060,157560,4/20/2015,RESIDENTIAL,1.03,2015,13777
266160,2700 ABBEY LN,R1A,00333/00009/001,157560,157560,4/20/2015,RESIDENTIAL,1.03,2016,13777
304229,2700 ABBEY LN,R1A,00333/00009/001,157560,157560,4/20/2015,RESIDENTIAL,1.03,2017,13777
342756,2700 ABBEY LN,R1A,00333/00009/001,157560,157560,NaN,COMMERCIAL,1.03,2018,13777
382319,2700 ABBEY LN,R1A,00333/00009/001,157560,157560,NaN,COMMERCIAL,1.03,2019,13777

In [56]:
df_tax_sorted = df_total_tax.sort_values(by=['FULL_ADDRESS', 'YEAR', 'VALCHGDATE']) # sort df by addr, year, chg date

In [57]:
df_tax_sorted.index = range(len(df_tax_sorted))

In [58]:
df_tax_sorted[df_tax_sorted['FULL_ADDRESS'].str.contains("2700 ABBEY LN")] # example

,FULL_ADDRESS,ZONE_CODE,PARCEL_NO,PREV_VAL,CURR_VAL,VALCHGDATE,PROPERTY_CLASS,TOTAL_ACRES,YEAR,PrimaryID
234850,2700 ABBEY LN,R1A,00333/00009/001,159060,159060,NaN,RESIDENTIAL,1.03,2009,13777
234851,2700 ABBEY LN,R1A,00333/00009/001,159060,159060,10/20/2009,RESIDENTIAL,1.03,2010,13777
234852,2700 ABBEY LN,R1A,00333/00009/001,159060,159060,10/20/2009,RESIDENTIAL,1.03,2011,13777
234853,2700 ABBEY LN,R1A,00333/00009/001,159060,159060,NaN,RESIDENTIAL,1.03,2012,13777
234854,2700 ABBEY LN,R1A,00333/00009/001,159060,159060,NaN,RESIDENTIAL,1.03,2013,13777
234855,2700 ABBEY LN,R1A,00333/00009/001,159060,159060,NaN,RESIDENTIAL,1.03,2014,13777
234856,2700 ABBEY LN,R1A,00333/00009/001,159060,157560,4/20/2015,RESIDENTIAL,1.03,2015,13777
234857,2700 ABBEY LN,R1A,00333/00009/001,157560,157560,4/20/2015,RESIDENTIAL,1.03,2016,13777
234858,2700 ABBEY LN,R1A,00333/00009/001,157560,157560,4/20/2015,RESIDENTIAL,1.03,2017,13777
234859,2700 ABBEY LN,R1A,00333/00009/001,157560,157560,NaN,COMMERCIAL,1.03,2018,13777
234860,2700 ABBEY LN,R1A,00333/00009/001,157560,157560,NaN,COMMERCIAL,1.03,2019,13777

In [59]:
df_tax_sorted['VALCHGDATE'] = df_tax_sorted['VALCHGDATE'].astype(str)

In [61]:
def fix_dates(): # this will create the tsdates column that uses a rule based system for updating the dates
    # currently valchg date has a lot of nans as you can see in the above example. so if we want to use this data
    # as time series we should add dates for the nans, with the previous date.
    i = 0
    TS_DATES = []
    while i < len(df_tax_sorted):
        if i % 50000 == 0:
            print(str(i))
        try:
            existing_entry = df_tax_sorted.iloc[i]
            existing_address = existing_entry['FULL_ADDRESS']
            existing_csv_year = existing_entry['YEAR']
            existing_date = existing_entry['VALCHGDATE']
            if existing_date == 'nan':
                TS_DATES.append("NA")
                while df_tax_sorted.iloc[i+1]['VALCHGDATE'] == 'nan':
                    TS_DATES.append("NA")
                    i = i + 1
            else:
                TS_DATES.append(existing_date)
                while df_tax_sorted.iloc[i+1]['FULL_ADDRESS'] == existing_address:
                    if df_tax_sorted.iloc[i+1]['VALCHGDATE'] == 'nan':
                        TS_DATES.append(existing_date)
                    else:
                        TS_DATES.append(df_tax_sorted.iloc[i+1]['VALCHGDATE'])
                        existing_date = df_tax_sorted.iloc[i+1]['VALCHGDATE']
                    i = i + 1
        except IndexError:
            print(str(i))
        i = i + 1
    return pd.Series(TS_DATES)

In [62]:
TS_DATES = fix_dates()

0
50000
100000
250000
300000
421914

In [63]:
df_tax_sorted['TS_DATES'] = TS_DATES

In [64]:
df_tax_sorted.head(20)

,FULL_ADDRESS,ZONE_CODE,PARCEL_NO,PREV_VAL,CURR_VAL,VALCHGDATE,PROPERTY_CLASS,TOTAL_ACRES,YEAR,PrimaryID,TS_DATES
0,0 A C L RAILROAD,R4,00104/00002/031,5000,5000,nan,RESIDENTIAL,0.21,2017,30589,NA
1,0 A C L RAILROAD,R4,00104/00002/006,3000,3000,nan,RESIDENTIAL,0.24,2017,30589,NA
2,0 A C L RAILROAD,R4,00104/00002/031,5000,5000,nan,RESIDENTIAL,0.21,2018,30589,NA
3,0 A C L RAILROAD,R4,00104/00002/006,3000,3000,nan,RESIDENTIAL,0.24,2018,30589,NA
4,0 A C L RAILROAD,R4,00104/00002/031,5000,5000,nan,RESIDENTIAL,0.21,2019,30589,NA
5,0 A C L RAILROAD,R4,00104/00002/006,3000,3000,nan,RESIDENTIAL,0.24,2019,30589,NA
6,0 A C L RAILROAD,R1B,00122/00001/020,314700,314700,nan,RESIDENTIAL,152.66,2019,30589,NA
7,0 A C L RAILROAD nan,C5,00140/00001/007,175000,175000,1/13/2009,NaN,43.75,2009,30589,1/13/2009
8,0 A C L RAILROAD nan,R4,00104/00002/003,9400,9400,10/31/2008,RESIDENTIAL,0.22,2009,30589,10/31/2008
9,0 A C L RAILROAD nan,C3,00104/00001/014,13100,13100,11/12/2008,RESIDENTIAL,0.00,2009,30589,11/12/2008
10,0 A C L RAILROAD nan,C3,00104/00001/015,26300,26300,11/12/2008,COMMERCIAL,0.39,2009,30589,11/12/2008
11,0 A C L RAILROAD nan,C3,00104/00001/016,990,990,11/12/2008,COMMERCIAL,0.25,2009,30589,11/12/2008
12,0 A C L RAILROAD nan,R6,00104/00001/013,4000,4000,11/12/2008,RESIDENTIAL,1.05,2009,30589,11/12/2008
13,0 A C L RAILROAD nan,R4,00104/00002/032,400,400,3/29/2007,RESIDENTIAL,0.30,2009,30589,3/29/2007
14,0 A C L RAILROAD nan,R4,00104/00002/001,3000,3000,3/29/2007,RESIDENTIAL,0.16,2009,30589,3/29/2007
15,0 A C L RAILROAD nan,R4,00104/00002/002,3000,3000,3/29/2007,RESIDENTIAL,0.16,2009,30589,3/29/2007
16,0 A C L RAILROAD nan,R4,00104/00002/004,3000,3000,3/6/2009,RESIDENTIAL,0.17,2009,30589,3/6/2009
17,0 A C L RAILROAD nan,R4,00104/00002/006,3000,3000,3/6/2009,RESIDENTIAL,0.24,2009,30589,3/6/2009
18,0 A C L RAILROAD nan,AG,00155/00004/013,21400,21400,4/16/2007,RESIDENTIAL,17.19,2009,30589,4/16/2007
19,0 A C L RAILROAD nan,AG,00186/00001/006,28600,28600,6/20/2007,RESIDENTIAL,14.30,2009,30589,6/20/2007

In [65]:
df_tax_sorted.iloc[7]['TS_DATES']

'1/13/2009'

In [66]:
def construct_ymd(): # takes ts dates into a more workable format
    year = []
    month = []
    day = []
    for i in range(len(df_tax_sorted)):
        if i % 50000 == 0:
            print(str(i))
        current_date = df_tax_sorted.iloc[i]['TS_DATES']
        if current_date == "NA":
            year.append("NA")
            month.append("NA")
            day.append("NA")
        else:
            split = current_date.split("/")
            year.append(split[2])
            month.append(split[0])
            day.append(split[1])
    return pd.DataFrame({'TS_YEAR': year, 'TS_MONTH': month, 'TS_DAY': day}) #change to TS

In [67]:
ymd = construct_ymd()

0
50000
100000
150000
200000
250000
300000
350000
400000

In [68]:
ymd.head(20)

   TS_YEAR TS_MONTH TS_DAY
0       NA       NA     NA
1       NA       NA     NA
2       NA       NA     NA
3       NA       NA     NA
4       NA       NA     NA
5       NA       NA     NA
6       NA       NA     NA
7     2009        1     13
8     2008       10     31
9     2008       11     12
10    2008       11     12
11    2008       11     12
12    2008       11     12
13    2007        3     29
14    2007        3     29
15    2007        3     29
16    2009        3      6
17    2009        3      6
18    2007        4     16
19    2007        6     20

In [70]:
df_final = pd.concat([df_tax_sorted, ymd], axis=1) # this is tax data

In [80]:
#df_final.to_csv('~/Dropbox (Amherst College)/CDS-2019-AlbanyHub/ToDatabase/TotalTax_v03.csv', index=False)

#### some last minute stats

In [76]:
test_t_addr = df_final['FULL_ADDRESS']
test_f_addr = df_addr['Address']
not_found = test_f_addr[~test_f_addr.isin(test_t_addr)]

In [77]:
not_found.shape #discrepancy from before seems to be based off of the fix addresses master for some reason check out later

(8795,)

In [78]:
test_t_addr.shape

(421915,)

In [79]:
test_f_addr.shape

(30590,)

In [121]:
(30721-5868) / 30721

0.8089905927541421