In [1]:
import pandas as pd

In [2]:
df_junction_table = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/ToDatabase/addr_db.csv')

In [3]:
df_utilities = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/ToDatabase/TotalUtilities.csv')

/anaconda3/envs/cds_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
s_utilities = df_utilities['Premise Address']

In [5]:
s_junction_table = df_junction_table['Address']

In [11]:
df_junction_table['PrimaryID'] = df_junction_table['Unnamed: 0']
df_junction_table.drop('Unnamed: 0', axis=1, inplace=True)
s_primaryid = df_junction_table['PrimaryID']

In [15]:
cols = list(df_junction_table)
cols = cols[-1:] + cols[:-1]
df_junction_table = df_junction_table[cols]

In [16]:
df_junction_table.head()

   PrimaryID               Address     Xcoord     Ycoord    Tract  BlockGroup
0          0  1486 US HIGHWAY 19 S  31.732116 -84.170742  20300.0      1037.0
1          1  1064 US HIGHWAY 19 S  31.665719 -84.173577  20402.0      3003.0
2          2   905 US HIGHWAY 19 S  31.676679 -84.172067  20402.0      1001.0
3          3      501 S MADISON ST  31.570488 -84.162164   1500.0      1013.0
4          4       525 LINCOLN AVE  31.569466 -84.161175   1500.0      1012.0

In [ ]:
primaryid_list = [None] * 14748395
notfound_list = []
count = 0
for i in range(14748395):
    count += 1
    if count % 100000 == 0:
        print(str(count))
    try:
        index = s_junction_table[s_junction_table == s_utilities[i]].index[0]
        primaryid_list[i] = index
    except:
        primaryid_list[i] = 'NA'
        notfound_list.append(s_utilities[i])
primaryID = pd.Series(primaryid_list)
notFound = pd.Series(notfound_list)