# Merge
This file merges the housing data set with completed/cancelled dates and initial funding dates from the pr03 reports (CDBG) and pr22 reports (HOME).
## Just for 2007 - 2017 CDBG for now

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_rows = 300
pd.options.display.max_columns = 100

In [3]:
#Read in housing projects
#path = '/Users/william/Dropbox (Amherst College)/CDS-2019-AlbanyHub/'
path='/home/mirabel/Dropbox (GaTech)/CDS-2019-AlbanyHub/'
df_house = pd.read_csv(path + 'ToDatabase/TotalHouse_v04.csv')

In [4]:
#read in drawdown reports
df_cdbg = pd.read_csv(path + 'Raw-Data/Housing/test_cdbg_2007-2017.csv') 
#df_cdbg = pd.read_csv('/home/mirabel/Documents/cds/albany-housing-analytics/test_cdbg_2007-2017.csv')

In [5]:
df_house.drop(['Unnamed: 0', 'Unnamed: 0.1'], inplace=True, axis=1, errors='ignore') #Drop extra columns
df_cdbg.drop('Unnamed: 0', inplace=True, axis = 1, errors='ignore')

In [6]:
df_cdbg.head()

,Address,PlanYear,Project,IDISProjectId,IDISActivityID,Status,StatusDate,InitialFundingDate,FundedAmount,Description
0,SANDS DRIVE,2005,HOUSING,6,466,Canceled,1/10/2012,09/28/2006,0.00,
1,525 5TH AVE,2006,PUBLIC FACILITIES,8,523,Completed,8/16/2011,08/22/2007,15016.43,
2,230 S JACKSON ST STE 315,2008,SECTION 3 TRAINING PROGRAM,17,655,Canceled,8/10/2011,07/28/2009,0.00,TO PROVIDE TRAINING AND EMPLOYMENT OPPORTUNITI...
3,608 WILLARD AVE,2010,REHABILITATION,19,755,Canceled,10/21/2011,02/11/2010,0.00,
4,225 S JACKSON ST,2009,PUBLIC FACILITIES,19,770,Completed,4/23/2013,03/23/2010,89595.68,

In [7]:
df_house.head()

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
0,21204,0000Q/00025/009,1707 EDGERLY AVE,2007,6,Homeowner Rehabilitation,618,Completed,HOME,27033.46,27033.46,0.0,NaN,NaN
1,26763,0000U/00006/002,703 DARTMOUTH LN,2007,6,Homeowner Rehabilitation,634,Completed,HOME,30185.60,30185.60,0.0,NaN,NaN
2,21680,0000H/00047/005,1115 W WADDELL AVE,2007,6,Homeowner Rehabilitation,610,Completed,HOME,28678.19,28678.19,0.0,NaN,NaN
3,28935,0000X/00003/034,313 FORRESTAL LN,2007,6,Homeowner Rehabilitation,633,Completed,HOME,34694.47,34694.47,0.0,NaN,NaN
4,22320,00240/00003/024,1125 JOEL DR,2007,6,Homeowner Rehabilitation,600,Completed,HOME,30756.96,30756.96,0.0,NaN,NaN

In [8]:
s_cdbg_id = df_cdbg['IDISActivityID'] #pull ids
s_house_id = df_house['IDIS Activity ID'] #pull ids

In [9]:
s_cdbg_id.shape #shapes

(1111,)

In [10]:
s_house_id.shape #shapes

(850,)

#### We want to merge the two databases based upon id... we need to do some preliminary exploration first

In [11]:
s_cdbg_id.value_counts().head() # so multiple projects have the same id which is not what we anticipated

466     5
771     5
523     5
1146    5
547     4
Name: IDISActivityID, dtype: int64

In [12]:
s_cdbg_id.value_counts().tail()

1042    1
1043    1
1057    1
1096    1
445     1
Name: IDISActivityID, dtype: int64

In [13]:
df_cdbg[s_cdbg_id == 466] # but luckily these are just duplicate records

,Address,PlanYear,Project,IDISProjectId,IDISActivityID,Status,StatusDate,InitialFundingDate,FundedAmount,Description
0,SANDS DRIVE,2005,HOUSING,6,466,Canceled,1/10/2012,09/28/2006,0.0,
130,SANDS DRIVE,2005,HOUSING,6,466,Canceled,1/10/2012,09/28/2006,0.0,
441,SANDS DRIVE,2005,HOUSING,6,466,Canceled,1/10/2012,09/28/2006,0.0,
528,SANDS DRIVE,2005,HOUSING,6,466,Canceled,1/10/2012,09/28/2006,0.0,
827,SANDS DRIVE,2005,HOUSING,6,466,Canceled,1/10/2012,09/28/2006,0.0,

#### Let's see what happens when we drop duplicate records

In [14]:
df_cdbg = df_cdbg.drop_duplicates()

In [15]:
s_cdbg_id = df_cdbg['IDISActivityID']

In [16]:
s_cdbg_id.value_counts().head() # so now each id has only one record attached to it

1023    1
577     1
1433    1
1432    1
1431    1
Name: IDISActivityID, dtype: int64

#### Let's check the intersection of ids found in the pr03s drawdown and the ids found in the housing projects list

In [17]:
cdbg_notin_house = df_cdbg[~s_cdbg_id.isin(s_house_id)]
cdbg_notin_house.shape

(170, 10)

In [18]:
house_notin_cdbg = df_house[~s_house_id.isin(s_cdbg_id)] # these are the more worrisome ones
house_notin_cdbg.shape

(273, 14)

#### how many of these are home grants? Let's try this again, but after filtering for only cdbg in our dataset

In [19]:
df_house_cdbg = df_house[df_house['Program'] == "CDBG"] #Filter out HOME projects and reindex
df_house_cdbg.index = range(len(df_house_cdbg))

In [20]:
s_house_id = df_house_cdbg['IDIS Activity ID']

In [21]:
cdbg_notin_house = df_cdbg[~s_cdbg_id.isin(s_house_id)]
cdbg_notin_house.shape

(173, 10)

In [22]:
house_notin_cdbg = df_house_cdbg[~s_house_id.isin(s_cdbg_id)]
house_notin_cdbg.shape# great! only one record... what is it?

(1, 14)

In [23]:
house_notin_cdbg

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
563,20726,NaN,514 PINE AVE,2017,22,Commercial Rehabilitation,1547,Open,CDBG,0.0,0.0,0.0,NaN,NaN

#### interesting that the project is open... let's ignore this one for now, and just match the ones that we can

In [24]:
df_cdbg.shape #indexes are same

(686, 10)

In [25]:
s_cdbg_id.shape

(686,)

In [26]:
df_cdbg.head()

,Address,PlanYear,Project,IDISProjectId,IDISActivityID,Status,StatusDate,InitialFundingDate,FundedAmount,Description
0,SANDS DRIVE,2005,HOUSING,6,466,Canceled,1/10/2012,09/28/2006,0.00,
1,525 5TH AVE,2006,PUBLIC FACILITIES,8,523,Completed,8/16/2011,08/22/2007,15016.43,
2,230 S JACKSON ST STE 315,2008,SECTION 3 TRAINING PROGRAM,17,655,Canceled,8/10/2011,07/28/2009,0.00,TO PROVIDE TRAINING AND EMPLOYMENT OPPORTUNITI...
3,608 WILLARD AVE,2010,REHABILITATION,19,755,Canceled,10/21/2011,02/11/2010,0.00,
4,225 S JACKSON ST,2009,PUBLIC FACILITIES,19,770,Completed,4/23/2013,03/23/2010,89595.68,

In [27]:
df_house_cdbg.iloc[0]['IDIS Activity ID']

578

In [28]:
(578 in s_cdbg_id.values)

True

In [29]:
df_cdbg[s_cdbg_id == 578]['Address'].index[0]

895

In [30]:
#Inputs: df_main = dataframe containing all cdbg projects from housing_projects dataset
#df_info = dataframe containing all projects in drawdown report
#s_info = activity ids from drawdown report
def match_ids(df_main, df_info, s_info): #potentially reusable but not really. main is full house, info is cdbg
    s_house_addr = []
    s_cdbg_addr = []
    s_initial_date = []
    s_status_date = []
    s_house_ind = [] # should be close to a range with one misstep
    s_cdbg_ind = []
    #For each row in df_main, get the project id
    for i in range(len(df_main)):
        row = df_main.iloc[i]
        proj_id = row['IDIS Activity ID'] 
        #if the project id is in info, find the record with that ID and match it to row
        if proj_id in s_info.values:
            record = df_info[s_info == proj_id] # brings the specific record where there is a match
            # might not be unique-> pick first record
            ind = record.index[0]
            s_cdbg_ind.append(ind) #index in df_info
            record = record.iloc[0]
            s_house_addr.append(row['Address']) #address from df_main
            s_cdbg_addr.append(record['Address'])#address from df_info
            s_initial_date.append(record['InitialFundingDate']) #Funding date from df_info
            s_status_date.append(record['StatusDate']) #status date from df_info
            s_house_ind.append(i) #Index in df_main
    return pd.DataFrame({'HOUSE_ADDR' : s_house_addr, 'CDBG_ADDR' : s_cdbg_addr, 
                        'INIT_DATE' : s_initial_date, 'STAT_DATE' : s_status_date,
                        'HOUSE_INDEX' : s_house_ind, 'CDBG_INDEX' : s_cdbg_ind})

In [31]:
df_toadd = match_ids(df_house_cdbg, df_cdbg, s_cdbg_id) #Connect housing projects and drawdown report by id

In [32]:
df_toadd.shape

(563, 6)

In [33]:
df_toadd.head(5)

,HOUSE_ADDR,CDBG_ADDR,INIT_DATE,STAT_DATE,HOUSE_INDEX,CDBG_INDEX
0,1008 E RESIDENCE AVE,1008 E RESIDENCE AVE,03/08/2008,4/17/2008,0,895
1,1100 SWIFT ST,1100 SWIFT ST,06/03/2008,6/30/2008,1,926
2,1117 W WADDELL AVE,1117 W WADDELL AVE,06/02/2008,6/30/2008,2,919
3,1223 E BROAD AVE,1223 E BROAD AVE,03/08/2008,4/16/2008,3,892
4,1316 E 4TH AVE,1316 E 4TH AVE,06/03/2008,4/9/2009,4,464

In [34]:
#Check to see where the ids were joined by the housing addresses were not the same
mismatched = df_toadd[df_toadd['HOUSE_ADDR'] != df_toadd['CDBG_ADDR']]
mismatched.shape

(155, 6)

In [35]:
mismatched.head() #house_addr seems more reliable

,HOUSE_ADDR,CDBG_ADDR,INIT_DATE,STAT_DATE,HOUSE_INDEX,CDBG_INDEX
5,1419 W HIGHLAND AVE,1419 HIGHLAND AVE,05/30/2008,6/30/2008,5,915
39,705 16TH AVE,706 16TH AVE,06/05/2008,6/30/2008,39,468
41,UNKNOWN ADDRESS,SCATTERED SITES,10/09/2007,9/29/2009,41,140
43,230 S JACKSON ST,ALBANY COMMUNITY TOGETHER! (ACT!),06/10/2008,9/29/2009,43,149
44,314 N JEFFERSON ST,PO BOX 448,10/04/2007,8/6/2010,44,133

### Things to investigate
#### Investigate mismatches between addresses

In [36]:
col1 = list(df_house_cdbg)
col2 = list(df_cdbg)
row1 = df_house_cdbg.iloc[5]
#row2 = df_cdbg.loc[493]
#pd.concat([row1, row2], axis = 0, ignore_index=False)

In [37]:
#Check to see if a mismatch in addresses is a true mismatch -> IE they describe different projects
#To do this, check if there was a conflict in funding amounts
conflict_funding = pd.DataFrame(columns=col1+col2)
for house_ind, cdbg_ind in zip(mismatched.index, mismatched['CDBG_INDEX']):
    house_row = df_house_cdbg.iloc[house_ind] #
    cdbg_row = df_cdbg.loc[cdbg_ind]
    if house_row['Funded Amount'] != cdbg_row['FundedAmount']:
        full = pd.concat([house_row, cdbg_row], axis=0)
        conflict_funding = conflict_funding.append(full, ignore_index=True)
conflict_funding.drop(['Parcel ID', 'IDIS Project', 'Program', 'PrimaryID'], axis=1, inplace=True)
conflict_funding.shape

(54, 20)

In [38]:
conflict_funding

,Address,Plan Year,Project,IDIS Activity ID,Activity Status,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome,Address,PlanYear,Project,IDISProjectId,IDISActivityID,Status,StatusDate,InitialFundingDate,FundedAmount,Description
0,1300 NEWTON RD,2014,Disposition,1228,Completed,12509.81,12509.81,0.0,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,DISPOSITION,4,1228,Completed,6/30/2015,09/23/2014,37529.44,
1,1306 NEWTON RD,2014,Disposition,1228,Completed,12509.81,12509.81,0.0,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,DISPOSITION,4,1228,Completed,6/30/2015,09/23/2014,37529.44,
2,2423 HARVEY RD,2014,Disposition,1228,Completed,12509.82,12509.82,0.0,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,DISPOSITION,4,1228,Completed,6/30/2015,09/23/2014,37529.44,
3,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,42,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
4,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,43,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
5,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,44,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
6,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,45,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
7,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,46,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
8,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,47,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
9,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,48,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
10,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,49,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
11,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,50,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
12,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,51,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
13,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,52,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
14,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,53,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
15,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,54,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
16,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,55,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
17,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,56,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
18,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,57,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
19,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,58,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
20,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,59,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
21,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,60,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
22,2206 HABERSHAM RD,2014,Rental Rehabilitation,1269,Completed,NaN,NaN,NaN,APT,61,2206 HABERSHAM RD UNITS 41-60,2014,REHABILITATION,31,1269,Completed,6/30/2015,06/29/2015,27591.20,Roof replacement to Windsor Arms Complex Units...
23,242 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
24,243 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
25,244 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
26,245 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
27,246 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
28,247 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
29,248 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
30,249 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
31,250 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
32,251 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
33,252 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
34,253 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
35,254 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
36,255 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
37,256 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
38,257 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
39,258 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
40,259 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
41,260 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
42,261 E OGLETHORPE BLVD,2014,Commercial Development Program,1394,Open,NaN,NaN,NaN,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2014,COMMERCIAL DEVELOPMENT PROGRAM,34,1394,Open,NaN,09/29/2016,47471.60,Provide financial assistance to small business...
43,622 CEDAR AVE,2015,Disposition,1286,Completed,16826.27,16826.27,0.0,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2015,DISPOSITION,9,1286,Completed,9/23/2016,08/31/2015,33652.54,
44,703 GILBERT LN,2015,Disposition,1286,Completed,16826.27,16826.27,0.0,NaN,NaN,230 S JACKSON ST STE 315 SUITE 315,2015,DISPOSITION,9,1286,Completed,9/23/2016,08/31/2015,33652.54,
45,MERCER AVE,2015,Public Service,1336,Completed,1557.73,1557.73,0.0,NaN,NaN,230 S JACKSON ST,2015,PUBLIC SERVICE,7,1336,Completed,12/29/2016,04/27/2016,9346.38,
46,1023 S MCKINLEY ST,2015,Public Service,1336,Completed,1557.73,1557.73,0.0,NaN,NaN,230 S JACKSON ST,2015,PUBLIC SERVICE,7,1336,Completed,12/29/2016,04/27/2016,9346.38,
47,312 VICK ST,2015,Public Service,1336,Completed,1557.73,1557.73,0.0,NaN,NaN,230 S JACKSON ST,2015,PUBLIC SERVICE,7,1336,Completed,12/29/2016,04/27/2016,9346.38,
48,701 WILLARD AVE,2015,Public Service,1336,Completed,1557.73,1557.73,0.0,NaN,NaN,230 S JACKSON ST,2015,PUBLIC SERVICE,7,1336,Completed,12/29/2016,04/27/2016,9346.38,
49,324 LOCKETT STATION RD,2015,Public Service,1336,Completed,1557.73,1557.73,0.0,NaN,NaN,230 S JACKSON ST,2015,PUBLIC SERVICE,7,1336,Completed,12/29/2016,04/27/2016,9346.38,
50,2301 GEORGE ST,2015,Public Service,1336,Completed,1557.73,1557.73,0.0,NaN,NaN,230 S JACKSON ST,2015,PUBLIC SERVICE,7,1336,Completed,12/29/2016,04/27/2016,9346.38,
51,3019 MARTIN LUTHER KING JR DR,2016,Beautification,1447,Completed,3291.67,3291.67,0.0,NaN,NaN,230 S JACKSON ST,2016,BEAUTIFICATION,24,1447,Completed,3/27/2018,05/09/2017,9875.00,Installation of signs in three subdivisions wi...
52,9001300 BLOCK MOBILE RD,2016,Beautification,1447,Completed,3291.67,3291.67,0.0,NaN,NaN,230 S JACKSON ST,2016,BEAUTIFICATION,24,1447,Completed,3/27/2018,05/09/2017,9875.00,Installation of signs in three subdivisions wi...
53,700 BLOCK NETHERLAND LN,2016,Beautification,1447,Completed,3291.66,3291.66,0.0,NaN,NaN,230 S JACKSON ST,2016,BEAUTIFICATION,24,1447,Completed,3/27/2018,05/09/2017,9875.00,Installation of signs in three subdivisions wi...

In [39]:
counts = conflict_funding.groupby('IDIS Activity ID').count()
counts

,Address,Plan Year,Project,Activity Status,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome,Address,PlanYear,Project,IDISProjectId,IDISActivityID,Status,StatusDate,InitialFundingDate,FundedAmount,Description
IDIS Activity ID,,,,,,,,,,,,,,,,,,,
1228,3,3,3,3,3,3,3,0,0,3,3,3,3,3,3,3,3,3,3
1269,20,20,20,20,0,0,0,20,20,20,20,20,20,20,20,20,20,20,20
1286,2,2,2,2,2,2,2,0,0,2,2,2,2,2,2,2,2,2,2
1336,6,6,6,6,6,6,6,0,0,6,6,6,6,6,6,6,6,6,6
1394,20,20,20,20,0,0,0,0,0,20,20,20,20,20,20,0,20,20,20
1447,3,3,3,3,3,3,3,0,0,3,3,3,3,3,3,3,3,3,3

In [40]:
sums = conflict_funding.groupby('IDIS Activity ID').sum() #hypothesis: these are same records but split up on one end
# Left is project dataset, right is drawdown reports

In [41]:
sums['Funded Amount'] * counts['Funded Amount'] #Funded amount in projects times number of records

IDIS Activity ID
1228    112588.32
1269         0.00
1286     67305.08
1336     56078.28
1394         0.00
1447     29625.00
Name: Funded Amount, dtype: float64

In [42]:
sums['FundedAmount']#Funded amount in pr03 -> matches above for all except 1269 and 1394

IDIS Activity ID
1228    112588.32
1269    551824.00
1286     67305.08
1336     56078.28
1394    949432.00
1447     29625.00
Name: FundedAmount, dtype: float64

## hypothesis was almost correct--need to evaluate idis act 1269 and 1394

In [43]:
df_house_cdbg[df_house_cdbg['IDIS Activity ID'] == 1269] #idis activity id 1269
#one project with idis activity id 1269 has funded amount 27591.20, rest is nan

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
388,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,41
389,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,42
390,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,43
391,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,44
392,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,45
393,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,46
394,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,47
395,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,48
396,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,49
397,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,50
398,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,51
399,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,52
400,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,53
401,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,54
402,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,55
403,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,56
404,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,57
405,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,58
406,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,59
407,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,60
408,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,NaN,NaN,NaN,APT,61

In [44]:
551824.00 / 20 # this value matches the single record. So give everyone with idis 1269 same values

27591.2

#### There are 21 values here--1 did not show up because the 20k value matched.

In [45]:
for i in range(len(df_house_cdbg)):
    record = df_house_cdbg.iloc[i]
    if record['IDIS Activity ID'] == 1269:
        df_house_cdbg.loc[i,'Funded Amount'] = 27591.2
        df_house_cdbg.loc[i,'Draw Amount'] = 27591.2
        df_house_cdbg.loc[i,'Balance'] = 0.0

/home/mirabel/Documents/cds/cds_env/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [46]:
df_house_cdbg[df_house_cdbg['IDIS Activity ID'] == 1269]

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
388,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,41
389,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,42
390,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,43
391,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,44
392,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,45
393,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,46
394,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,47
395,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,48
396,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,49
397,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,50
398,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,51
399,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,52
400,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,53
401,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,54
402,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,55
403,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,56
404,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,57
405,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,58
406,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,59
407,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,60
408,25701,NaN,2206 HABERSHAM RD,2014,31,Rental Rehabilitation,1269,Completed,CDBG,27591.2,27591.2,0.0,APT,61

### doing the same for 1394

In [47]:
sums

                  Funded Amount  Draw Amount  Balance  FundedAmount
IDIS Activity ID
1228                   37529.44     37529.44      0.0     112588.32
1269                       0.00         0.00      0.0     551824.00
1286                   33652.54     33652.54      0.0      67305.08
1336                    9346.38      9346.38      0.0      56078.28
1394                       0.00         0.00      0.0     949432.00
1447                    9875.00      9875.00      0.0      29625.00

In [48]:
949432 / 20 # this matches

47471.6

In [49]:
df_house_cdbg[df_house_cdbg['IDIS Activity ID'] == 1394]

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
409,5005,NaN,241 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,47471.6,33325.08,14146.52,NaN,NaN
410,30589,NaN,242 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
411,26513,NaN,243 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
412,30589,NaN,244 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
413,26509,NaN,245 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
414,30589,NaN,246 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
415,26514,NaN,247 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
416,30589,NaN,248 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
417,26515,NaN,249 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
418,30589,NaN,250 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
419,26516,NaN,251 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
420,30589,NaN,252 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
421,26517,NaN,253 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
422,30589,NaN,254 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
423,30589,NaN,255 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
424,30589,NaN,256 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
425,30589,NaN,257 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
426,30589,NaN,258 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
427,30589,NaN,259 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
428,30589,NaN,260 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN
429,26508,NaN,261 E OGLETHORPE BLVD,2014,34,Commercial Development Program,1394,Open,CDBG,NaN,NaN,NaN,NaN,NaN

# Note for billy: check these in drawdown to make sure okay for draw and balance

In [50]:
for i in range(len(df_house_cdbg)):
    record = df_house_cdbg.iloc[i]
    if record['IDIS Activity ID'] == 1394:
        df_house_cdbg.loc[i,'Funded Amount'] = 47471.6
        df_house_cdbg.loc[i,'Draw Amount'] = 33325.08
        df_house_cdbg.loc[i,'Balance'] = 14146.52

#### Let's try running matchids again, after reindexing df_cdbg and s_cdbg_id

In [51]:
df_cdbg.index = range(len(df_cdbg))
s_cdbg_id = df_cdbg['IDISActivityID']

In [52]:
df_toadd = match_ids(df_house_cdbg, df_cdbg, s_cdbg_id)

In [53]:
df_toadd.head()

,HOUSE_ADDR,CDBG_ADDR,INIT_DATE,STAT_DATE,HOUSE_INDEX,CDBG_INDEX
0,1008 E RESIDENCE AVE,1008 E RESIDENCE AVE,03/08/2008,4/17/2008,0,628
1,1100 SWIFT ST,1100 SWIFT ST,06/03/2008,6/30/2008,1,651
2,1117 W WADDELL AVE,1117 W WADDELL AVE,06/02/2008,6/30/2008,2,648
3,1223 E BROAD AVE,1223 E BROAD AVE,03/08/2008,4/16/2008,3,625
4,1316 E 4TH AVE,1316 E 4TH AVE,06/03/2008,4/9/2009,4,406

In [54]:
df_toadd['CDBG_INDEX'].value_counts() # there are a couple that get assigned multiple times from drawdown which makes sense

685    21
272    21
360     6
663     3
280     3
349     2
233     1
232     1
208     1
209     1
210     1
237     1
236     1
211     1
212     1
213     1
214     1
215     1
216     1
234     1
217     1
218     1
219     1
207     1
221     1
222     1
223     1
224     1
225     1
226     1
227     1
228     1
230     1
231     1
220     1
205     1
206     1
183     1
169     1
171     1
172     1
173     1
174     1
175     1
176     1
177     1
178     1
179     1
180     1
181     1
182     1
184     1
239     1
185     1
186     1
187     1
189     1
190     1
192     1
193     1
194     1
195     1
197     1
201     1
203     1
204     1
238     1
242     1
240     1
284     1
286     1
288     1
289     1
290     1
291     1
292     1
293     1
294     1
295     1
296     1
297     1
298     1
299     1
300     1
301     1
302     1
303     1
309     1
310     1
311     1
312     1
313     1
314     1
315     1
317     1
319     1
321     1
285     1
283     1
241     1
282     1
167     1
243     1
244     1
245     1
246     1
247     1
248     1
249     1
250     1
251     1
252     1
253     1
254     1
255     1
256     1
257     1
259     1
260     1
261     1
262     1
263     1
264     1
266     1
270     1
276     1
277     1
279     1
168     1
166     1
323     1
165     1
44      1
45      1
46      1
47      1
48      1
51      1
52      1
53      1
54      1
56      1
58      1
59      1
62      1
64      1
65      1
66      1
67      1
68      1
       ..
624     1
625     1
626     1
627     1
628     1
629     1
630     1
632     1
649     1
635     1
636     1
638     1
639     1
640     1
641     1
642     1
643     1
644     1
645     1
646     1
647     1
648     1
493     1
491     1
487     1
385     1
370     1
371     1
372     1
373     1
375     1
376     1
377     1
378     1
379     1
381     1
382     1
383     1
384     1
386     1
368     1
387     1
388     1
389     1
390     1
391     1
392     1
393     1
394     1
395     1
396     1
397     1
398     1
399     1
369     1
367     1
485     1
340     1
326     1
327     1
328     1
329     1
330     1
332     1
333     1
334     1
335     1
336     1
337     1
338     1
339     1
343     1
366     1
344     1
345     1
346     1
347     1
352     1
354     1
356     1
357     1
358     1
362     1
363     1
364     1
365     1
403     1
406     1
407     1
465     1
449     1
451     1
452     1
453     1
454     1
457     1
458     1
459     1
460     1
461     1
462     1
463     1
464     1
466     1
408     1
467     1
468     1
469     1
470     1
471     1
473     1
474     1
475     1
476     1
477     1
478     1
483     1
484     1
448     1
447     1
446     1
445     1
409     1
410     1
411     1
412     1
414     1
415     1
417     1
418     1
420     1
421     1
422     1
423     1
424     1
428     1
429     1
430     1
431     1
434     1
435     1
436     1
437     1
439     1
440     1
441     1
442     1
443     1
444     1
4       1
Name: CDBG_INDEX, Length: 513, dtype: int64

In [55]:
df_cdbg.iloc[537]

Address               230 S JACKSON ST
PlanYear                          2013
Project                 PUBLIC SERVICE
IDISProjectId                        5
IDISActivityID                    1202
Status                       Completed
StatusDate                  12/10/2015
InitialFundingDate          06/16/2014
FundedAmount                     10000
Description
Name: 537, dtype: object

In [56]:
sums # all of the repetitions are what we'd expect, looking at index

                  Funded Amount  Draw Amount  Balance  FundedAmount
IDIS Activity ID
1228                   37529.44     37529.44      0.0     112588.32
1269                       0.00         0.00      0.0     551824.00
1286                   33652.54     33652.54      0.0      67305.08
1336                    9346.38      9346.38      0.0      56078.28
1394                       0.00         0.00      0.0     949432.00
1447                    9875.00      9875.00      0.0      29625.00

## Can actually start matching now

In [57]:
df_toadd.head()

,HOUSE_ADDR,CDBG_ADDR,INIT_DATE,STAT_DATE,HOUSE_INDEX,CDBG_INDEX
0,1008 E RESIDENCE AVE,1008 E RESIDENCE AVE,03/08/2008,4/17/2008,0,628
1,1100 SWIFT ST,1100 SWIFT ST,06/03/2008,6/30/2008,1,651
2,1117 W WADDELL AVE,1117 W WADDELL AVE,06/02/2008,6/30/2008,2,648
3,1223 E BROAD AVE,1223 E BROAD AVE,03/08/2008,4/16/2008,3,625
4,1316 E 4TH AVE,1316 E 4TH AVE,06/03/2008,4/9/2009,4,406

In [58]:
df_toadd['HOUSE_INDEX'].tail() # number 563 is missing

558    558
559    559
560    560
561    561
562    562
Name: HOUSE_INDEX, dtype: int64

In [59]:
df_house_cdbg.head()

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
0,26627,NaN,1008 E RESIDENCE AVE,2007,7,Emergency Repairs,578,Completed,CDBG,5671.14,5671.14,0.0,NaN,NaN
1,25739,NaN,1100 SWIFT ST,2007,5,Energy Efficiency,619,Completed,CDBG,4580.04,4580.04,0.0,NaN,NaN
2,21679,NaN,1117 W WADDELL AVE,2007,5,Energy Efficiency,607,Completed,CDBG,3977.52,3977.52,0.0,NaN,NaN
3,5461,NaN,1223 E BROAD AVE,2007,7,Emergency Repairs,575,Completed,CDBG,4776.14,4776.14,0.0,NaN,NaN
4,25773,NaN,1316 E 4TH AVE,2007,7,Emergency Repairs,613,Completed,CDBG,6934.40,6934.40,0.0,NaN,NaN

In [60]:
#Append NA to account for 514 Pine ave, which was missing in pr03 reports
init_date = df_toadd['INIT_DATE'].append(pd.Series([np.nan])) 
stat_date = df_toadd['STAT_DATE'].append(pd.Series([np.nan]))
init_date.index = range(len(init_date))
stat_date.index = range(len(stat_date))
df_house_cdbg.loc[:,'INIT_DATE'] = init_date
df_house_cdbg.loc[:,'STAT_DATE'] = stat_date

/home/mirabel/Documents/cds/cds_env/lib/python3.7/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)

In [61]:
df_house_cdbg.tail()

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome,INIT_DATE,STAT_DATE
559,17090,NaN,1601 S SLAPPEY BLVD,2017,5,Section 108 Loan Program,1465,Open,CDBG,26760.00,26760.0,0.00,NaN,NaN,12/06/2017,NaN
560,5224,NaN,230 S JACKSON ST,2017,18,Economic Development,1523,Open,CDBG,242225.78,220057.0,22168.78,NaN,NaN,12/14/2017,NaN
561,20718,NaN,420 PINE AVE,2017,7,Public Service,1477,Open,CDBG,25000.00,25000.0,0.00,NaN,NaN,08/26/2017,NaN
562,5679,NaN,225 W BROAD AVE,2017,7,Public Service,1479,Open,CDBG,25000.00,25000.0,0.00,NaN,NaN,08/26/2017,NaN
563,20726,NaN,514 PINE AVE,2017,22,Commercial Rehabilitation,1547,Open,CDBG,0.00,0.0,0.00,NaN,NaN,NaN,NaN

# CDBG is done merging (just remember to check pr03s)

# Starting HOME

In [62]:
df_house_home = df_house[df_house['Program'] == "HOME"]
df_house_home.shape

(286, 14)

In [63]:
df_house.shape[0] == df_house_cdbg.shape[0] + df_house_home.shape[0] # quick sanity check

True

In [64]:
df_house_home.head()

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
0,21204,0000Q/00025/009,1707 EDGERLY AVE,2007,6,Homeowner Rehabilitation,618,Completed,HOME,27033.46,27033.46,0.0,NaN,NaN
1,26763,0000U/00006/002,703 DARTMOUTH LN,2007,6,Homeowner Rehabilitation,634,Completed,HOME,30185.60,30185.60,0.0,NaN,NaN
2,21680,0000H/00047/005,1115 W WADDELL AVE,2007,6,Homeowner Rehabilitation,610,Completed,HOME,28678.19,28678.19,0.0,NaN,NaN
3,28935,0000X/00003/034,313 FORRESTAL LN,2007,6,Homeowner Rehabilitation,633,Completed,HOME,34694.47,34694.47,0.0,NaN,NaN
4,22320,00240/00003/024,1125 JOEL DR,2007,6,Homeowner Rehabilitation,600,Completed,HOME,30756.96,30756.96,0.0,NaN,NaN

## read in home data

In [65]:
df_home = pd.read_csv(path + "Raw-Data/Housing/homefull.csv") #Read pr22 in csv form

In [66]:
df_home.head()

,Tenure Type,Activity Type,Grantee,IDIS Activity,Activity Address,Activity Status,Status Date,Total Units,Home Units,Initial Funding Date,Committed Amount,Drawn Amount,PCT
0,Rental,NEW CONSTRUCTION,39508,28,"720 Bonny View Ave , Albany GA, 31705",Completed,6/1/96,4,4,5/8/95,"$171,421.03","$171,421.03",100.00%
1,Rental,NEW CONSTRUCTION,39508,178,"302 Adkins St , Albany GA, 31705",Completed,7/2/97,13,4,7/1/97,"$23,987.70","$23,987.70",100.00%
2,Rental,NEW CONSTRUCTION,39508,285,"700 N Davis St , Albany GA, 31701",Completed,4/1/02,4,4,5/10/01,"$281,081.26","$281,081.26",100.00%
3,Rental,NEW CONSTRUCTION,39508,286,"215 N Broadway St , Albany GA, 31705",Completed,8/1/04,24,24,5/10/01,"$1,804,882.55","$1,804,882.55",100.00%
4,Rental,NEW CONSTRUCTION,39508,367,"208-212 SOUTH MADISON AND 506, 527 HIGHLAND ,...",Completed,11/1/04,6,6,5/31/03,"$534,569.40","$534,569.40",100.00%

In [67]:
s_proj_id = df_house_home['IDIS Activity ID'] #naming is a bit confusing unfortunately
s_home_id = df_home['IDIS Activity']

In [68]:
proj_notin_home = s_proj_id[~s_proj_id.isin(s_home_id)]
home_notin_proj = s_home_id[~s_home_id.isin(s_proj_id)]

In [69]:
home_notin_proj.shape #in pr22 but not in projects

(119,)

In [70]:
proj_notin_home.shape #in projects but not in pr22

(13,)

In [71]:
proj_notin_home # first couple may be related, last 3 might also

13     707
14     708
15     709
16     710
17     711
18     712
19     713
20     714
23     717
88    1116
93    1121
94    1122
95    1123
Name: IDIS Activity ID, dtype: int64

In [72]:
df_house_home[s_proj_id == 707]

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
13,4987,000BB/00015/642,431 EBONY LN,2008,19,New Construction,707,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN

In [73]:
df_house_home[s_proj_id == 715]

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
21,4894,000BB/00015/615,537 EBONY LN,2008,19,New Construction,715,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
37,10116,0000I/00013/005,1005 MARTIN LUTHER KING JR DR,2009,8,New Construction,715,Completed,HOME,138941.45,138941.45,0.0,NaN,NaN

### So it looks like 707 - 717 are all part of one v large project, but for some reason 715, 716 have extra records

### same case with 1116 - 1123. 1117-1120 have duplicates

### Take some time rn to make sure parsing worked correctly and check those records

### yes, there don't seem to be home records for these values, how about by address?

Okay, so we've found the 706 id record for the northern boundary of ebony l
and also an enormous project of 1115 id record but this time for 125 n broadway st which might match (yup, right next to bonny view)

That solves that... but what about the duplicate records? hmm looks like a coding error on someone at city of albany's part. Typically when you have a large project that is split up, you don't assign separate idis activity ids, you give them each one, esp because that is how they are listed in the pr22. We should definitely ask shelena about this. Looks like she just decided to incrementally assign each project a separate id (more projects) but in doing so, didn't account for duplicates. There might some more duplicates actually...

In [74]:
s_proj_id.value_counts().head(11) # there are 10... we know about 715,716 and 1117-1120. That leaves 1124,1125,1163,1164

1164    2
1124    2
1117    2
1118    2
1119    2
715     2
716     2
1120    2
1125    2
1163    2
1180    1
Name: IDIS Activity ID, dtype: int64

1124,1125,1163,1164 are all listed in the pr22s with blank addresses. They have funded amounts/everything else, but no address. Let's look at what shelena put in the database she gave us:

In [75]:
df_house_home[s_proj_id == 1124]

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
96,207,0000C/00005/028,245 BONNY VIEW AVE,2012,20,New Construction,1124,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
117,30558,0000D/00015/010,603 HALEY ST,2012,10,Tenant Based Rental Assistance,1124,Completed,HOME,13296.00,13296.00,0.0,NaN,NaN

So 1124,1125 are also part of the bonny view project. haley st is not actually in the pr22, but the funded amount is the same

In [76]:
df_house_home[s_proj_id == 1163]

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
136,16837,000SS/00001/018,2407 DONCASTER DR,2013,18,Acquisition/Rehabilitation,1163,Completed,HOME,44471.65,44471.65,0.0,NaN,NaN
166,26854,00212/00001/33N,902 LEISURE CT,2013,16,Tenant Based Rental Assistance,1163,Completed,HOME,3296.00,3296.00,0.0,NaN,C

In [77]:
df_house_home[s_proj_id == 1164]

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
134,1976,0000I/00008/024,413 CORN AVE,2013,18,Acquisition/Rehabilitation,1164,Completed,HOME,44471.65,44471.65,0.0,NaN,NaN
139,16746,0000S/00013/002,2609 FLYNN CT,2013,16,Tenant Based Rental Assistance,1164,Completed,HOME,7059.00,7059.00,0.0,NaN,NaN

1163,1163 are part of the doncaster project, which is actually coded in the pr22 as 1162. correct values are once again the second record for each idis activity id duplicate

### Fixing id duplicates

#### Ebony project

In [78]:
df_house_home[s_proj_id == 707]

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
13,4987,000BB/00015/642,431 EBONY LN,2008,19,New Construction,707,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN

In [79]:
209189 / 19017.18 # from pr22

11.000001051680638

So ids 707 - 717 in the database shelena gave us should all actually be coded under 706

#### broadway / bonny view project

In [80]:
df_house_home[s_proj_id == 1116]

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
88,209,0000C/00005/026,250 BONNY VIEW AVE,2012,20,New Construction,1116,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN

In [81]:
1588281.6 / 158828.16

10.0

so ids 1116 - 1125 should all map to 1115

#### Doncaster project

In [82]:
df_house_home[s_proj_id == 1163]

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
136,16837,000SS/00001/018,2407 DONCASTER DR,2013,18,Acquisition/Rehabilitation,1163,Completed,HOME,44471.65,44471.65,0.0,NaN,NaN
166,26854,00212/00001/33N,902 LEISURE CT,2013,16,Tenant Based Rental Assistance,1163,Completed,HOME,3296.00,3296.00,0.0,NaN,C

In [83]:
88943.3 / 44471.65

2.0

so ids 1163-1164 should all map to 1162

#### actually fixing--have to be careful with duplicates. Also, we want every large project to be coded the same way, so far, we've only found ones that were coded like this because we ran into dup conflicts. How can we detect large projects?

In [84]:
s_proj_id

0       618
1       634
2       610
3       633
4       600
5       631
6       621
7       599
8       559
9       611
10      601
11      672
12      670
13      707
14      708
15      709
16      710
17      711
18      712
19      713
20      714
21      715
22      716
23      717
24      671
25      669
26      796
27      795
28      783
29      791
30      741
31      784
32      739
33      793
34      794
35      792
36      785
37      715
38      819
39      782
40      716
41      917
42      926
43      923
44      906
45      952
46      922
47      915
48      903
49      904
50      942
51      943
52      929
53      916
54      931
55      913
56      921
57      928
58      934
59      935
60      936
61      937
62     1001
63      933
64     1002
65     1003
66      920
67      914
68      930
69      828
70      884
71      885
72     1031
73     1032
74      996
75      997
76     1006
77     1030
78     1005
79     1108
80     1110
81     1109
82     1089
83     1076
84     1083
85     1179
86     1099
87     1084
88     1116
89     1117
90     1118
91     1119
92     1120
93     1121
94     1122
95     1123
96     1124
97     1125
98     1117
99     1125
100    1085
101    1093
102    1090
103    1104
104    1094
105    1120
106    1098
107    1113
108    1178
109    1086
110    1081
111    1119
112    1095
113    1091
114    1100
115    1074
116    1073
117    1124
118    1118
119    1101
120    1102
121    1075
122    1082
123    1087
124    1092
125    1088
126    1168
127    1167
128    1214
129    1194
130    1191
131    1210
132    1154
133    1190
134    1164
135    1204
136    1163
137    1157
138    1153
139    1164
140    1155
141    1192
142    1149
143    1193
144    1151
145    1197
146    1188
147    1165
148    1156
149    1158
150    1180
151    1181
152    1182
153    1183
154    1184
155    1185
156    1186
157    1187
158    1189
159    1213
160    1177
161    1225
162    1175
163    1176
164    1205
165    1150
166    1163
167    1152
168    1259
169    1454
170    1257
171    1262
172    1250
173    1271
174    1268
175    1270
176    1249
177    1256
178    1371
179    1263
180    1368
181    1264
182    1260
183    1322
184    1289
185    1337
186    1298
187    1305
188    1306
189    1327
190    1330
191    1328
192    1294
193    1290
194    1369
195    1292
196    1301
197    1318
198    1304
199    1355
200    1341
201    1342
202    1339
203    1340
204    1291
205    1338
206    1329
207    1324
208    1302
209    1303
210    1354
211    1317
212    1323
213    1326
214    1321
215    1320
216    1293
217    1421
218    1420
219    1482
220    1469
221    1475
222    1418
223    1429
224    1408
225    1400
226    1413
227    1410
228    1407
229    1445
230    1430
231    1474
232    1476
233    1412
234    1555
235    1414
236    1427
237    1554
238    1446
239    1449
240    1388
241    1422
242    1406
243    1387
244    1390
245    1411
246    1391
247    1404
248    1389
249    1444
250    1452
251    1453
252    1419
253    1409
254    1483
255    1428
256    1405
257    1456
258    1417
259    1448
260    1416
261    1468
262    1467
263    1546
264    1497
265    1511
266    1496
267    1545
268    1493
269    1505
270    1494
271    1538
272    1507
273    1490
274    1498
275    1531
276    1488
277    1506
278    1532
279    1544
280    1539
281    1495
282    1540
283    1492
284    1489
285    1491
Name: IDIS Activity ID, dtype: int64

### One idea is that large projects are coded together in the database. So if we have idis activity numbers going up by one at the same time that indexes are going up, then we should be able to find any multipart projects:

In [85]:
ind = s_proj_id.index
val = s_proj_id.values

In [86]:
multi_proj_indexes = []
prev_ind = ind[0]
prev_val = val[0]
for i in range(1, len(s_proj_id)):
    curr_ind = ind[i]
    curr_val = val[i]
    if (curr_ind == prev_ind + 1) and (curr_val == prev_val + 1):
        if not i-1 in multi_proj_indexes:
            multi_proj_indexes.append(i-1)
        multi_proj_indexes.append(i)
    prev_ind = curr_ind
    prev_val = curr_val

In [87]:
multi_proj_indexes = pd.Series(multi_proj_indexes)
df_house_home.loc[multi_proj_indexes]

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
13,4987,000BB/00015/642,431 EBONY LN,2008,19,New Construction,707,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
14,4958,000BB/00015/619,529 EBONY LN,2008,19,New Construction,708,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
15,4955,000BB/00015/616,535 EBONY LN,2008,19,New Construction,709,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
16,4954,000BB/00015/614,539 EBONY LN,2008,19,New Construction,710,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
17,4938,000BB/00015/611,545 EBONY LN,2008,19,New Construction,711,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
18,4945,000BB/00015/604,559 EBONY LN,2008,19,New Construction,712,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
19,4895,000BB/00015/602,563 EBONY LN,2008,19,New Construction,713,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
20,4957,000BB/00015/618,531 EBONY LN,2008,19,New Construction,714,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
21,4894,000BB/00015/615,537 EBONY LN,2008,19,New Construction,715,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
22,4937,000BB/00015/612,543 EBONY LN,2008,19,New Construction,716,Completed,HOME,19017.19,19017.19,0.0,NaN,NaN
23,4943,000BB/00015/606,555 EBONY LN,2008,19,New Construction,717,Completed,HOME,19017.19,19017.19,0.0,NaN,NaN
33,6511,000BB/00014/01O,456 GAINES AVE,2009,20,AHOP Financing,793,Completed,HOME,4186.88,4186.88,0.0,NaN,NaN
34,6512,000BB/00014/01P,460 GAINES AVE,2009,20,AHOP Financing,794,Completed,HOME,3444.04,3444.04,0.0,NaN,NaN
48,29192,000HH/00066/030,1305 HAMPTON CT,2010,20,AHOP Financing,903,Completed,HOME,48700.00,48700.00,0.0,NaN,NaN
49,29192,000HH/00066/030,1305 HAMPTON CT,2010,21,AHOP Financing,904,Completed,HOME,2161.56,2161.56,0.0,NaN,NaN
50,1683,00012/00006/041,509 AMERICAN LN,2010,26,New Construction,942,Completed,HOME,134942.90,134942.90,0.0,NaN,NaN
51,1682,00012/00006/036,519 AMERICAN LN,2010,26,New Construction,943,Completed,HOME,134869.84,134869.84,0.0,NaN,NaN
58,1874,0000K/00045/015,1410 S CAROLINA AVE,2010,24,CHDO,934,Completed,HOME,33081.99,33081.99,0.0,NaN,NaN
59,2142,0000K/00045/005,1411 S CAROLINA AVE,2010,24,CHDO,935,Completed,HOME,33081.99,33081.99,0.0,NaN,NaN
60,2143,0000K/00045/014,1412 S CAROLINA AVE,2010,24,CHDO,936,Completed,HOME,33081.99,33081.99,0.0,NaN,NaN
61,2144,0000K/00045/004,1413 S CAROLINA AVE,2010,24,CHDO,937,Completed,HOME,33081.99,33081.99,0.0,NaN,NaN
64,2146,0000K/00045/003,1415 S CAROLINA AVE,2010,24,CHDO,1002,Completed,HOME,33081.99,33081.99,0.0,NaN,NaN
65,2145,0000K/00045/012,1416 S CAROLINA AVE,2010,24,CHDO,1003,Completed,HOME,33081.95,33081.95,0.0,NaN,NaN
70,26830,000EE/00010/006,701 HOBSON ST,2010,1,Homeowner Rehabilitation,884,Completed,HOME,48245.70,48245.70,0.0,NaN,NaN
71,21174,0000H/00034/001,504 S MAGNOLIA ST,2010,1,Homeowner Rehabilitation,885,Completed,HOME,43588.81,43588.81,0.0,NaN,NaN
72,26248,0000K/00018/014,1521 CORA JINKS LN,2011,8,Homeowner Rehabilitation,1031,Completed,HOME,25931.20,25931.20,0.0,NaN,NaN
73,21690,0000H/00048/018,1110 W WADDELL AVE,2011,8,Homeowner Rehabilitation,1032,Completed,HOME,11855.73,11855.73,0.0,NaN,NaN
74,1573,000HH/00061/011,1605 SUNNY LN,2011,21,New Construction,996,Completed,HOME,56803.00,56803.00,0.0,NaN,NaN
75,1574,000HH/00061/013,1609 SUNNY LN,2011,21,New Construction,997,Completed,HOME,53197.00,53197.00,0.0,NaN,NaN
88,209,0000C/00005/026,250 BONNY VIEW AVE,2012,20,New Construction,1116,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
89,208,0000C/00005/029,249 BONNY VIEW AVE,2012,20,New Construction,1117,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
90,68,0000C/00005/026,248 BONNY VIEW AVE,2012,20,New Construction,1118,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
91,69,0000C/00005/030,251 BONNY VIEW AVE,2012,20,New Construction,1119,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
92,210,0000C/00005/030,253 BONNY VIEW AVE,2012,20,New Construction,1120,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
93,67,0000C/00005/029,247 BONNY VIEW AVE,2012,20,New Construction,1121,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
94,198,0000C/00005/027,254 BONNY VIEW AVE,2012,20,New Construction,1122,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
95,66,0000C/00005/028,243 BONNY VIEW AVE,2012,20,New Construction,1123,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
96,207,0000C/00005/028,245 BONNY VIEW AVE,2012,20,New Construction,1124,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
97,65,0000C/00005/027,252 BONNY VIEW AVE,2012,20,New Construction,1125,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
119,2200,00018/00001/03A,2903 ROSEBRIER AVE,2012,20,New Construction,1101,Completed,HOME,47102.58,47102.58,0.0,NaN,NaN
120,2174,00018/00001/003,2905 ROSEBRIER AVE,2012,20,New Construction,1102,Completed,HOME,52897.42,52897.42,0.0,NaN,NaN
150,2647,0000K/00045/010,1401 S CAROLINA AVE,2013,7,CHDO,1180,Completed,HOME,49990.08,49990.08,0.0,NaN,NaN
151,2440,0000K/00045/009,1403 S CAROLINA AVE,2013,7,CHDO,1181,Completed,HOME,49989.99,49989.99,0.0,NaN,NaN
152,2657,0000K/00045/018,1404 S CAROLINA AVE,2013,7,CHDO,1182,Completed,HOME,49989.99,49989.99,0.0,NaN,NaN
153,2652,0000K/00045/008,1405 S CAROLINA AVE,2013,7,CHDO,1183,Completed,HOME,49989.99,49989.99,0.0,NaN,NaN
154,107,0000K/00045/017,1406 S CAROLINA AVE,2013,7,CHDO,1184,Completed,HOME,49989.99,49989.99,0.0,NaN,NaN
155,2702,0000K/00045/007,1407 S CAROLINA AVE,2013,7,CHDO,1185,Completed,HOME,49989.99,49989.99,0.0,NaN,NaN
156,2413,0000K/00045/016,1408 S CAROLINA AVE,2013,7,CHDO,1186,Completed,HOME,49989.99,49989.99,0.0,NaN,NaN
157,2412,0000K/00045/002,1417 S CAROLINA AVE,2013,7,CHDO,1187,Completed,HOME,49990.00,49990.00,0.0,NaN,NaN
162,2414,00212/00005/043,903 WILLOW OAK CT,2013,19,New Construction,1175,Completed,HOME,62499.72,62499.72,0.0,NaN,NaN
163,2415,00212/00005/044,905 WILLOW OAK CT,2013,19,New Construction,1176,Completed,HOME,62500.28,62500.28,0.0,NaN,NaN
187,18699,00306/00001/08D,2010 W BROAD AVE,2015,10,Tenant Based Rental Assistance,1305,Completed,HOME,7165.05,7165.05,0.0,APT,88
188,7672,0000C/00005/031,215 N BROADWAY ST,2015,10,Tenant Based Rental Assistance,1306,Completed,HOME,11380.60,11380.60,0.0,APT,4
200,27399,00186/00003/006,1310 MOBILE AVE,2015,26,Rental Rehabilitation,1341,Completed,HOME,38585.26,38585.26,0.0,NaN,NaN
201,27403,00186/00003/009,1316 MOBILE AVE,2015,21,Homebuyer Rehab,1342,Completed,HOME,32713.25,32713.25,0.0,NaN,NaN
202,27451,00186/00003/054,1330 MOBILE AVE,2015,21,Homebuyer Rehab,1339,Completed,HOME,20386.99,20386.99,0.0,NaN,NaN
203,27410,00186/00003/016,1309 MONTEGO CT,2015,26,Rental Rehabilitation,1340,Completed,HOME,38244.99,38244.99,0.0,NaN,NaN
208,17296,0000O/00028/001,2202 LIONEL LN,2015,10,Tenant Based Rental Assistance,1302,Completed,HOME,1551.76,1551.76,0.0,APT,D
209,17314,0000O/00028/001,1700 SHOREHAM DR,2015,10,Tenant Based Rental Assistance,1303,Completed,HOME,6865.05,6865.05,0.0,APT,C
250,5944,00306/00001/06C,421 S WESTOVER BLVD,2016,19,Tenant Based Rental Assistance,1452,Completed,HOME,1088.31,1088.31,0.0,APT,11
251,5944,00306/00001/06C,421 S WESTOVER BLVD,2016,19,Tenant Based Rental Assistance,1453,Completed,HOME,1501.31,1501.31,0.0,APT,34

### Not all of these are multi projects, so we're going to do somewhat manually

In [88]:
def identify_multi_projects(df, ids):
    ind = ids.index
    val = ids.values
    multi_proj_indexes = []
    prev_ind = ind[0]
    prev_val = val[0]
    for i in range(1, len(ids)):
        curr_ind = ind[i]
        curr_val = val[i]
        if (curr_ind == prev_ind + 1) and (curr_val == prev_val + 1):
            if not i-1 in multi_proj_indexes:
                multi_proj_indexes.append(i-1)
            multi_proj_indexes.append(i)
        prev_ind = curr_ind
        prev_val = curr_val
    multi_proj_indexes = pd.Series(multi_proj_indexes)
    return df.loc[multi_proj_indexes]

In [89]:
identify_multi_projects(df_house_home, s_proj_id)

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome
13,4987,000BB/00015/642,431 EBONY LN,2008,19,New Construction,707,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
14,4958,000BB/00015/619,529 EBONY LN,2008,19,New Construction,708,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
15,4955,000BB/00015/616,535 EBONY LN,2008,19,New Construction,709,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
16,4954,000BB/00015/614,539 EBONY LN,2008,19,New Construction,710,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
17,4938,000BB/00015/611,545 EBONY LN,2008,19,New Construction,711,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
18,4945,000BB/00015/604,559 EBONY LN,2008,19,New Construction,712,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
19,4895,000BB/00015/602,563 EBONY LN,2008,19,New Construction,713,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
20,4957,000BB/00015/618,531 EBONY LN,2008,19,New Construction,714,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
21,4894,000BB/00015/615,537 EBONY LN,2008,19,New Construction,715,Completed,HOME,19017.18,19017.18,0.0,NaN,NaN
22,4937,000BB/00015/612,543 EBONY LN,2008,19,New Construction,716,Completed,HOME,19017.19,19017.19,0.0,NaN,NaN
23,4943,000BB/00015/606,555 EBONY LN,2008,19,New Construction,717,Completed,HOME,19017.19,19017.19,0.0,NaN,NaN
33,6511,000BB/00014/01O,456 GAINES AVE,2009,20,AHOP Financing,793,Completed,HOME,4186.88,4186.88,0.0,NaN,NaN
34,6512,000BB/00014/01P,460 GAINES AVE,2009,20,AHOP Financing,794,Completed,HOME,3444.04,3444.04,0.0,NaN,NaN
48,29192,000HH/00066/030,1305 HAMPTON CT,2010,20,AHOP Financing,903,Completed,HOME,48700.00,48700.00,0.0,NaN,NaN
49,29192,000HH/00066/030,1305 HAMPTON CT,2010,21,AHOP Financing,904,Completed,HOME,2161.56,2161.56,0.0,NaN,NaN
50,1683,00012/00006/041,509 AMERICAN LN,2010,26,New Construction,942,Completed,HOME,134942.90,134942.90,0.0,NaN,NaN
51,1682,00012/00006/036,519 AMERICAN LN,2010,26,New Construction,943,Completed,HOME,134869.84,134869.84,0.0,NaN,NaN
58,1874,0000K/00045/015,1410 S CAROLINA AVE,2010,24,CHDO,934,Completed,HOME,33081.99,33081.99,0.0,NaN,NaN
59,2142,0000K/00045/005,1411 S CAROLINA AVE,2010,24,CHDO,935,Completed,HOME,33081.99,33081.99,0.0,NaN,NaN
60,2143,0000K/00045/014,1412 S CAROLINA AVE,2010,24,CHDO,936,Completed,HOME,33081.99,33081.99,0.0,NaN,NaN
61,2144,0000K/00045/004,1413 S CAROLINA AVE,2010,24,CHDO,937,Completed,HOME,33081.99,33081.99,0.0,NaN,NaN
64,2146,0000K/00045/003,1415 S CAROLINA AVE,2010,24,CHDO,1002,Completed,HOME,33081.99,33081.99,0.0,NaN,NaN
65,2145,0000K/00045/012,1416 S CAROLINA AVE,2010,24,CHDO,1003,Completed,HOME,33081.95,33081.95,0.0,NaN,NaN
70,26830,000EE/00010/006,701 HOBSON ST,2010,1,Homeowner Rehabilitation,884,Completed,HOME,48245.70,48245.70,0.0,NaN,NaN
71,21174,0000H/00034/001,504 S MAGNOLIA ST,2010,1,Homeowner Rehabilitation,885,Completed,HOME,43588.81,43588.81,0.0,NaN,NaN
72,26248,0000K/00018/014,1521 CORA JINKS LN,2011,8,Homeowner Rehabilitation,1031,Completed,HOME,25931.20,25931.20,0.0,NaN,NaN
73,21690,0000H/00048/018,1110 W WADDELL AVE,2011,8,Homeowner Rehabilitation,1032,Completed,HOME,11855.73,11855.73,0.0,NaN,NaN
74,1573,000HH/00061/011,1605 SUNNY LN,2011,21,New Construction,996,Completed,HOME,56803.00,56803.00,0.0,NaN,NaN
75,1574,000HH/00061/013,1609 SUNNY LN,2011,21,New Construction,997,Completed,HOME,53197.00,53197.00,0.0,NaN,NaN
88,209,0000C/00005/026,250 BONNY VIEW AVE,2012,20,New Construction,1116,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
89,208,0000C/00005/029,249 BONNY VIEW AVE,2012,20,New Construction,1117,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
90,68,0000C/00005/026,248 BONNY VIEW AVE,2012,20,New Construction,1118,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
91,69,0000C/00005/030,251 BONNY VIEW AVE,2012,20,New Construction,1119,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
92,210,0000C/00005/030,253 BONNY VIEW AVE,2012,20,New Construction,1120,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
93,67,0000C/00005/029,247 BONNY VIEW AVE,2012,20,New Construction,1121,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
94,198,0000C/00005/027,254 BONNY VIEW AVE,2012,20,New Construction,1122,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
95,66,0000C/00005/028,243 BONNY VIEW AVE,2012,20,New Construction,1123,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
96,207,0000C/00005/028,245 BONNY VIEW AVE,2012,20,New Construction,1124,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
97,65,0000C/00005/027,252 BONNY VIEW AVE,2012,20,New Construction,1125,Completed,HOME,158828.16,158828.16,0.0,NaN,NaN
119,2200,00018/00001/03A,2903 ROSEBRIER AVE,2012,20,New Construction,1101,Completed,HOME,47102.58,47102.58,0.0,NaN,NaN
120,2174,00018/00001/003,2905 ROSEBRIER AVE,2012,20,New Construction,1102,Completed,HOME,52897.42,52897.42,0.0,NaN,NaN
150,2647,0000K/00045/010,1401 S CAROLINA AVE,2013,7,CHDO,1180,Completed,HOME,49990.08,49990.08,0.0,NaN,NaN
151,2440,0000K/00045/009,1403 S CAROLINA AVE,2013,7,CHDO,1181,Completed,HOME,49989.99,49989.99,0.0,NaN,NaN
152,2657,0000K/00045/018,1404 S CAROLINA AVE,2013,7,CHDO,1182,Completed,HOME,49989.99,49989.99,0.0,NaN,NaN
153,2652,0000K/00045/008,1405 S CAROLINA AVE,2013,7,CHDO,1183,Completed,HOME,49989.99,49989.99,0.0,NaN,NaN
154,107,0000K/00045/017,1406 S CAROLINA AVE,2013,7,CHDO,1184,Completed,HOME,49989.99,49989.99,0.0,NaN,NaN
155,2702,0000K/00045/007,1407 S CAROLINA AVE,2013,7,CHDO,1185,Completed,HOME,49989.99,49989.99,0.0,NaN,NaN
156,2413,0000K/00045/016,1408 S CAROLINA AVE,2013,7,CHDO,1186,Completed,HOME,49989.99,49989.99,0.0,NaN,NaN
157,2412,0000K/00045/002,1417 S CAROLINA AVE,2013,7,CHDO,1187,Completed,HOME,49990.00,49990.00,0.0,NaN,NaN
162,2414,00212/00005/043,903 WILLOW OAK CT,2013,19,New Construction,1175,Completed,HOME,62499.72,62499.72,0.0,NaN,NaN
163,2415,00212/00005/044,905 WILLOW OAK CT,2013,19,New Construction,1176,Completed,HOME,62500.28,62500.28,0.0,NaN,NaN
187,18699,00306/00001/08D,2010 W BROAD AVE,2015,10,Tenant Based Rental Assistance,1305,Completed,HOME,7165.05,7165.05,0.0,APT,88
188,7672,0000C/00005/031,215 N BROADWAY ST,2015,10,Tenant Based Rental Assistance,1306,Completed,HOME,11380.60,11380.60,0.0,APT,4
200,27399,00186/00003/006,1310 MOBILE AVE,2015,26,Rental Rehabilitation,1341,Completed,HOME,38585.26,38585.26,0.0,NaN,NaN
201,27403,00186/00003/009,1316 MOBILE AVE,2015,21,Homebuyer Rehab,1342,Completed,HOME,32713.25,32713.25,0.0,NaN,NaN
202,27451,00186/00003/054,1330 MOBILE AVE,2015,21,Homebuyer Rehab,1339,Completed,HOME,20386.99,20386.99,0.0,NaN,NaN
203,27410,00186/00003/016,1309 MONTEGO CT,2015,26,Rental Rehabilitation,1340,Completed,HOME,38244.99,38244.99,0.0,NaN,NaN
208,17296,0000O/00028/001,2202 LIONEL LN,2015,10,Tenant Based Rental Assistance,1302,Completed,HOME,1551.76,1551.76,0.0,APT,D
209,17314,0000O/00028/001,1700 SHOREHAM DR,2015,10,Tenant Based Rental Assistance,1303,Completed,HOME,6865.05,6865.05,0.0,APT,C
250,5944,00306/00001/06C,421 S WESTOVER BLVD,2016,19,Tenant Based Rental Assistance,1452,Completed,HOME,1088.31,1088.31,0.0,APT,11
251,5944,00306/00001/06C,421 S WESTOVER BLVD,2016,19,Tenant Based Rental Assistance,1453,Completed,HOME,1501.31,1501.31,0.0,APT,34

In [90]:
identify_multi_projects(df_house_cdbg, s_cdbg_id) #check to make sure this is right

/home/mirabel/Documents/cds/cds_env/lib/python3.7/site-packages/ipykernel_launcher.py:17: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome,INIT_DATE,STAT_DATE
4,25773.0,NaN,1316 E 4TH AVE,2007.0,7.0,Emergency Repairs,613.0,Completed,CDBG,6934.40,6934.40,0.00,NaN,NaN,06/03/2008,4/9/2009
5,18199.0,NaN,1419 W HIGHLAND AVE,2007.0,5.0,Energy Efficiency,603.0,Completed,CDBG,3985.52,3985.52,0.00,NaN,NaN,05/30/2008,6/30/2008
8,25.0,NaN,1706 S JEFFERSON ST,2007.0,4.0,Economic Development,628.0,Completed,CDBG,2156.32,2156.32,0.00,NaN,NaN,06/06/2008,6/30/2008
9,21214.0,NaN,1712 W HIGHLAND AVE,2007.0,5.0,Energy Efficiency,605.0,Completed,CDBG,4802.52,4802.52,0.00,NaN,NaN,05/30/2008,6/30/2008
10,6169.0,NaN,1805 S JACKSON ST,2007.0,5.0,Energy Efficiency,594.0,Completed,CDBG,2027.52,2027.52,0.00,NaN,NaN,03/19/2008,6/30/2008
11,6169.0,NaN,1805 S JACKSON ST,2007.0,7.0,Emergency Repairs,577.0,Completed,CDBG,5521.14,5521.14,0.00,NaN,NaN,03/08/2008,4/17/2008
12,22152.0,NaN,1904 JONES AVE,2007.0,7.0,Emergency Repairs,573.0,Completed,CDBG,5771.14,5771.14,0.00,NaN,NaN,03/08/2008,4/16/2008
13,26057.0,NaN,1925 S RIVERVIEW CIR,2007.0,7.0,Emergency Repairs,636.0,Completed,CDBG,7753.59,7753.59,0.00,NaN,NaN,07/14/2008,9/15/2009
14,25964.0,NaN,2002 N SKYLANE DR,2007.0,7.0,Emergency Repairs,556.0,Completed,CDBG,4707.98,4707.98,0.00,NaN,NaN,10/31/2007,4/16/2008
15,18678.0,NaN,207 N INGLESIDE DR,2007.0,7.0,Emergency Repairs,626.0,Completed,CDBG,6932.49,6932.49,0.00,NaN,NaN,06/06/2008,4/1/2009
16,23367.0,NaN,2109 JUNIPER DR,2007.0,7.0,Emergency Repairs,614.0,Completed,CDBG,6753.14,6753.14,0.00,NaN,NaN,06/03/2008,6/30/2008
17,22043.0,NaN,2126 COLQUITT AVE,2007.0,7.0,Emergency Repairs,555.0,Completed,CDBG,4732.98,4732.98,0.00,NaN,NaN,10/31/2007,4/16/2008
18,6364.0,NaN,2201 GRADY ST,2007.0,7.0,Emergency Repairs,580.0,Completed,CDBG,4311.40,4311.40,0.00,NaN,NaN,03/08/2008,4/17/2008
20,6373.0,NaN,2215 GRADY ST,2007.0,7.0,Emergency Repairs,624.0,Completed,CDBG,6959.40,6959.40,0.00,NaN,NaN,06/05/2008,6/30/2008
21,28024.0,NaN,234 CONE ST,2007.0,7.0,Emergency Repairs,579.0,Completed,CDBG,4471.14,4471.14,0.00,NaN,NaN,03/08/2008,4/17/2008
22,30120.0,NaN,2500 HABERSHAM RD,2007.0,7.0,Emergency Repairs,576.0,Completed,CDBG,4746.14,4746.14,0.00,NaN,NaN,03/08/2008,4/16/2008
23,30109.0,NaN,2502 HABERSHAM RD,2007.0,5.0,Energy Efficiency,606.0,Completed,CDBG,2027.52,2027.52,0.00,NaN,NaN,06/02/2008,6/30/2008
24,21224.0,NaN,305 S SHADOWLAWN DR,2007.0,5.0,Energy Efficiency,617.0,Completed,CDBG,5000.00,5000.00,0.00,NaN,NaN,06/03/2008,2/22/2011
25,28929.0,NaN,322 INDEPENDENCE DR,2007.0,7.0,Emergency Repairs,558.0,Completed,CDBG,4458.84,4458.84,0.00,NaN,NaN,10/31/2007,4/16/2008
26,25507.0,NaN,3400 NEWTON RD,2007.0,5.0,Energy Efficiency,591.0,Completed,CDBG,1677.49,1677.49,0.00,NaN,NaN,03/19/2008,6/30/2008
27,25507.0,NaN,3400 NEWTON RD,2007.0,7.0,Emergency Repairs,609.0,Completed,CDBG,5247.85,5247.85,0.00,NaN,NaN,06/02/2008,6/30/2008
28,25519.0,NaN,3404 NEWTON RD,2007.0,5.0,Energy Efficiency,595.0,Completed,CDBG,1717.52,1717.52,0.00,NaN,NaN,03/19/2008,6/30/2008
29,25519.0,NaN,3404 NEWTON RD,2007.0,7.0,Emergency Repairs,574.0,Completed,CDBG,5221.14,5221.14,0.00,NaN,NaN,03/08/2008,4/16/2008
30,10990.0,NaN,608 AZTEC LN,2007.0,7.0,Emergency Repairs,615.0,Completed,CDBG,6899.75,6899.75,0.00,NaN,NaN,06/03/2008,9/18/2008
31,13913.0,NaN,624 JEFFERIES AVE,2007.0,7.0,Emergency Repairs,586.0,Completed,CDBG,5532.05,5532.05,0.00,NaN,NaN,03/08/2008,6/30/2008
37,11186.0,NaN,640 HARMON AVE,2007.0,7.0,Emergency Repairs,625.0,Completed,CDBG,6736.49,6736.49,0.00,NaN,NaN,06/06/2008,9/15/2009
38,26723.0,NaN,701 BARKLEY BLVD,2007.0,7.0,Emergency Repairs,554.0,Completed,CDBG,3652.98,3652.98,0.00,NaN,NaN,10/31/2007,4/16/2008
39,9916.0,NaN,705 16TH AVE,2007.0,7.0,Emergency Repairs,623.0,Completed,CDBG,6990.72,6990.72,0.00,NaN,NaN,06/05/2008,6/30/2008
40,21870.0,NaN,823 S SHADOWLAWN DR,2007.0,7.0,Emergency Repairs,589.0,Completed,CDBG,4158.24,4158.24,0.00,NaN,NaN,03/08/2008,4/17/2008
41,30587.0,NaN,UNKNOWN ADDRESS,2007.0,12.0,Acquisition,553.0,Completed,CDBG,64071.10,64071.10,0.00,NaN,NaN,10/09/2007,9/29/2009
42,8416.0,NaN,801 W RESIDENCE AVE,2007.0,15.0,Public Service,572.0,Completed,CDBG,18572.87,18572.87,0.00,NaN,NaN,02/27/2008,11/24/2010
43,5224.0,NaN,230 S JACKSON ST,2007.0,4.0,Economic Development,629.0,Completed,CDBG,50000.00,50000.00,0.00,NaN,NaN,06/10/2008,9/29/2009
44,12959.0,NaN,314 N JEFFERSON ST,2007.0,15.0,Public Service,539.0,Completed,CDBG,14950.95,14950.95,0.00,NaN,NaN,10/04/2007,8/6/2010
45,2755.0,NaN,603 N JEFFERSON ST,2007.0,9.0,Historic Preservation,630.0,Completed,CDBG,25000.00,25000.00,0.00,NaN,NaN,06/27/2008,9/29/2009
46,5224.0,NaN,230 S JACKSON ST,2007.0,15.0,Public Service,550.0,Completed,CDBG,50563.82,50563.82,0.00,NaN,NaN,10/09/2007,9/29/2009
49,3238.0,NaN,101 S FRONT ST,2007.0,2.0,Section 108 Loan Program,543.0,Completed,CDBG,511940.00,511940.00,0.00,NaN,NaN,10/04/2007,6/30/2008
50,30565.0,NaN,638 W HIGHLAND AVE,2007.0,11.0,Public Facilities,562.0,Completed,CDBG,19012.52,19012.52,0.00,NaN,NaN,10/31/2007,10/1/2009
51,30587.0,NaN,UNKNOWN ADDRESS,2007.0,16.0,Beautification,597.0,Completed,CDBG,9475.97,9475.97,0.00,NaN,NaN,04/15/2008,8/1/2009
52,30587.0,NaN,UNKNOWN ADDRESS,2007.0,10.0,Lead-Based Paint Remediations,596.0,Completed,CDBG,37344.78,37344.78,0.00,NaN,NaN,03/21/2008,9/29/2009
53,17090.0,NaN,1601 S SLAPPEY BLVD,2007.0,2.0,Section 108 Loan Program,544.0,Completed,CDBG,45603.75,45603.75,0.00,NaN,NaN,10/04/2007,6/30/2008
54,30587.0,NaN,UNKNOWN ADDRESS,2007.0,13.0,Relocation,549.0,Completed,CDBG,80593.29,80593.29,0.00,NaN,NaN,10/08/2007,9/29/2009
55,10112.0,NaN,300 W 3RD AVE,2007.0,15.0,Public Service,571.0,Completed,CDBG,10000.00,10000.00,0.00,NaN,NaN,02/27/2008,6/30/2009
56,27082.0,NaN,1003 SWIFT ST,2008.0,10.0,Emergency Repairs,665.0,Completed,CDBG,6351.60,6351.60,0.00,NaN,NaN,12/01/2008,4/21/2009
57,27663.0,NaN,1106 CRAWFORD DR,2008.0,10.0,Emergency Repairs,664.0,Completed,CDBG,5385.00,5385.00,0.00,NaN,NaN,12/01/2008,4/8/2009
58,20908.0,NaN,1118 W WHITNEY AVE,2008.0,11.0,Energy Efficiency,705.0,Completed,CDBG,5041.42,5041.42,0.00,NaN,NaN,07/15/2009,7/16/2009
59,27408.0,NaN,1313 MONTEGO CT,2008.0,10.0,Emergency Repairs,662.0,Completed,CDBG,5033.00,5033.00,0.00,NaN,NaN,12/01/2008,3/4/2009
60,20923.0,NaN,1400 W WHITNEY AVE,2008.0,10.0,Emergency Repairs,703.0,Completed,CDBG,6116.18,6116.18,0.00,NaN,NaN,07/15/2009,10/2/2009
61,20923.0,NaN,1400 W WHITNEY AVE,2008.0,11.0,Energy Efficiency,728.0,Completed,CDBG,5466.42,5466.42,0.00,NaN,NaN,09/22/2009,9/23/2009
62,26325.0,NaN,1403 GREENBRIER CT,2008.0,11.0,Energy Efficiency,727.0,Completed,CDBG,4651.42,4651.42,0.00,NaN,NaN,09/22/2009,9/23/2009
63,26147.0,NaN,1513 CORDELL LN,2008.0,11.0,Energy Efficiency,726.0,Completed,CDBG,5366.42,5366.42,0.00,NaN,NaN,09/22/2009,9/23/2009
64,836.0,NaN,1530 E BROAD AVE,2008.0,10.0,Emergency Repairs,685.0,Completed,CDBG,8361.17,8361.17,0.00,NaN,NaN,05/21/2009,2/2/2011
65,15244.0,NaN,1619 SUNNY LN,2008.0,10.0,Emergency Repairs,700.0,Completed,CDBG,5043.23,5043.23,0.00,NaN,NaN,06/22/2009,9/15/2009
66,21204.0,NaN,1707 EDGERLY AVE,2008.0,11.0,Energy Efficiency,659.0,Completed,CDBG,4616.42,4616.42,0.00,NaN,NaN,11/24/2008,6/30/2009
67,3743.0,NaN,1810 DUNNING LN,2008.0,10.0,Emergency Repairs,682.0,Completed,CDBG,5053.29,5053.29,0.00,NaN,NaN,05/21/2009,8/11/2009
68,18758.0,NaN,1904 W OGLETHORPE AVE,2008.0,11.0,Energy Efficiency,677.0,Completed,CDBG,5000.00,5000.00,0.00,NaN,NaN,02/24/2009,9/25/2009
69,18799.0,NaN,1918 W HIGHLAND AVE,2008.0,10.0,Emergency Repairs,698.0,Completed,CDBG,7175.59,7175.59,0.00,NaN,NaN,06/22/2009,9/15/2009
70,1849.0,NaN,1926 MARTIN LUTHER KING JR DR,2008.0,18.0,Commercial Facade,730.0,Completed,CDBG,3105.00,3105.00,0.00,NaN,NaN,09/24/2009,10/30/2009
71,18574.0,NaN,2029 W BROAD AVE,2008.0,11.0,Energy Efficiency,729.0,Completed,CDBG,4375.49,4375.49,0.00,NaN,NaN,09/22/2009,9/23/2009
72,26701.0,NaN,214 N BROADWAY ST,2008.0,11.0,Energy Efficiency,658.0,Completed,CDBG,4966.42,4966.42,0.00,NaN,NaN,11/24/2008,6/30/2009
73,1303.0,NaN,2208 STRATFORD DR,2008.0,10.0,Emergency Repairs,680.0,Completed,CDBG,5891.59,5891.59,0.00,NaN,NaN,05/21/2009,9/15/2009
74,26513.0,NaN,243 E OGLETHORPE BLVD,2008.0,18.0,Commercial Facade,678.0,Completed,CDBG,642.00,642.00,0.00,NaN,NaN,03/16/2009,6/1/2009
75,21225.0,NaN,307 S SHADOWLAWN DR,2008.0,10.0,Emergency Repairs,661.0,Completed,CDBG,6431.60,6431.60,0.00,NaN,NaN,12/01/2008,12/11/2008
76,7006.0,NaN,321 TREMONT AVE,2008.0,10.0,Emergency Repairs,647.0,Completed,CDBG,6563.20,6563.20,0.00,NaN,NaN,10/28/2008,11/20/2008
77,7006.0,NaN,321 TREMONT AVE,2008.0,11.0,Energy Efficiency,648.0,Completed,CDBG,2615.21,2615.21,0.00,NaN,NaN,10/28/2008,6/30/2009
78,3996.0,NaN,408 ALICE AVE,2008.0,11.0,Energy Efficiency,676.0,Completed,CDBG,5000.00,5000.00,0.00,NaN,NaN,02/24/2009,4/28/2009
79,23724.0,NaN,412 ROSSER LN,2008.0,10.0,Emergency Repairs,702.0,Completed,CDBG,6431.77,6431.77,0.00,NaN,NaN,07/15/2009,10/18/2009
80,9457.0,NaN,421 DORSETT AVE,2008.0,10.0,Emergency Repairs,666.0,Completed,CDBG,7137.18,7137.18,0.00,NaN,NaN,12/01/2008,9/15/2009
81,28790.0,NaN,429 JOHNSON RD,2008.0,10.0,Emergency Repairs,657.0,Completed,CDBG,6471.00,6471.00,0.00,NaN,NaN,02/13/2009,2/14/2009
82,7303.0,NaN,607 ROADWAY RD,2008.0,10.0,Emergency Repairs,699.0,Completed,CDBG,6376.78,6376.78,0.00,NaN,NaN,06/22/2009,2/22/2011
83,3695.0,NaN,612 LOUIS AVE,2008.0,10.0,Emergency Repairs,683.0,Completed,CDBG,6404.10,6404.10,0.00,NaN,NaN,05/21/2009,10/22/2009
84,3695.0,NaN,612 LOUIS AVE,2008.0,11.0,Energy Efficiency,674.0,Completed,CDBG,2466.42,2466.42,0.00,NaN,NaN,02/13/2009,6/30/2009
85,26763.0,NaN,703 DARTMOUTH LN,2008.0,11.0,Energy Efficiency,673.0,Completed,CDBG,4975.00,4975.00,0.00,NaN,NaN,02/13/2009,2/14/2009
87,10828.0,NaN,710 WARRIOR CT,2008.0,10.0,Emergency Repairs,684.0,Completed,CDBG,6759.77,6759.77,0.00,NaN,NaN,05/21/2009,10/2/2009
88,26687.0,NaN,719 ANDOVER LN,2008.0,11.0,Energy Efficiency,675.0,Completed,CDBG,4566.42,4566.42,0.00,NaN,NaN,02/13/2009,6/30/2009
89,20691.0,NaN,810 W OGLETHORPE BLVD,2008.0,18.0,Commercial Facade,679.0,Completed,CDBG,1284.00,1284.00,0.00,NaN,NaN,03/27/2009,6/1/2009
91,25400.0,NaN,919 W LINCOLN AVE,2008.0,10.0,Emergency Repairs,701.0,Completed,CDBG,6613.17,6613.17,0.00,NaN,NaN,07/15/2009,10/5/2009
92,5224.0,NaN,230 S JACKSON ST,2008.0,4.0,Economic Development,646.0,Completed,CDBG,40000.00,40000.00,0.00,NaN,NaN,09/24/2009,10/1/2009
93,5224.0,NaN,230 S JACKSON ST,2008.0,16.0,Public Service,707.0,Completed,CDBG,10802.65,10802.65,0.00,APT,250,07/24/2009,11/24/2009
94,5224.0,NaN,230 S JACKSON ST,2008.0,16.0,Public Service,652.0,Completed,CDBG,122417.92,122417.92,0.00,NaN,NaN,02/06/2009,9/29/2009
95,25813.0,NaN,1100 JORDAN ST,2008.0,20.0,Public Facilities,888.0,Completed,CDBG,38718.55,38718.55,0.00,NaN,NaN,12/30/2010,8/23/2011
96,18259.0,NaN,1139 W BROAD AVE,2008.0,16.0,Public Service,667.0,Completed,CDBG,39999.57,39999.57,0.00,NaN,NaN,02/06/2009,9/29/2009
97,3238.0,NaN,101 S FRONT ST,2008.0,2.0,Section 108 Loan Program,643.0,Completed,CDBG,501462.50,501462.50,0.00,NaN,NaN,10/28/2008,9/29/2009
98,17090.0,NaN,1601 S SLAPPEY BLVD,2008.0,2.0,Section 108 Loan Program,644.0,Completed,CDBG,44246.25,44246.25,0.00,NaN,NaN,10/28/2008,9/29/2009
99,5224.0,NaN,230 S JACKSON ST,2008.0,4.0,Economic Development,645.0,Completed,CDBG,335876.73,335876.73,0.00,NaN,NaN,11/13/2008,11/24/2010
100,5224.0,NaN,230 S JACKSON ST,2008.0,4.0,Economic Development,548.0,Completed,CDBG,286906.18,286906.18,0.00,NaN,NaN,10/04/2007,10/2/2009
101,30587.0,NaN,UNKNOWN ADDRESS,2008.0,14.0,Relocation,650.0,Completed,CDBG,10882.37,10882.37,0.00,NaN,NaN,02/06/2009,9/29/2009
102,26655.0,NaN,1000 E SOCIETY AVE,2009.0,6.0,Emergency Repairs,760.0,Completed,CDBG,5015.72,5015.72,0.00,NaN,NaN,02/11/2010,4/1/2010
103,26655.0,NaN,1000 E SOCIETY AVE,2009.0,7.0,Energy Efficiency,777.0,Completed,CDBG,4339.00,4339.00,0.00,NaN,NaN,04/16/2010,5/13/2010
104,20556.0,NaN,1011 MERCER AVE,2009.0,6.0,Emergency Repairs,735.0,Completed,CDBG,5819.09,5819.09,0.00,NaN,NaN,11/02/2009,3/24/2010
105,10248.0,NaN,105 HILLSIDE DR,2009.0,6.0,Emergency Repairs,768.0,Completed,CDBG,5938.35,5938.35,0.00,NaN,NaN,02/18/2010,5/11/2010
106,25811.0,NaN,1105 JORDAN ST,2009.0,6.0,Emergency Repairs,779.0,Completed,CDBG,4956.00,4956.00,0.00,NaN,NaN,04/16/2010,5/31/2010
107,18417.0,NaN,1128 MARY ST,2009.0,7.0,Energy Efficiency,736.0,Completed,CDBG,5350.00,5350.00,0.00,NaN,NaN,11/02/2009,2/22/2011
108,28673.0,NaN,1206 S MCKINLEY ST,2009.0,6.0,Emergency Repairs,767.0,Completed,CDBG,4733.95,4733.95,0.00,NaN,NaN,02/18/2010,3/18/2010
109,29928.0,NaN,1519 MALONE DR,2009.0,7.0,Energy Efficiency,788.0,Completed,CDBG,4902.00,4902.00,0.00,NaN,NaN,07/02/2010,7/13/2010
110,26102.0,NaN,1602 ESTELLE ST,2009.0,7.0,Energy Efficiency,800.0,Completed,CDBG,5083.53,5083.53,0.00,NaN,NaN,07/15/2010,11/30/2010
111,23026.0,NaN,1709 FIR LN,2009.0,6.0,Emergency Repairs,762.0,Completed,CDBG,6410.72,6410.72,0.00,NaN,NaN,02/11/2010,3/24/2010
112,20373.0,NaN,1802 SHARON DR,2009.0,7.0,Energy Efficiency,763.0,Completed,CDBG,5499.00,5499.00,0.00,NaN,NaN,02/11/2010,2/24/2010
114,18799.0,NaN,1918 W HIGHLAND AVE,2009.0,7.0,Energy Efficiency,786.0,Completed,CDBG,5595.00,5595.00,0.00,NaN,NaN,07/02/2010,7/31/2010
115,24702.0,NaN,2014 INDICA TRL,2009.0,7.0,Energy Efficiency,806.0,Completed,CDBG,5042.33,5042.33,0.00,NaN,NaN,07/15/2010,3/3/2011
116,1221.0,NaN,206 EDISON DR,2009.0,6.0,Emergency Repairs,778.0,Completed,CDBG,5339.00,5339.00,0.00,NaN,NaN,04/16/2010,5/11/2010
117,22058.0,NaN,2107 COLQUITT AVE,2009.0,6.0,Emergency Repairs,769.0,Completed,CDBG,6047.49,6047.49,0.00,NaN,NaN,02/18/2010,5/26/2010
118,22058.0,NaN,2107 COLQUITT AVE,2009.0,7.0,Energy Efficiency,803.0,Completed,CDBG,3832.50,3832.50,0.00,NaN,NaN,07/15/2010,3/3/2011
119,23813.0,NaN,2207 OXFORD RD,2009.0,7.0,Energy Efficiency,804.0,Completed,CDBG,4793.83,4793.83,0.00,NaN,NaN,07/15/2010,2/14/2011
120,26511.0,NaN,231 E OGLETHORPE BLVD,2009.0,14.0,Commercial Facade,789.0,Completed,CDBG,900.00,900.00,0.00,NaN,NaN,08/06/2010,10/5/2010
121,3186.0,NaN,400 WADKINS AVE,2009.0,6.0,Emergency Repairs,734.0,Completed,CDBG,6150.14,6150.14,0.00,NaN,NaN,10/30/2009,3/25/2010
122,23642.0,NaN,403 VICK ST,2009.0,6.0,Emergency Repairs,757.0,Completed,CDBG,4821.61,4821.61,0.00,NaN,NaN,02/11/2010,3/24/2010
123,19446.0,NaN,514 EUGEMAR DR,2009.0,7.0,Energy Efficiency,737.0,Completed,CDBG,5304.81,5304.81,0.00,NaN,NaN,11/02/2009,11/24/2009
124,10984.0,NaN,603 AZTEC LN,2009.0,6.0,Emergency Repairs,756.0,Completed,CDBG,4717.21,4717.21,0.00,NaN,NaN,02/11/2010,3/23/2010
125,7303.0,NaN,607 ROADWAY RD,2009.0,7.0,Energy Efficiency,738.0,Completed,CDBG,5405.00,5405.00,0.00,NaN,NaN,11/02/2009,5/31/2010
126,10930.0,NaN,616 INDIAN CREEK DR,2009.0,7.0,Energy Efficiency,802.0,Completed,CDBG,4146.86,4146.86,0.00,NaN,NaN,07/15/2010,6/2/2011
127,21985.0,NaN,700 COLQUITT CIR,2009.0,7.0,Energy Efficiency,805.0,Completed,CDBG,3567.33,3567.33,0.00,NaN,NaN,07/15/2010,3/1/2011
128,7401.0,NaN,706 JOHNNY W WILLIAMS RD,2009.0,7.0,Energy Efficiency,787.0,Completed,CDBG,5110.00,5110.00,0.00,NaN,NaN,07/02/2010,7/31/2010
129,15575.0,NaN,903 DORSETT AVE,2009.0,6.0,Emergency Repairs,761.0,Completed,CDBG,5049.61,5049.61,0.00,NaN,NaN,02/11/2010,3/23/2010
132,5224.0,NaN,230 S JACKSON ST,2009.0,4.0,Economic Development,714.0,Completed,CDBG,50000.00,50000.00,0.00,NaN,NaN,04/23/2010,10/5/2010
133,7731.0,NaN,701 WILLARD AVE,2009.0,15.0,Public Service,746.0,Completed,CDBG,13190.30,13190.30,0.00,NaN,NaN,02/19/2010,10/31/2010
134,6005.0,NaN,1338 MOBILE AVE,2009.0,15.0,Public Service,752.0,Completed,CDBG,11115.00,11115.00,0.00,NaN,NaN,01/12/2010,10/31/2010
135,24717.0,NaN,318 W HIGHLAND AVE,2009.0,14.0,Commercial Facade,773.0,Completed,CDBG,4208.20,4208.20,0.00,NaN,NaN,03/24/2010,3/30/2010
136,5224.0,NaN,230 S JACKSON ST,2009.0,15.0,Public Service,751.0,Completed,CDBG,10001.83,10001.83,0.00,NaN,NaN,01/07/2010,10/31/2010
137,5224.0,NaN,230 S JACKSON ST,2009.0,15.0,Public Service,720.0,Completed,CDBG,75000.00,75000.00,0.00,NaN,NaN,11/02/2009,10/2/2010
142,3238.0,NaN,101 S FRONT ST,2009.0,2.0,Section 108 Loan Program,710.0,Completed,CDBG,490022.50,490022.50,0.00,NaN,NaN,11/02/2009,6/30/2010
143,750.0,NaN,302 CASON ST,2009.0,15.0,Public Service,744.0,Completed,CDBG,8377.52,8377.52,0.00,NaN,NaN,12/14/2009,10/31/2010
147,10050.0,NaN,320 W 2ND AVE,2009.0,15.0,Public Service,754.0,Completed,CDBG,15000.00,15000.00,0.00,NaN,NaN,01/22/2010,10/31/2010
148,17090.0,NaN,1601 S SLAPPEY BLVD,2009.0,2.0,Section 108 Loan Program,711.0,Completed,CDBG,42846.25,42846.25,0.00,NaN,NaN,11/02/2009,6/30/2010
149,5224.0,NaN,230 S JACKSON ST,2009.0,4.0,Economic Development,713.0,Completed,CDBG,285639.10,285639.10,0.00,NaN,NaN,10/30/2009,10/5/2010
150,10054.0,NaN,802 N JEFFERSON ST,2009.0,15.0,Public Service,745.0,Completed,CDBG,24595.00,24595.00,0.00,NaN,NaN,12/14/2009,12/31/2010
151,26578.0,NaN,302 ADKINS ST,2009.0,15.0,Public Service,750.0,Completed,CDBG,24926.79,24926.79,0.00,NaN,NaN,12/14/2009,10/31/2010
154,26494.0,NaN,227 E OGLETHORPE BLVD,2009.0,14.0,Commercial Facade,772.0,Completed,CDBG,1136.71,1136.71,0.00,NaN,NaN,03/24/2010,4/5/2010
155,19966.0,NaN,831 ODOM AVE,2009.0,11.0,Relocation,717.0,Completed,CDBG,385.00,385.00,0.00,NaN,NaN,11/02/2009,11/29/2010
156,30566.0,NaN,225 S JACKSON ST,2009.0,19.0,Public Facilities,770.0,Completed,CDBG,89595.68,89595.68,0.00,NaN,NaN,03/23/2010,4/23/2013
157,26515.0,NaN,249 E OGLETHORPE BLVD,2009.0,14.0,Commercial Facade,764.0,Completed,CDBG,863.14,863.14,0.00,NaN,NaN,02/11/2010,3/31/2010
158,6761.0,NaN,1400 S JEFFERSON ST,2009.0,19.0,Public Facilities,771.0,Completed,CDBG,200948.09,200948.09,0.00,NaN,NaN,03/23/2010,11/20/2013
159,30567.0,NaN,1010 W LINCOLN AVE,2010.0,13.0,Demolition,951.0,Completed,CDBG,9074.93,9074.93,0.00,NaN,NaN,08/23/2011,12/20/2011
160,26518.0,NaN,109 S BROADWAY ST,2010.0,3.0,Commercial Facade,816.0,Completed,CDBG,986.62,986.62,0.00,NaN,NaN,09/01/2010,12/2/2010
161,25811.0,NaN,1105 JORDAN ST,2010.0,5.0,Energy Efficiency,833.0,Completed,CDBG,4676.10,4676.10,0.00,NaN,NaN,09/28/2010,4/28/2011
162,21526.0,NaN,1120 W LINCOLN AVE,2010.0,4.0,Emergency Repairs,878.0,Completed,CDBG,5277.00,5277.00,0.00,NaN,NaN,11/17/2010,3/2/2011
163,5459.0,NaN,1209 E BROAD AVE,2010.0,4.0,Emergency Repairs,872.0,Completed,CDBG,5583.00,5583.00,0.00,NaN,NaN,11/09/2010,2/8/2011
165,26107.0,NaN,1400 ESTELLE ST,2010.0,4.0,Emergency Repairs,908.0,Completed,CDBG,2255.00,2255.00,0.00,NaN,NaN,08/15/2011,8/25/2011
166,26107.0,NaN,1400 ESTELLE ST,2010.0,5.0,Energy Efficiency,909.0,Completed,CDBG,3405.60,3405.60,0.00,NaN,NaN,06/07/2011,9/1/2011
167,30589.0,NaN,1401 E CAMPBELL ST/108 CARROLL ST,2010.0,13.0,Demolition,938.0,Completed,CDBG,78147.85,78147.85,0.00,NaN,NaN,08/04/2011,12/12/2011
168,21644.0,NaN,1501 W WADDELL AVE,2010.0,4.0,Emergency Repairs,876.0,Completed,CDBG,4823.50,4823.50,0.00,NaN,NaN,11/09/2010,5/2/2011
169,15002.0,NaN,1511 MCARTHUR ST,2010.0,4.0,Emergency Repairs,869.0,Completed,CDBG,4829.00,4829.00,0.00,NaN,NaN,11/09/2010,3/2/2011
170,836.0,NaN,1530 E BROAD AVE,2010.0,5.0,Energy Efficiency,829.0,Completed,CDBG,5318.41,5318.41,0.00,NaN,NaN,09/21/2010,2/2/2011
171,1210.0,NaN,1804 KEYSTONE AVE,2010.0,4.0,Emergency Repairs,831.0,Completed,CDBG,5247.00,5247.00,0.00,NaN,NaN,09/27/2010,12/9/2010
172,18963.0,NaN,1819 GREENVALE AVE,2010.0,4.0,Emergency Repairs,812.0,Completed,CDBG,6752.40,6752.40,0.00,NaN,NaN,07/30/2010,2/22/2011
175,18797.0,NaN,1914 W HIGHLAND AVE,2010.0,4.0,Emergency Repairs,866.0,Completed,CDBG,5495.00,5495.00,0.00,NaN,NaN,11/09/2010,3/2/2011
176,22021.0,NaN,2004 COLQUITT AVE,2010.0,4.0,Emergency Repairs,817.0,Completed,CDBG,6005.17,6005.17,0.00,NaN,NaN,08/27/2010,10/12/2010
177,22021.0,NaN,2004 COLQUITT AVE,2010.0,5.0,Energy Efficiency,825.0,Completed,CDBG,5127.32,5127.32,0.00,NaN,NaN,09/21/2010,2/14/2011
178,23220.0,NaN,2007 EVERGREEN DR,2010.0,4.0,Emergency Repairs,867.0,Completed,CDBG,4560.00,4560.00,0.00,NaN,NaN,11/09/2010,3/2/2011

## Reformatting with no duplicate ids

In [91]:
to_fix_home = [[706] + [i for i in range(707,718)], [934,934,935,936,937], [1115] + [i for i in range(1116,1126)],
               [1180] + [i for i in range(1180,1189)]] #idis ids of mutli projects
to_fix_home_index = [[i for i in range(13, 24)], [58,59,60,61],
                    [i for i in range(88,98)], [i for i in range(150,158)]] #corresponding indices

In [92]:
flat_list = [item for sublist in to_fix_home for item in sublist]

In [93]:
to_fix_home #Idis IDs of multi-projects

[[706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717],
 [934, 934, 935, 936, 937],
 [1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125],
 [1180, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188]]

In [94]:
#recode multi ids with a decimal counter
#ie 706, 707, 708.. 717 becomes 706, 706.01, 706.02,...
#returns 3 new ids to account for all different naming conventions
def recode_idis_id_multi(df, s_ids, to_fix, to_fix_index):
    flat_list = [item for sublist in to_fix for item in sublist] #single level list of all multi project ids
    flat_indexes = [item for sublist in to_fix_index for item in sublist]#corresponding indices
    s_reg_id = s_ids
    s_multi_id = []
    i = 0
    list_counter = 0
    while i < len(df):
        #if the ith id is in the multi project list and i is in the corresponding indices
        #start multi project and recode with decimal counter
        if s_ids[i] in flat_list and i in flat_indexes:
            part = to_fix[list_counter] #all ids for this multi-project
            counter = 0.00
            value = part[0]
            #for each id in this multi project, add a decimal counter to create a unique second id
            for j in range(1,len(part)):
                s_multi_id.append(value + counter)
                counter += .01
                i = i+1
            list_counter += 1
        #otherwise, simply use the original id
        else:
            s_multi_id.append(s_ids[i])
            i = i+1
    s_multi_first = [int(t) for t in s_multi_id]
    s_multi_end = [round(t - s,2) for t,s in zip(s_multi_id, s_multi_first)]
    return pd.DataFrame({'IDIS_ACTIVITY_ID':s_multi_id, 
                        'IDIS_ACTIVITY_ID_FIRST':s_multi_first, 'IDIS_ACTIVITY_ID_END':s_multi_end})

In [95]:
#call with HOME from projects, idis ids from projects, idis ids of multi project, corresponding index
df_home_toadd = recode_idis_id_multi(df_house_home, s_proj_id, to_fix_home, to_fix_home_index)

In [96]:
#Add these additional ids as new columns rather than replacing
df_home_tomatch = pd.concat([df_house_home, df_home_toadd], axis = 1)

In [97]:
df_home_tomatch.head()

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome,IDIS_ACTIVITY_ID,IDIS_ACTIVITY_ID_FIRST,IDIS_ACTIVITY_ID_END
0,21204,0000Q/00025/009,1707 EDGERLY AVE,2007,6,Homeowner Rehabilitation,618,Completed,HOME,27033.46,27033.46,0.0,NaN,NaN,618.0,618,0.0
1,26763,0000U/00006/002,703 DARTMOUTH LN,2007,6,Homeowner Rehabilitation,634,Completed,HOME,30185.60,30185.60,0.0,NaN,NaN,634.0,634,0.0
2,21680,0000H/00047/005,1115 W WADDELL AVE,2007,6,Homeowner Rehabilitation,610,Completed,HOME,28678.19,28678.19,0.0,NaN,NaN,610.0,610,0.0
3,28935,0000X/00003/034,313 FORRESTAL LN,2007,6,Homeowner Rehabilitation,633,Completed,HOME,34694.47,34694.47,0.0,NaN,NaN,633.0,633,0.0
4,22320,00240/00003/024,1125 JOEL DR,2007,6,Homeowner Rehabilitation,600,Completed,HOME,30756.96,30756.96,0.0,NaN,NaN,600.0,600,0.0

In [98]:
s_home_tomatch_ids = df_home_tomatch['IDIS_ACTIVITY_ID_FIRST']

## manual fixing

In [99]:
df_home_tomatch.loc[s_home_tomatch_ids == 1163, 'IDIS_ACTIVITY_ID'].iloc[0] = 1162.0
df_home_tomatch.loc[s_home_tomatch_ids == 1163, 'IDIS_ACTIVITY_ID_FIRST'].iloc[0] = 1162
df_home_tomatch.loc[s_home_tomatch_ids == 1163, 'IDIS_ACTIVITY_ID_END'].iloc[0] = 0.0

In [100]:
df_home_tomatch.loc[136,'IDIS_ACTIVITY_ID'] = 1162.0
df_home_tomatch.loc[136,'IDIS_ACTIVITY_ID_FIRST'] = 1162
df_home_tomatch.loc[136,'IDIS_ACTIVITY_ID_END'] = 0.0
df_home_tomatch.loc[134,'IDIS_ACTIVITY_ID'] = 1162.1
df_home_tomatch.loc[134,'IDIS_ACTIVITY_ID_FIRST'] = 1162
df_home_tomatch.loc[134,'IDIS_ACTIVITY_ID_END'] = 0.1

In [101]:
df_home_tomatch['IDIS_ACTIVITY_ID_FIRST'].value_counts().head() # things are finally set
#Correct number of ids per multi project

706     11
1115    10
1180     9
934      4
1162     2
Name: IDIS_ACTIVITY_ID_FIRST, dtype: int64

In [102]:
df_home_tomatch.head()

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome,IDIS_ACTIVITY_ID,IDIS_ACTIVITY_ID_FIRST,IDIS_ACTIVITY_ID_END
0,21204,0000Q/00025/009,1707 EDGERLY AVE,2007,6,Homeowner Rehabilitation,618,Completed,HOME,27033.46,27033.46,0.0,NaN,NaN,618.0,618,0.0
1,26763,0000U/00006/002,703 DARTMOUTH LN,2007,6,Homeowner Rehabilitation,634,Completed,HOME,30185.60,30185.60,0.0,NaN,NaN,634.0,634,0.0
2,21680,0000H/00047/005,1115 W WADDELL AVE,2007,6,Homeowner Rehabilitation,610,Completed,HOME,28678.19,28678.19,0.0,NaN,NaN,610.0,610,0.0
3,28935,0000X/00003/034,313 FORRESTAL LN,2007,6,Homeowner Rehabilitation,633,Completed,HOME,34694.47,34694.47,0.0,NaN,NaN,633.0,633,0.0
4,22320,00240/00003/024,1125 JOEL DR,2007,6,Homeowner Rehabilitation,600,Completed,HOME,30756.96,30756.96,0.0,NaN,NaN,600.0,600,0.0

In [103]:
#s_proj_id = df_house_home['IDIS Activity ID'] #naming is a bit confusing unfortunately
#s_home_id = df_home['IDIS Activity']

In [104]:
s_home_id.value_counts().head()

1150    1
1193    1
1184    1
1185    1
1186    1
Name: IDIS Activity, dtype: int64

In [105]:
df_home.head()

,Tenure Type,Activity Type,Grantee,IDIS Activity,Activity Address,Activity Status,Status Date,Total Units,Home Units,Initial Funding Date,Committed Amount,Drawn Amount,PCT
0,Rental,NEW CONSTRUCTION,39508,28,"720 Bonny View Ave , Albany GA, 31705",Completed,6/1/96,4,4,5/8/95,"$171,421.03","$171,421.03",100.00%
1,Rental,NEW CONSTRUCTION,39508,178,"302 Adkins St , Albany GA, 31705",Completed,7/2/97,13,4,7/1/97,"$23,987.70","$23,987.70",100.00%
2,Rental,NEW CONSTRUCTION,39508,285,"700 N Davis St , Albany GA, 31701",Completed,4/1/02,4,4,5/10/01,"$281,081.26","$281,081.26",100.00%
3,Rental,NEW CONSTRUCTION,39508,286,"215 N Broadway St , Albany GA, 31705",Completed,8/1/04,24,24,5/10/01,"$1,804,882.55","$1,804,882.55",100.00%
4,Rental,NEW CONSTRUCTION,39508,367,"208-212 SOUTH MADISON AND 506, 527 HIGHLAND ,...",Completed,11/1/04,6,6,5/31/03,"$534,569.40","$534,569.40",100.00%

In [106]:
df_home[s_home_id==706].index[0]

8

In [107]:
df_home[s_home_id==706]['Status Date'].iloc[0]

'7/19/09'

In [108]:
df_home[df_home['Initial Funding Date'].isna()]

Empty DataFrame
Columns: [Tenure Type, Activity Type, Grantee, IDIS Activity, Activity Address, Activity Status, Status Date, Total Units, Home Units, Initial Funding Date, Committed Amount, Drawn Amount, PCT]
Index: []

In [109]:
df_home.iloc[8]

Tenure Type                                                        Rental
Activity Type                                            NEW CONSTRUCTION
Grantee                                                             39508
IDIS Activity                                                         706
Activity Address        400 BLOCK OF THE NORTHERN BOUNDARY OF EBONY L ...
Activity Status                                                 Completed
Status Date                                                       7/19/09
Total Units                                                            55
Home Units                                                             11
Initial Funding Date                                              7/16/09
Committed Amount                                             $209,189.00
Drawn Amount                                                 $209,189.00
PCT                                                               100.00%
Name: 8, dtype: object

In [110]:
#add in initial funding and status date
s_initial_funding_date = []
s_status_funding_date = []
for i in range(len(df_home_tomatch)):
    record = df_home_tomatch.iloc[i]['IDIS_ACTIVITY_ID_FIRST'] #from home
    initial = df_home[s_home_id==record]['Initial Funding Date'].iloc[0] #from pr22
    status = df_home[s_home_id==record]['Status Date'].iloc[0] #from pr22
    s_initial_funding_date.append(initial)
    s_status_funding_date.append(status)

In [111]:
#add initial funding and status date as separate columns
df_home_append = pd.DataFrame({'INIT_DATE':s_initial_funding_date,
                              'STAT_DATE':s_status_funding_date})

In [112]:
df_home_full = pd.concat([df_home_tomatch, df_home_append], axis=1) #

In [113]:
df_cdbg_full = df_house_cdbg

In [114]:
df_cdbg_full.head()

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome,INIT_DATE,STAT_DATE
0,26627,NaN,1008 E RESIDENCE AVE,2007,7,Emergency Repairs,578,Completed,CDBG,5671.14,5671.14,0.0,NaN,NaN,03/08/2008,4/17/2008
1,25739,NaN,1100 SWIFT ST,2007,5,Energy Efficiency,619,Completed,CDBG,4580.04,4580.04,0.0,NaN,NaN,06/03/2008,6/30/2008
2,21679,NaN,1117 W WADDELL AVE,2007,5,Energy Efficiency,607,Completed,CDBG,3977.52,3977.52,0.0,NaN,NaN,06/02/2008,6/30/2008
3,5461,NaN,1223 E BROAD AVE,2007,7,Emergency Repairs,575,Completed,CDBG,4776.14,4776.14,0.0,NaN,NaN,03/08/2008,4/16/2008
4,25773,NaN,1316 E 4TH AVE,2007,7,Emergency Repairs,613,Completed,CDBG,6934.40,6934.40,0.0,NaN,NaN,06/03/2008,4/9/2009

In [115]:
old = df_cdbg_full['IDIS Activity ID']
full = df_cdbg_full['IDIS Activity ID'].astype(float)
first = df_cdbg_full['IDIS Activity ID']
end = [0]*564

In [116]:
# error
#df_cdbg_full.drop('OLD_IDIS_ID', axis=1, inplace=True)
df_cdbg_full.drop('IDIS_ACTIVITY_ID', axis=1, inplace=True, errors='ignore')
df_cdbg_full.drop('IDIS_ACTIVITY_ID_FIRST', axis=1, inplace=True, errors='ignore')
df_cdbg_full.drop('IDIS_ACTIVITY_ID_END', axis=1, inplace=True, errors='ignore')

/home/mirabel/Documents/cds/cds_env/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [117]:
#df_cdbg_full.insert(14, "OLD_IDIS_ID", old)
df_cdbg_full.insert(15, "IDIS_ACTIVITY_ID", full)
df_cdbg_full.insert(16, "IDIS_ACTIVITY_ID_FIRST", first)
df_cdbg_full.insert(17, "IDIS_ACTIVITY_ID_END", end)

In [118]:
df_cdbg_full.head()

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome,INIT_DATE,IDIS_ACTIVITY_ID,IDIS_ACTIVITY_ID_FIRST,IDIS_ACTIVITY_ID_END,STAT_DATE
0,26627,NaN,1008 E RESIDENCE AVE,2007,7,Emergency Repairs,578,Completed,CDBG,5671.14,5671.14,0.0,NaN,NaN,03/08/2008,578.0,578,0,4/17/2008
1,25739,NaN,1100 SWIFT ST,2007,5,Energy Efficiency,619,Completed,CDBG,4580.04,4580.04,0.0,NaN,NaN,06/03/2008,619.0,619,0,6/30/2008
2,21679,NaN,1117 W WADDELL AVE,2007,5,Energy Efficiency,607,Completed,CDBG,3977.52,3977.52,0.0,NaN,NaN,06/02/2008,607.0,607,0,6/30/2008
3,5461,NaN,1223 E BROAD AVE,2007,7,Emergency Repairs,575,Completed,CDBG,4776.14,4776.14,0.0,NaN,NaN,03/08/2008,575.0,575,0,4/16/2008
4,25773,NaN,1316 E 4TH AVE,2007,7,Emergency Repairs,613,Completed,CDBG,6934.40,6934.40,0.0,NaN,NaN,06/03/2008,613.0,613,0,4/9/2009

In [119]:
df_home_full.head()

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome,IDIS_ACTIVITY_ID,IDIS_ACTIVITY_ID_FIRST,IDIS_ACTIVITY_ID_END,INIT_DATE,STAT_DATE
0,21204,0000Q/00025/009,1707 EDGERLY AVE,2007,6,Homeowner Rehabilitation,618,Completed,HOME,27033.46,27033.46,0.0,NaN,NaN,618.0,618,0.0,6/3/08,9/29/09
1,26763,0000U/00006/002,703 DARTMOUTH LN,2007,6,Homeowner Rehabilitation,634,Completed,HOME,30185.60,30185.60,0.0,NaN,NaN,634.0,634,0.0,7/7/08,12/22/09
2,21680,0000H/00047/005,1115 W WADDELL AVE,2007,6,Homeowner Rehabilitation,610,Completed,HOME,28678.19,28678.19,0.0,NaN,NaN,610.0,610,0.0,6/2/08,9/29/09
3,28935,0000X/00003/034,313 FORRESTAL LN,2007,6,Homeowner Rehabilitation,633,Completed,HOME,34694.47,34694.47,0.0,NaN,NaN,633.0,633,0.0,7/7/08,12/23/09
4,22320,00240/00003/024,1125 JOEL DR,2007,6,Homeowner Rehabilitation,600,Completed,HOME,30756.96,30756.96,0.0,NaN,NaN,600.0,600,0.0,5/19/08,9/29/09

In [120]:
set(df_cdbg_full).difference(set(df_home_full)) #Sanity check for merge: are the columns the same?

set()

In [121]:
df_cdbg_full.shape

(564, 19)

In [122]:
df_home_full.shape

(286, 19)

In [123]:
df_full = pd.concat([df_home_full, df_cdbg_full], sort=False)
df_full.index = range(len(df_full))

In [ ]:
#df_full.to_csv(path + 'ToDatabase/TotalHouse_v05.csv', index=False)
#df_full = pd.read_csv(path + 'ToDatabase/TotalHouse_v05.csv')

#### Make dates in the same format

In [129]:
home = df_full[df_full['Program'] == "HOME"]

In [130]:
cdbg = df_full[df_full['Program'] == "CDBG"]

In [131]:
cdbg.head(5)

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome,IDIS_ACTIVITY_ID,IDIS_ACTIVITY_ID_FIRST,IDIS_ACTIVITY_ID_END,INIT_DATE,STAT_DATE
286,26627,NaN,1008 E RESIDENCE AVE,2007,7,Emergency Repairs,578,Completed,CDBG,5671.14,5671.14,0.0,NaN,NaN,578.0,578,0.0,03/08/2008,4/17/2008
287,25739,NaN,1100 SWIFT ST,2007,5,Energy Efficiency,619,Completed,CDBG,4580.04,4580.04,0.0,NaN,NaN,619.0,619,0.0,06/03/2008,6/30/2008
288,21679,NaN,1117 W WADDELL AVE,2007,5,Energy Efficiency,607,Completed,CDBG,3977.52,3977.52,0.0,NaN,NaN,607.0,607,0.0,06/02/2008,6/30/2008
289,5461,NaN,1223 E BROAD AVE,2007,7,Emergency Repairs,575,Completed,CDBG,4776.14,4776.14,0.0,NaN,NaN,575.0,575,0.0,03/08/2008,4/16/2008
290,25773,NaN,1316 E 4TH AVE,2007,7,Emergency Repairs,613,Completed,CDBG,6934.40,6934.40,0.0,NaN,NaN,613.0,613,0.0,06/03/2008,4/9/2009

In [132]:
cdbg.index = range(len(cdbg))

In [133]:
#Change start date
for i in range(len(cdbg)):
    record_stat = cdbg.iloc[i]['STAT_DATE']
    if pd.isna(record_stat):
        print(i)
    else:
        spl = record_stat.split("/")
        year_spl = spl[2]
        if year_spl[0:2] == '20':
            year_spl = year_spl.replace('20',"") #Remove the '20' from the date 2017->17
            full_d = spl[0] + "/" + spl[1] + "/" + year_spl
            #print(full_d)
            cdbg.loc[i, 'STAT_DATE'] = full_d

409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
523
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563

In [134]:
cdbg.head()

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome,IDIS_ACTIVITY_ID,IDIS_ACTIVITY_ID_FIRST,IDIS_ACTIVITY_ID_END,INIT_DATE,STAT_DATE
0,26627,NaN,1008 E RESIDENCE AVE,2007,7,Emergency Repairs,578,Completed,CDBG,5671.14,5671.14,0.0,NaN,NaN,578.0,578,0.0,03/08/2008,4/17/08
1,25739,NaN,1100 SWIFT ST,2007,5,Energy Efficiency,619,Completed,CDBG,4580.04,4580.04,0.0,NaN,NaN,619.0,619,0.0,06/03/2008,6/30/08
2,21679,NaN,1117 W WADDELL AVE,2007,5,Energy Efficiency,607,Completed,CDBG,3977.52,3977.52,0.0,NaN,NaN,607.0,607,0.0,06/02/2008,6/30/08
3,5461,NaN,1223 E BROAD AVE,2007,7,Emergency Repairs,575,Completed,CDBG,4776.14,4776.14,0.0,NaN,NaN,575.0,575,0.0,03/08/2008,4/16/08
4,25773,NaN,1316 E 4TH AVE,2007,7,Emergency Repairs,613,Completed,CDBG,6934.40,6934.40,0.0,NaN,NaN,613.0,613,0.0,06/03/2008,4/9/09

In [135]:
#Change initial funding date
for i in range(len(cdbg)):
    record = cdbg.iloc[i]['INIT_DATE']
    if pd.isna(record):
        print(i)
    else:
        record_sp = record.split("/")
        month = record_sp[0]
        if month[0] == '0':
            month = month.replace("0","")# fix month 07->7
            #cdbg.loc[i, 'INIT_DATE'] = month
        year = record_sp[2]
        if year[0:2] == '20':
            year = year.replace("20", "") #fix year 2017->17
        date = month + "/" + record_sp[1] + "/" + year
        cdbg.loc[i, 'INIT_DATE'] = date

563

In [136]:
cdbg.head()

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome,IDIS_ACTIVITY_ID,IDIS_ACTIVITY_ID_FIRST,IDIS_ACTIVITY_ID_END,INIT_DATE,STAT_DATE
0,26627,NaN,1008 E RESIDENCE AVE,2007,7,Emergency Repairs,578,Completed,CDBG,5671.14,5671.14,0.0,NaN,NaN,578.0,578,0.0,3/08/08,4/17/08
1,25739,NaN,1100 SWIFT ST,2007,5,Energy Efficiency,619,Completed,CDBG,4580.04,4580.04,0.0,NaN,NaN,619.0,619,0.0,6/03/08,6/30/08
2,21679,NaN,1117 W WADDELL AVE,2007,5,Energy Efficiency,607,Completed,CDBG,3977.52,3977.52,0.0,NaN,NaN,607.0,607,0.0,6/02/08,6/30/08
3,5461,NaN,1223 E BROAD AVE,2007,7,Emergency Repairs,575,Completed,CDBG,4776.14,4776.14,0.0,NaN,NaN,575.0,575,0.0,3/08/08,4/16/08
4,25773,NaN,1316 E 4TH AVE,2007,7,Emergency Repairs,613,Completed,CDBG,6934.40,6934.40,0.0,NaN,NaN,613.0,613,0.0,6/03/08,4/9/09

In [137]:
home.head()

,PrimaryID,Parcel ID,Address,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance,Multihome_Type,Multihome,IDIS_ACTIVITY_ID,IDIS_ACTIVITY_ID_FIRST,IDIS_ACTIVITY_ID_END,INIT_DATE,STAT_DATE
0,21204,0000Q/00025/009,1707 EDGERLY AVE,2007,6,Homeowner Rehabilitation,618,Completed,HOME,27033.46,27033.46,0.0,NaN,NaN,618.0,618,0.0,6/3/08,9/29/09
1,26763,0000U/00006/002,703 DARTMOUTH LN,2007,6,Homeowner Rehabilitation,634,Completed,HOME,30185.60,30185.60,0.0,NaN,NaN,634.0,634,0.0,7/7/08,12/22/09
2,21680,0000H/00047/005,1115 W WADDELL AVE,2007,6,Homeowner Rehabilitation,610,Completed,HOME,28678.19,28678.19,0.0,NaN,NaN,610.0,610,0.0,6/2/08,9/29/09
3,28935,0000X/00003/034,313 FORRESTAL LN,2007,6,Homeowner Rehabilitation,633,Completed,HOME,34694.47,34694.47,0.0,NaN,NaN,633.0,633,0.0,7/7/08,12/23/09
4,22320,00240/00003/024,1125 JOEL DR,2007,6,Homeowner Rehabilitation,600,Completed,HOME,30756.96,30756.96,0.0,NaN,NaN,600.0,600,0.0,5/19/08,9/29/09

In [138]:
df_full = pd.concat([home, cdbg])

In [ ]:
df_full.to_csv(path + 'ToDatabase/TotalHouse_v06.csv', index=False)