In [1]:
import numpy as np
import pandas as pd

In [9]:
infile = '~/Dropbox (GaTech)/CDS-2019-AlbanyHub/Raw-Data/Housing/All CED Funded Projects 2007-2017.xlsx'
xlsx = pd.ExcelFile(infile)
df1 = pd.read_excel(xlsx, 'HOME Funded Projects')
df2 = pd.read_excel(xlsx, 'CDBG Funded Projects')

In [3]:
df = pd.concat([df1, df2])
df.index = range(len(df))
df.head()

,Parcel ID,Address,City,State,XY Coordinates,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance
0,0000Q/00025/009,1707 Edgerly Avenue,Albany,GA,"31.5735022, -84.191293",2007,6,Homeowner Rehabilitation,618,Completed,HOME,27033.46,27033.46,0.0
1,0000U/00006/002,703 Dartmouth,Albany,GA,"31.5882777, -84.1367938",2007,6,Homeowner Rehabilitation,634,Completed,HOME,30185.60,30185.60,0.0
2,0000H/00047/005,1115 W. Waddell Avenue,Albany,GA,"31.5669637, -84.1782082",2007,6,Homeowner Rehabilitation,610,Completed,HOME,28678.19,28678.19,0.0
3,0000X/00003/034,313 Forrestal,Albany,GA,"31.5785109, -84.0824103",2007,6,Homeowner Rehabilitation,633,Completed,HOME,34694.47,34694.47,0.0
4,00240/00003/024,1125 Joel Drive,Albany,GA,"31.5611455, -84.2078905",2007,6,Homeowner Rehabilitation,600,Completed,HOME,30756.96,30756.96,0.0

In [4]:
df1.to_csv('HOME_Funded_Projects.csv', index = False)
df2.to_csv('CDBG_Funded_Projects.csv', index = False)
df.to_csv('Total_Funded_Projects.csv', index = False)

## Check

In [5]:
df1 = pd.read_csv('HOME_Funded_Projects.csv')
df2 = pd.read_csv('CDBG_Funded_Projects.csv')
df = pd.read_csv('Total_Funded_Projects.csv')

In [6]:
df1.shape

(286, 14)

In [7]:
df1.head()

,Parcel ID,Address,City,State,XY Coordinates,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance
0,0000Q/00025/009,1707 Edgerly Avenue,Albany,GA,"31.5735022, -84.191293",2007,6,Homeowner Rehabilitation,618,Completed,HOME,27033.46,27033.46,0.0
1,0000U/00006/002,703 Dartmouth,Albany,GA,"31.5882777, -84.1367938",2007,6,Homeowner Rehabilitation,634,Completed,HOME,30185.60,30185.60,0.0
2,0000H/00047/005,1115 W. Waddell Avenue,Albany,GA,"31.5669637, -84.1782082",2007,6,Homeowner Rehabilitation,610,Completed,HOME,28678.19,28678.19,0.0
3,0000X/00003/034,313 Forrestal,Albany,GA,"31.5785109, -84.0824103",2007,6,Homeowner Rehabilitation,633,Completed,HOME,34694.47,34694.47,0.0
4,00240/00003/024,1125 Joel Drive,Albany,GA,"31.5611455, -84.2078905",2007,6,Homeowner Rehabilitation,600,Completed,HOME,30756.96,30756.96,0.0

In [8]:
df2.shape

(564, 14)

In [10]:
df2.head()

,Parcel ID,Address,City,State,XY Coordinates,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance
0,NaN,1008 East Residence,Albany,GA,NaN,2007,7,Emergency Repairs,578,Completed,CDBG,5671.14,5671.14,0.0
1,NaN,1100 Swift Street,Albany,GA,NaN,2007,5,Energy Efficiency,619,Completed,CDBG,4580.04,4580.04,0.0
2,NaN,1117 Waddell Avenue,Albany,GA,NaN,2007,5,Energy Efficiency,607,Completed,CDBG,3977.52,3977.52,0.0
3,NaN,1223 East Broad,Albany,GA,NaN,2007,7,Emergency Repairs,575,Completed,CDBG,4776.14,4776.14,0.0
4,NaN,1316 E. Fourth Avenue,Albany,GA,NaN,2007,7,Emergency Repairs,613,Completed,CDBG,6934.40,6934.40,0.0

In [11]:
df.shape

(850, 14)

In [12]:
df.head()

,Parcel ID,Address,City,State,XY Coordinates,Plan Year,IDIS Project,Project,IDIS Activity ID,Activity Status,Program,Funded Amount,Draw Amount,Balance
0,0000Q/00025/009,1707 Edgerly Avenue,Albany,GA,"31.5735022, -84.191293",2007,6,Homeowner Rehabilitation,618,Completed,HOME,27033.46,27033.46,0.0
1,0000U/00006/002,703 Dartmouth,Albany,GA,"31.5882777, -84.1367938",2007,6,Homeowner Rehabilitation,634,Completed,HOME,30185.60,30185.60,0.0
2,0000H/00047/005,1115 W. Waddell Avenue,Albany,GA,"31.5669637, -84.1782082",2007,6,Homeowner Rehabilitation,610,Completed,HOME,28678.19,28678.19,0.0
3,0000X/00003/034,313 Forrestal,Albany,GA,"31.5785109, -84.0824103",2007,6,Homeowner Rehabilitation,633,Completed,HOME,34694.47,34694.47,0.0
4,00240/00003/024,1125 Joel Drive,Albany,GA,"31.5611455, -84.2078905",2007,6,Homeowner Rehabilitation,600,Completed,HOME,30756.96,30756.96,0.0